<style>
    .mtz-vlc-dakbp{
        width: 350px;
        height: 200px;
    }
    .btn-white.btn-info.active, .btn-white.btn-info:active{
        background-color: #91B8D0!important;
        border-color: #8fbcd9;
        color: #FFF!important;
    }
</style>
<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_assembly_house_decorate/index","house_id=$house_id")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            楼盘管理 / 户型管理 / 装修管理
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                <input type="hidden" value="{$house_id}" name="house_id">
                {:input('id')?'<input type="hidden" value="'.$info['program_id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="name" value="{$info.name|default=''}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-tags">装修特点</label>

                    <div class="col-sm-9">
                        <div class="inline">
                            <input type="text" name="tag" id="form-field-tags" value="" placeholder="" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">方案标签:</label>
                    <div class="col-sm-9 no-padding-left">

                    {volist name="label" id="vo"}
                        <div class="col-sm-9">
                        <div data-toggle="buttons" class="btn-group">
                            {volist name="vo.answer" id="label_vo"}
                            <label class="btn btn-sm btn-white btn-info
                            {volist name="info.label" id="label_vo2"}
                            {if condition = "$label_vo.id == $label_vo2"} active {/if}
                            {/volist}">
                            <input type="checkbox" value="{$label_vo.id}" name="label[]"
                                   {volist name="info.label" id="label_vo2"}
                                   {if condition = "$label_vo.id == $label_vo2"} checked {/if}
                            {/volist}"/>
                                <i class="icon-only ace-icon fa bigger-110">{$label_vo.name}</i>
                            </label>
                            {/volist}
                        </div>
                        </div>
                    {/volist}
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">ShapeSpark地址:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="shape_spark_url" value="{$info.shape_spark_url|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">上传视频:</label>
                    <div class="fileinput-button col-sm-3" id="container">
                        <div class="thumbnail" id="thumbnail_video" style="border: 0">
                            <div class="cover" id="pickfiles">
                                {if condition="isset($info.video) AND $info.video neq null"}
                                <video src="{$imgPre}{$info.video}"></video>
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <!--<a id="pickfiles" href="#">上传</a>-->
                        <!--<input class="fileupload" type="file" name="file" data-type="thumbnail_video" data-input="video_input"/>-->
                    </div>
                </div>
                <input type="hidden" name="video" id="video_input" value="{$info.video|default=''}"/>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">上传效果图:</label>
                    <div class="fileinput-button col-sm-3">
                        <div class="thumbnail" id="thumbnail" style="border: 0">
                            <div class="cover">
                                {if condition="isset($info.img_src) && $info.img_src neq ''"}
                                <img src="{$imgPre}{$info.img_src}?imageView2/0/w/350/h/200 " width="350" height="200" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="file">
                        <div id="img_src_url"></div>
                        <!-- The container for the uploaded files -->
                        <div id="files" class="files"></div>
                    </div>
                </div>
                <input type="hidden" name="img_src" id="image_input" value="{$info.img_src|default=''}"/>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFile"  input_id="image_input"/}
{include file="public/qiniuUpload"/}
{include file="public/mask"/}
<script>
    $(function(){
        $('#sub-btn').on('click',function () {

            $('form').submit();

        });

        $('#product_param').on('click','.del-btn',function () {
            $(this).closest('p').remove();
        });

        var tag_input = $('#form-field-tags');
        var tags = "{$info.tag}";
        var tags = tags.split(",");

        try{
            tag_input.tag(
                {
                    placeholder:tag_input.attr('placeholder'),
                    // source: ace.vars['US_STATES'],
                }
            )

            for(var i = 0, len = tags.length; i < len; i++){
                if (tags[i].length == 0){
                    continue;
                }
                //programmatically add/remove a tag
                var $tag_obj = $('#form-field-tags').data('tag');
                $tag_obj.add(tags[i]);

                var index = $tag_obj.inValues('some tag');
                $tag_obj.remove(index);
            }

        }
        catch(e) {
            //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
            tag_input.after('<textarea id="'+tag_input.attr('id')+'" name="'+tag_input.attr('name')+'" rows="3">'+tag_input.val()+'</textarea>').remove();
            //autosize($('#form-field-tags'));
        }
    })
</script>