<div class="page-content">
    <div class="col-sm-5 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_cabinet_color/edit","id=$cabinet_id")}'">
            编辑
            <i class="icon-reply icon-only"></i>
        </span>

        <span class="btn btn-sm btn-info2 pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_cabinet_color/quickSet","id=$cabinet_id")}'">
        快速添加所有颜色
        <i class="icon-reply icon-only"></i>
        </span>

        <span class="btn btn-sm btn-danger pull-right"
              onclick="return alert_del('{:url(\"/admin/customized_cabinet_color/quickDel\",\"id=$cabinet_id\")}', '确定要删除所有颜色吗？（包括柜体门颜色也会被删除）');"
        >
        快速删除所有颜色
        <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <!--<div class="col-sm-2 pull-right">-->
        <!--<span class="btn btn-sm btn-danger pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_cabinet_color/quickSet","id=$cabinet_id")}'">-->
        <!--快速添加所有颜色-->
        <!--<i class="icon-reply icon-only"></i>-->
        <!--</span>-->
    <!--</div>-->
    <!--<div class="col-sm-2 pull-right">-->
        <!--<span class="btn btn-sm btn-danger pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_cabinet_color/quickDel","id=$cabinet_id")}'">-->
        <!--快速删除所有颜色-->
        <!--<i class="icon-reply icon-only"></i>-->
        <!--</span>-->
    <!--</div>-->
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>颜色名称</th>
                                <th>颜色缩略图</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.color_name}</td>
                                <td><img src="{$imgPre}{$vo.img_src_row_light}?imageView2/0/w/120/h/120"/></td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a href='{:url("/admin/customized_cabinet_door_color/index","id=$vo[cabinet_color_id]")}' title="查看柜体门颜色">
                                           <span class="btn btn-xs btn-corner">
                                                <i class="ace-icon fa fa-pie-chart bigger-120"></i>
                                            </span>
                                        </a>
                                        <a href='javascript:void(0)'  title="删除" onclick="return alert_del('{:url(\"/admin/customized_cabinet_color/del\",\"id=$vo[cabinet_color_id]\")}', '确认要删除『 id={$vo.cabinet_color_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/customized_cabinet_color/edit\",\"id=$vo[cabinet_color_id]\")}', '确认要删除『 id={$vo.cabinet_color_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



