<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_cabinet/add")}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>柜体名称</th>
                                <th>柜体类型</th>
                                <th class="col-md-2">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.name}</td>
                                <td>{$vo.type}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a href='{:url("/admin/customized_cabinet_scene/index","cabinet_id=$vo[cabinet_id]")}' title="查看场景">
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <!--<a href='{:url("/admin/customized_cabinet/edit","id=$vo[cabinet_id]")}' title="编辑">-->
                                           <!--<span class="btn btn-xs btn-info">-->
                                                <!--<i class="ace-icon fa fa-pencil bigger-120"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                        <a href='{:url("/admin/customized_cabinet_color/index","id=$vo[cabinet_id]")}' title="查看柜体颜色">
                                           <span class="btn btn-xs btn-corner">
                                                <i class="ace-icon fa fa-pie-chart bigger-120"></i>
                                            </span>
                                        </a>
                                        <!--<a href='{:url("/admin/customized_cabinet_environment/index","cabinet_id=$vo[cabinet_id]")}' title="查看柜体3D环境图片">-->
                                           <!--<span class="btn btn-xs btn-pink">-->
                                                <!--<i class="ace-icon fa fa-picture-o bigger-120"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                        <!--<a href='{:url("/admin/customized_cabinet_texture/index","cabinet_id=$vo[cabinet_id]")}' title="查看柜体材质图片">-->
                                            <!--<span class="btn btn-xs btn-warning">-->
                                                <!--<i class="ace-icon fa fa-database bigger-120"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                        <!--<a href='{:url("/admin/customized_cabinet_model/index","cabinet_id=$vo[cabinet_id]")}' title="查看柜体模型">-->
                                           <!--<span class="btn btn-xs btn-message">-->
                                                <!--<i class="ace-icon fa fa-modx bigger-120"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                        <!--<a href='javascript:void(0)'  title="删除" onclick="return alert_del('{:url(\"/admin/customized_cabinet/del\",\"id=$vo[cabinet_id]\")}', '确认要删除『 id={$vo.cabinet_id} 』这条记录吗？');">-->
                                           <!--<span class="btn btn-xs btn-danger" >-->
                                                <!--<i class="ace-icon fa fa-trash-o bigger-120"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/customized_cabinet/edit","id=$vo[cabinet_id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <!--<li>-->
                                                    <!--<a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/customized_cabinet/edit\",\"id=$vo[cabinet_id]\")}', '确认要删除『 id={$vo.cabinet_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">-->
                                                        <!--<span class="red">-->
                                                            <!--<i class="ace-icon fa fa-trash-o bigger-120"></i>-->
                                                        <!--</span>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



