<div class="page-content">
    <!--<div class="col-sm-6 pull-right">-->
        <!--<span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/user_black_list/add")}'">-->
            <!--添加-->
            <!--<i class="icon-reply icon-only"></i>-->
        <!--</span>-->
    <!--</div>-->
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="detail-col">ID</th>
                                <th>用户名</th>
                                <th>手机号码</th>
                                <th>
                                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                    封号开始时间
                                </th>
                                <th>
                                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                    封号结束时间
                                </th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.user_id}</td>
                                <td>{$vo.username}</td>
                                <td>{$vo.mobile}</td>
                                <td>{$vo.ban_begin_time != null ? date('Y-m-d H:i:s',$vo.ban_begin_time):''}</td>
                                <td>{$vo.ban_end_time != null ? date('Y-m-d H:i:s',$vo.ban_end_time):''}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="编辑" href='{:url("/admin/user_black_list/edit","id=$vo[id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="解除封号" href='javascript:void(0)' onclick="return alert_del('{:url(\"del\",\"id=$vo[id]\")}', '确认要解除『 id={$vo.user_id} 』这个用户的封号记录吗？');">
                                           <span class="btn btn-xs btn-danger">
                                                <i class="ace-icon fa fa-chain-broken bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}    
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->


