<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/user_black_list/index")}'">
        返回列表
        <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                封号管理
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom">
                <input type="hidden" value="{$info.id}" name="id">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 开始时间:</label>
                    <div class="col-sm-9">
                        <input type="text" name="ban_begin_time"
                               value="{if condition='isset($info) AND $info.ban_begin_time neq null'}{:date('Y-m-d H:i:s',$info.ban_begin_time)}{/if}"
                               class="ban-time col-xs-10 col-sm-5"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 结束时间:</label>
                    <div class="col-sm-9">
                        <input type="text" name="ban_end_time"
                               value="{if condition='isset($info) AND $info.ban_begin_time neq null'}{:date('Y-m-d H:i:s',$info.ban_end_time)}{/if}"
                               class="ban-time col-xs-10 col-sm-5"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" onclick="myfrom.submit()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/datetime"  classname="ban-time"/}