<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/activity/add")}'">
            添加活动
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">
        <form class="form-inline" role="form" id="activity-search">
            <div class="form-group">
                <label class="control-label no-padding-right">活动标题:</label>
                <input type="text" class="form-control" name="title" value="{$data['title']|default=''}" placeholder="请输入标题">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">审核状态:</label>
                <select name="status">
                    <option value="0" {if condition="isset($data['status']) AND $data['status'] eq 0"}selected{/if}>全部</option>
                    <option value="1" {if condition="isset($data['status']) AND $data['status'] eq 1"}selected{/if}>进行中</option>
                    <option value="2" {if condition="isset($data['status']) AND $data['status'] eq 2"}selected{/if}>已结束</option>
                </select>
            </div>
            <button type="button" class="pull-right btn" id="activity-search-btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>活动id</th>
                                <th>代表图</th>
                                <th>活动标题</th>
                                <th>活动开始日期</th>
                                <th>活动结束日期</th>
                                <th>报名截止日期</th>
                                <th>活动状态</th>
                                <th class="col-md-2">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.activity_id}</td>
                                <td><img src="{$imgPre}{$vo.bg_src}?imageView2/0/w/100/h/100"/></td>
                                <td>{$vo.title}</td>
                                <td>{:date('Y-m-d H:i',$vo.activity_begin_time)}</td>
                                <td>{:date('Y-m-d H:i',$vo.activity_end_time)}</td>
                                <td>{:date('Y-m-d H:i',$vo.end_time)}</td>
                                <th>{if condition="$vo.end_time gt time()"}进行中{else /}已结束{/if}</th>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/activity/detail","id=$vo[activity_id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="编辑" href='{:url("/admin/activity/edit","id=$vo[activity_id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/activity/del\",\"id=$vo[activity_id]\")}', '确认要删除『 id={$vo.activity_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="结束报名" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/activity/end\",\"id=$vo[activity_id]\")}', '确认要提前结束『 id={$vo.activity_id} 』这个活动报名吗？');">
                                        <span class="btn btn-xs btn-inverse" >
                                                <i class="ace-icon fa  fa-arrow-right bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="查看审核人员" href='{:url("/admin/activity_apply/index","activity_id=$vo[activity_id]")}'>
                                        <span class="btn btn-xs btn-success" >
                                                <i class="ace-icon fa  fa-list bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(function () {
        $('#activity-search-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/activity/validateData')}",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('#activity-search').submit();
                    }
                },
                error:function () {
                    $('#activity-search').submit();
                }
            })
        })
    })
</script>

