<div class="page-content">
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">
        <form class="form-inline" role="form" id="activity-search">
            <div class="form-group">
                <label class="control-label no-padding-right">申请活动:</label>
                <select name="activity_id">
                    <option value="0">全部</option>
                    {volist name="activities" id="vo"}
                    <option value="{$vo.activity_id}" {if condition="isset($data['activity_id']) AND $data['activity_id'] eq $vo.activity_id"}selected{/if}>{$vo.title}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">审核状态:</label>
                <select name="status">
                    <option value="ALL" {if condition="isset($data['status']) AND $data['status'] eq 'ALL'"}selected{/if}>全部</option>
                    <option value="wait" {if condition="isset($data['status']) AND $data['status'] eq 'wait'"}selected{/if}>审核中</option>
                    <option value="no" {if condition="isset($data['status']) AND $data['status'] eq 'no'"}selected{/if}>未通过</option>
                    <option value="yes" {if condition="isset($data['status']) AND $data['status'] eq 'yes'"}selected{/if}>已通过</option>
                </select>
            </div>
            <button type="button" class="pull-right btn" id="activity-search-btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>申请人</th>
                                <th>申请活动</th>
                                <th>手机号码</th>
                                <th>性别</th>
                                <th>申请状态</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.name}</td>
                                <td>{$vo.title}</td>
                                <td>{$vo.phone}</td>
                                <td>{$vo.gender}</td>
                                <th>{$statusMap[$vo.status]}</th>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/activity_apply/detail","id=$vo[id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        {if condition="$vo.status eq 'wait'"}
                                        <a title="不予通过" href='javascript:void(0)'
                                           onclick="return alert_del('{:url(\"/admin/activity_apply/stop\",\"id=$vo[id]\")}', '确认拒绝『 {$vo.name} 』这个申请吗？');">
                                        <span class="btn btn-xs btn-inverse" >
                                                <i class="ace-icon fa  fa-ban bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="通过审核" href='javascript:void(0)'
                                           onclick="return alert_del('{:url(\"/admin/activity_apply/pass\",\"id=$vo[id]\")}', '确认通过『 {$vo.name} 』这个申请吗');">
                                        <span class="btn btn-xs btn-success" >
                                                <i class="ace-icon fa fa-hand-peace-o fa- bigger-120"></i>
                                            </span>
                                        </a>
                                        {/if}
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->

</div><!-- /.page-content -->
<script>
    $(function () {
        $('#activity-search-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/activity/validateData')}",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('#activity-search').submit();
                    }
                },
                error:function () {
                    $('#activity-search').submit();
                }
            })
        })
    })
</script>

