<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/forum_article/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" name="myfrom" >
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">帖子标题:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.title|default=''}" disabled/>
                    </div>
                </div>    
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属模块:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.classify|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">发帖用户:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value='{$info.user.username|default=""}' disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">评论数:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value='{$info.comment|default=""}' disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否精华:</label>
                    <div class="col-sm-9">
                        <input type="radio" {if condition="$info.is_essence eq 1"}checked{/if} disabled/>是
                        <input type="radio" {if condition="$info.is_essence eq 0"}checked{/if} disabled/>否
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否置顶:</label>
                    <div class="col-sm-9">
                        <input type="radio" {if condition="$info.is_top eq 1"}checked{/if} disabled/>是
                        <input type="radio" {if condition="$info.is_top eq 0"}checked{/if} disabled/>否
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否官方:</label>
                    <div class="col-sm-9">
                        <input type="radio" {if condition="$info.is_official eq 1"}checked{/if} disabled/>是
                        <input type="radio" {if condition="$info.is_official eq 0"}checked{/if} disabled/>否
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">帖子详情:</label>
                    <div class="col-sm-9">
                        <textarea id="content" name="content" style="height: 500px">{$info.content}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/wangEditor"  textarea="content"/}