<div class="page-content">
    {if condition="isset($is_deleted) AND $is_deleted eq 0"}
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/forum_article/add")}'">
            发布官方帖子
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    {/if}
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="page-header">
        <form class="form-inline" role="form" id="article-search">
            <div class="form-group">
                <select id="field" name="field">
                    <option value="username" {if condition="isset($data['field']) && $data['field'] eq 'username'"}selected{/if}>用户</option>
                    <option value="title" {if condition="isset($data['field']) && $data['field'] eq 'title'"}selected{/if}>标题</option>
                </select>
                :
                <input type="text" class="form-control" id="field-name" name="{$data['field']|default='username'}"
                       value="{if condition="isset($data['field'])"}{$data[$data['field']]}{/if}" placeholder="请输入搜索内容">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">所属模块:</label>
                <select name="classify">
                    <option value="ALL">全部</option>
                    {volist name="$classify" id="vo"}
                    <option value="{$key}" {if condition="isset($data['classify']) AND $data['classify'] eq $key"}selected{/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">是否精华:</label>
                <select name="is_essence">
                    <option value="99">全部</option>
                    <option value="1" {if condition="isset($data['is_essence']) AND $data['is_essence'] == 1"}selected{/if}>是</option>
                    <option value="0" {if condition="isset($data['is_essence']) AND $data['is_essence'] == 0"}selected{/if}>否</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">是否置顶:</label>
                <select name="is_top">
                    <option value="99">全部</option>
                    <option value="1" {if condition="isset($data['is_top']) AND $data['is_top'] == 1"}selected{/if}>是</option>
                    <option value="0" {if condition="isset($data['is_top']) AND $data['is_top'] == 0"}selected{/if}>否</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">是否官方:</label>
                <select name="is_official">
                    <option value="99">全部</option>
                    <option value="1" {if condition="isset($data['is_official']) AND $data['is_official'] == 1"}selected{/if}>是</option>
                    <option value="0" {if condition="isset($data['is_official']) AND $data['is_official'] == 0"}selected{/if}>否</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">发布时间:</label>
                <input type="text" class="form-control create-time" name="begin_time" value="{$data['begin_time']|default=''}" placeholder="开始时间">到
                <input type="text" class="form-control create-time" name="end_time" value="{$data['end_time']|default=''}" placeholder="结束时间">
            </div>
            <button type="button" class="pull-right btn" id="article-search-btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>帖子id</th>
                                <th>帖子标题</th>
                                <th>所属模块</th>
                                <th>发帖用户</th>
                                <th>评论数</th>
                                <th class="col-md-2">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.article_id}</td>
                                <td>
                                    {if condition="$vo.is_essence eq 1"}
                                    [精]
                                    {/if}
                                    {if condition="$vo.is_top eq 1"}
                                    [顶]
                                    {/if}
                                    {if condition="$vo.is_official eq 1"}
                                    [官]
                                    {/if}
                                    {$vo.title}</td>
                                <td>{$classify[$vo.classify]}</td>
                                <td>{$vo.username|default='易道官方'}</td>
                                <td>{$vo.comment_count}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/forum_article/detail","id=$vo[article_id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="编辑" href='{:url("/admin/forum_article/edit","id=$vo[article_id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        {if condition="isset($is_deleted) AND $is_deleted eq 0"}
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/forum_article/del\",\"id=$vo[article_id]\")}', '确认要删除『 id={$vo.article_id} 』这个帖子吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                        {else /}
                                        <a title="恢复" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/forum_article/revert\",\"id=$vo[article_id]\")}', '确认要恢复『 id={$vo.article_id} 』这个帖子吗？');">
                                        <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa  fa-backward bigger-120"></i>
                                            </span>
                                        </a>
                                        {/if}
                                        <a title="查看回复" href='{:url("/admin/forum_article/showReplys","article_id=$vo[article_id]")}'>
                                           <span class="btn btn-xs btn-inverse">
                                                <i class="ace-icon fa fa-list bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="设置精华" href="javascript:void(0)" class="set-essence" data-id="{$vo.article_id}">
                                           <span class="btn btn-xs btn-success">
                                                <i class="ace-icon fa fa-cog bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="设置置顶" href='javascript:void(0)' class="set-top" data-id="{$vo.article_id}">
                                           <span class="btn btn-xs btn-warning">
                                                <i class="ace-icon fa fa-chevron-up bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/datetime"  classname="create-time"/}
<script>
    $(function () {
        function changeStatus(id,action) {
            $.ajax({
                url:"{:url('/admin/forum_article/')}"+ action,
                data:'id='+id,
                type:'POST',
                success:function(result){
                    alert(result.msg);
                }
            })
        }

        $('.set-essence').on('click',function () {
            changeStatus($(this).attr('data-id'),'setEssence');
        })

        $('.set-top').on('click',function () {
            changeStatus($(this).attr('data-id'),'setTop');
        })

        $('#field').change(function () {
            $('#field-name').attr('name',$(this).val());
        })

        $('#article-search-btn').on('click',function () {
            $.ajax({
                url:'/admin/forum_article/validateData',
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('#article-search').submit();
                    }
                },
                error:function () {
                    $('#article-search').submit();
                }
            })
        })
    })
</script>

