<link rel="stylesheet" href="__CSS__/imgbox.css">
<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/forum_article/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['article_id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">帖子标题:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="title" value="{$info.title|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属模块:</label>
                    <div class="col-sm-9">
                        <select name="classify" class="col-xs-10 col-sm-2">
                            {volist name="classify" id="vo"}
                            <option value="{$key}"
                                    {if condition="(isset($info.classify)) AND ($info.classify eq $key)"}selected{/if}
                            >{$vo}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否精华:</label>
                    <div class="col-sm-9">
                        <input type="radio" name="is_essence"
                               {if condition="(isset($info.is_essence)) AND ($info.is_essence eq 1)"}checked{/if} value="1"/>是
                        <input type="radio" name="is_essence"
                               {if condition="(isset($info.is_essence)) AND ($info.is_essence eq 0) OR !isset($info)"}checked{/if} value="0"/>否
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否置顶:</label>
                    <div class="col-sm-9">
                        <input type="radio" name="is_top"
                               {if condition="(isset($info.is_top)) AND ($info.is_top eq 1)"}checked{/if} value="1"/>是
                        <input type="radio" name="is_top"
                               {if condition="(isset($info.is_top)) AND ($info.is_top eq 0) OR !isset($info)"}checked{/if} value="0"/>否
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">帖子详情:</label>
                    <div class="col-sm-9" id="editor-container">
                        <textarea id="content" name="content" style="height:500px;">{$info.content|default=""}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/wangEditor"  textarea="content"/}
<script>
    $(function(){
        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/forum_article')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    })
</script>