<style>
    .tag_class{
        cursor:pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space:nowrap;
        width:70%;
        display:inline-block;
    }
</style>
<div class="page-content">
    <div class="col-sm-6 pull-right">
        <div class="col-sm-2 pull-right">
            <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_assembly_house_decorate/index","house_id=$data[house_id]")}'">
            返回装修列表
            <i class="icon-reply icon-only"></i>
            </button>
        </div>

        <div class="col-sm-1 pull-right">
            <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_decorate_product/add","program_id=$data[program_id]&room_id=$data[room_id]")}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
        </div>
    </div>
    <div class="page-header">
        <h1>
            楼盘管理 / 户型管理 / 装修管理 / 易家整配
        </h1>
    </div><!-- /.page-header -->

    <div class="page-header">
        <form class="form-inline" role="form" name="search">
            <input type="hidden" class="form-control" name="program_id"
                   value="{if condition="isset($data['program_id'])"}{$data['program_id']}{/if}">
            <input type="hidden" class="form-control" name="room_id">
<!--            <button type="submit" class="pull-right btn search_btn">-->
<!--                <span>-->
<!--                    <i class="ace-icon fa fa-search"></i>-->
<!--                </span>-->
<!--            </button>-->
        </form>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs col-xs-1" id="myTab3">
                    <li  data-room-id="" class="room_tags {if condition="empty($data['room_id'])"} active {/if}">
                        <a data-toggle="tab" href="#all">
                            全部房间
                        </a>
                    </li>
                    {volist name="rooms" id="vo"}
                    <li {if condition="$data['room_id'] == $vo.id"} class="active"{/if}>
                        <a data-toggle="tab" href="#{$vo.id}" data-room-id="{$vo.id}" title="{$vo.name}"  class="room_tags">
                            <span class="tag_class">{$vo.name}</span>
                        </a>
                    <span class="ace-icon fa fa-pencil label-btn" style="cursor:pointer;position: absolute;right:30px;top: 13px;z-index: 1;" data-id="{$vo.id}" data-room-name="{$vo.name}" data-action="{:url('/admin/my_decorate_product/room_edit')}" data-toggle="modal" data-target="#myModal"></span>
                    <span class="ace-icon fa fa-trash" style="cursor:pointer;position: absolute;right:10px;top: 13px;z-index: 1;" onclick="return alert_del('{:url(\"/admin/my_decorate_product/room_del\",\"id=$vo[id]\")}', '删除『 {$vo.name} 』将删除该房间内所放置的所有商品，是否继续？');"></span>
                    </li>
                    {/volist}
                    <li>
                        <a title="添加" href='javascript:void(0)' class="label-btn"
                           data-id="{$data['program_id']}" data-room-name="" data-action="{:url('/admin/my_decorate_product/room_add')}" data-toggle="modal" data-target="#myModal">
                            <i class="ace-icon fa fa-plus"></i>
                        </a>
                    </li>
                </ul>

                <div class="tab-content col-xs-11">
                    <div id="home3" class="tab-pane in active">
                        <div class="col-xs-12">
                            <table id="simple-table" class="table  table-bordered table-hover">
                                <thead>
                                <tr>
                                    <!--<th class="detail-col" width="20">排序</th>-->
                                    <th class="detail-col">ID</th>
                                    <th>产品名称</th>
                                    <th>所属房间</th>
                                    <th>花色</th>
                                    <th>规格</th>
                                    <th>产品类型</th>
                                    <th>原价</th>
                                    <th>折后价</th>
                                    <th class="col-md-2">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <form action="" method="post" name="myform">
                                    {volist name="lists" id="vo"}
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.room_name}</td>
                                        <td>{$vo.product_standard_info.color_name}</td>
                                        <td>{$vo.product_standard_info.standard_name}</td>
                                        <td>{if condition="$vo.type == 3"}标准类{else}整配类{/if}</td>
                                        <td>{$vo.original_price}</td>
                                        <td>{$vo.discount_price}</td>
                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                <a title="编辑" href='{:url("/admin/my_decorate_product/edit","id=$vo[id]&program_id=$data[program_id]&room_id=$data[room_id]")}'>
                                                   <span class="btn btn-xs btn-info">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </span>
                                                </a>
                                                <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/my_decorate_product/del\",\"id=$vo[id]&room_id=$data[room_id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');">
                                                <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                </form>
                                </tbody>
                            </table>
                            {$lists->render()}
                        </div><!-- /.span -->
                    </div>
                </div>
            </div>
        </div><!-- /.col -->

    </div><!-- /.row -->
</div><!-- /.page-content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请填入信息</h4>
            </div>
            <div class="modal-body">

                <!--<form role="form">-->
                <form class="form-horizontal"  action="" id="menu" role="form" method="post" name="mylablefrom" >
                    <input type="hidden" name="id">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="col-xs-10 col-sm-5 menu_name"  name="name" value=""/>
                        </div>
                    </div>
                </form>
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="mylablefrom.submit()">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>

    $(function () {

        $('.label-btn').on('click', function () {
            var id = $(this).attr('data-id');
            var name = $(this).attr('data-room-name');
            var action = $(this).attr('data-action');
            $("#menu").attr('action',action);
            $('input[name=id]').val(id);
            $('input[name=name]').val(name);
        });

        $('.room_tags').on('click', function () {
            var id = $(this).attr('data-room-id');
            $('input[name=room_id]').val(id);
            $("[name=search]").submit();
        });

    })
</script>



