<style>

    .customize img{
        width: 50px;
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

</style>
<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_decorate_product/index","program_id=$program_id&room_id=$room_id")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            楼盘管理 / 户型管理 / 装修管理 / 易家整配
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                <input type="hidden" value="{$program_id}" name="program_id">
                <input type="hidden" value="{if condition="isset($info.product_info.scheme_b_type)"}{$info.product_info.scheme_type}-{$info.product_info.scheme_b_type}{/if}" name="product_type">
                <input type="hidden" value="{if condition="isset($info)"} {$info.color_id} {/if}" name="color_id">
                <input type="hidden" value="{if condition="isset($info)"} {$info.standard_id} {/if}" name="standard_id">
                <input type="hidden" value="{if condition="isset($info)"} {$info.supplier_id} {/if}" name="supplier_id">
                {:input('id')?'<input type="hidden" value="'.$info['id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">产品类型:</label>
                    <div class="col-sm-9">
                        <label class="control-label no-padding-right">
                            <input name="type" type="radio" value="2" class="ace" {if condition="(isset($info.type) AND $info.type eq 2) OR !isset($info)"} checked="true"{/if} />
                            <span class="lbl">整配类产品</span>
                            <label>
                                <input name="type" type="radio" class="ace" value="3" {if condition="isset($info.type) AND $info.type eq 3"} checked="true" {/if}/>
                                <span class="lbl">标准类产品</span>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">产品ID/名称:</label>
                    <div class="col-xs-12 col-sm-3">
                        <div class="input-group">

                            <input type="text" class="form-control search-query" name="product_name" />
                            <input type="hidden" class="form-control search-query" name="product_id" value="{if condition="isset($info)"}{$info.product_id}{/if}"/>
                            <span class="input-group-btn" data-toggle="modal" data-target="#myModal">
                                <button type="button" class="btn btn-info btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    搜索
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group select_table" style="display: none">
                    <label class="col-sm-3 control-label no-padding-right"></label>

                    <div class="col-xs-8">

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center col-sm-1 width-5">
                                产品ID
                            </th>
                            <th>产品名称</th>
                            <th>产品图片</th>
                            <th>花色</th>
                            <th>规格</th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="product_id">{if condition="isset($info)"}{$info.product_info.product_id}{/if}</td>
                                <td class="product_name">{if condition="isset($info)"}{$info.product_info.name}{/if}</td>
                                <td class="product_img">{if condition="isset($info)"}<img src="{$info.product_info.product_img}">{/if}</td>
                                <td class="color_name">{if condition="isset($info)"}{$info.product_info.color_name}{/if}</td>
                                <td class="standard_name">{if condition="isset($info)"}{$info.product_info.standard_name}{/if}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商家名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="supplier_name" value="{if condition="isset($info)"} {$info.supplier_name} {/if}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">产品名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="name" value="{$info.name|default=''}" {if condition="isset($info) && $info.type == '3'"}readonly{/if}/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">产品编码:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="code" value="{$info.code|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">产品原价:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="original_price" value="{$info.original_price|default=''}" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" {if condition="isset($info) && $info.type == '3'"}readonly{/if}/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group customize">
                    <label class="col-sm-3 control-label no-padding-right">产品折后价:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="discount_price" value="{$info.discount_price|default=''}" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">产品放置房间:</label>
                    <div class="col-sm-2">
                        <select name="room_id" class="form-control" id="form-field-select-1">
                            <option  value="">请选择房间</option>
                            {volist name="rooms" id="vo"}
                            <option  value="{$vo.id}" {if condition="$vo.id == $room_id"}selected{/if}>{$vo.name}</option>

                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">产品封面图:</label>

                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_poster_src" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.image) AND $info.image neq null"}
                                <img src="{$imgPre}{$info.image}?imageView2/0/w/350/h/200" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="file" data-type="thumbnail_poster_src" data-input="house_type_src"/>
                        <input type="hidden" name="image" id="house_type_src" value="{$info.image|default=''}"/>

                    </div>
                </div>

                <div class="form-group customize">
                    <label class="col-sm-3 control-label no-padding-right">整配规格:</label>
                    <div class="col-sm-9 color-data">
                        {volist name="colors" id="vo" key="k"}
                        <div class="col-sm-4 fileinput-button ">
                            <div style="border: 0" >
                                <div class="cover">
                                    <span class="thumbnail no-padding-left col-sm-3" id="thumbnail_poster_src{$vo.color_id}">
                                        {if condition="isset($info.standard_info) AND isset($info.standard_info[$vo.color_id])"}
                                        <img src="{$imgPre}{$info.standard_info[$vo.color_id]['product_img']}?imageView2/0/w/50/h/50" width="50" height="50"/>
                                        {else /}
                                        <img src="__STATIC__/img/add_img.png" width="50" height="50"/>
                                        {/if}
                                    </span>
                                    <input class="fileupload col-sm-3" style="width: 100px;height: 50px;left: 0px" type="file" name="file" data-type="thumbnail_poster_src{$vo.color_id}" data-input="house_type_src{$vo.color_id}" data-delete="delete_src{$vo.color_id}"/>

                                    <div class="col-sm-8" style="margin-top:18px">
                                        <span>{$vo.color_name}</span>
                                        <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="<img src={$imgPre}{$vo.origin_img_src}?imageView2/0/w/50/h/50>" title="{$vo.color_name}">?</span>
                                        <span class="delete_src{$vo.color_id}">
                                            {if condition="isset($info.standard_info) AND isset($info.standard_info[$vo.color_id])"}
                                            <i class="help-button delete-button" style="background-color:#D15B47;cursor: pointer" onclick="delete_button(this);" data-type="thumbnail_poster_src{$vo.color_id}" data-input="house_type_src{$vo.color_id}">X</i>
                                            {/if}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" class="customize" name="standard[{$k}][img_src]" id="house_type_src{$vo.color_id}" value="{if condition="isset($info.standard_info) AND isset($info.standard_info[$vo.color_id])"}{$info.standard_info[$vo.color_id]['product_img']}{/if}"/>
                            <input type="hidden" class="customize" name="standard[{$k}][color]"  value="{$vo.color_id}" />
                            <input type="hidden" class="customize" name="standard[{$k}][color_name]"  value="{$vo.color_name}" />
                            <input type="hidden" class="customize" name="standard[{$k}][is_edit]"  value="{if condition="isset($info.standard_info) AND isset($info.standard_info[$vo.color_id])"}1{else}2{/if}" />
                            <input type="hidden" class="customize" name="standard[{$k}][id]"  value="{if condition="isset($info.standard_info) AND isset($info.standard_info[$vo.color_id]['id'])"}{$info.standard_info[$vo.color_id]['id']}{/if}" />
                        </div>

                        {/volist}
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group customize">
                    <label class="col-sm-3 control-label no-padding-right">产品图文简介:</label>
                    <div class="col-sm-9 no-padding-left">
                        <div class="col-sm-12" id="editor-container">
                            <textarea id="intro" name="intro" style="height:500px;">{$info.intro|default=''}</textarea>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>


                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog"   aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-body">
                <!--<form role="form">-->
                <form class="form-horizontal"  action="" id="menu" role="form" method="post" name="mylablefrom" >
                    <input type="hidden" name="id">
                    <input type="hidden" name="level">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="header smaller lighter blue">查询结果</h3>

                            <div class="clearfix">
                                <div class="pull-right tableTools-container"></div>
                            </div>
                            <!-- div.table-responsive -->

                            <!-- div.dataTables_borderWrap -->
                            <div>
                                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center col-sm-1 width-5">
                                            已选
                                        </th>
                                        <th class="center col-sm-1 width-5">
                                           产品ID
                                        </th>
                                        <th>产品名称</th>
                                        <th class="center col-sm-1 width-5">产品图片</th>
                                        <th>花色</th>
                                        <th>规格</th>
                                        <th class="center col-sm-1 width-5">操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </form>
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{include file="public/ajaxFiles"/}
{include file="public/wangEditor"  textarea="intro"/}
<script>

    function delete_button(e) {
        var show = e.getAttribute('data-type');
        var input = e.getAttribute('data-input');
        var delete_button = e;
        art.dialog({
            lock: true,
            background: '#300', // 背景色
            opacity: 0.87, // 透明度
            content: '确认删除该规格',
            ok: function () {
                $("#"+show).html('<div class="cover"><img src="__STATIC__/img/add_img.png" width="350" height="200"/></div>');
                $("#"+input).val('');
                delete_button.style.display = 'none';
            },
            cancel: true
        });
    }

    function select_product(e){
        $(".select_table").show();
        $(".product_id").html(e.getAttribute('data-id'));
        $('[name=product_id]').val(e.getAttribute('data-id'));
        $(".product_name").html(e.getAttribute('data-name'));
        $(".product_img").html("<img src="+ e.getAttribute('data-product-img') +">");
        $(".standard_name").html(e.getAttribute('data-standard-name'));
        $(".color_name").html(e.getAttribute('data-color-name'));
        $("[name=color_id]").val(e.getAttribute('data-color-id'));
        $("[name=product_type]").val(e.getAttribute('data-product-type'));
        $("[name=supplier_id]").val(e.getAttribute('data-supplier-id'));
        $("[name=supplier_name]").val(e.getAttribute('data-supplier-name'));

        if ($('[name=type]:checked').val() == '3') {
            $("[name=standard_id]").val(e.getAttribute('data-standard-id'));
            $("[name=name]").val(e.getAttribute('data-name')).attr('readOnly',true);
            $("[name=original_price]").val(e.getAttribute('data-price')).attr('readOnly',true);
            $("#thumbnail_poster_src").html('<div class="up-img"><img style="max-width: 500px;" src="'+ e.getAttribute('data-product-img-300') +'" /></div>');
            $("#house_type_src").val(e.getAttribute('data-img'));
            return true;
        }

        //查询对应花色
        var type = e.getAttribute('data-product-type');
        var img = e.getAttribute('data-product-img');
        var scheme_pic = e.getAttribute('data-scheme-pic');
        var color_id = e.getAttribute('data-color-id');

        $.ajax({
            url:"{:url('/admin/MyDecorateProduct/getColor')}",
            type:"POST",
            data:{type: type, img:img, color_id:color_id, scheme_pic:scheme_pic},
            success:function(result){
                $('.customize').show();
                $(".color-data").html("");
                $(".color-data").append(result).each(function () {
                    var uploadUrl = "{:url('/admin/api/saveEditorPicToCloud')}";

                    $('.fileupload').fileupload({
                        url: uploadUrl,
                        dataType: 'json',
                        done: function (e, data) {
                            // 这里是图片上传完成后的代码
                            if(data.result.code == 0){
                                var show = $(this).attr('data-type');
                                var input = $(this).attr('data-input');
                                var delete_src = $(this).attr('data-delete');
                                var muti = $(this).attr('data-muti');
                                if(muti == 'muti'){
                                    //多图片上传
                                    var obj = $('#'+input+'_boxes');
                                    var viewTag = "<a href='"+ data.result.data.src +"' target='_blank'><img src='"+ data.result.data.small +"' class='img-thumbnail'/></a>";
                                    var deleteTag = "<a class='del-img-box'>删除图片</a>";
                                    var hiddenTag = "<input type='hidden' name='"+input+"[]' value='"+ data.result.data.origin +"'>";
                                    var divTag = "<div class='img-box'>"+ viewTag + deleteTag + hiddenTag + "</div>";
                                    obj.append(divTag);
                                }else{
                                    $("#"+show).html('<div class="up-img"><img style="max-width: 500px;" src="'+ data.result.data.small +'" /></div>');
                                    $("#"+input).val(data.result.data.origin);
                                    if (delete_src != ''){
                                        $("."+delete_src).append('<i class="help-button delete-button" style="background-color:#D15B47;cursor: pointer" onclick="delete_button(this);" data-type="'+show+'" data-input="'+input+'">X</i>');
                                    }
                                }
                            }else{
                                alert(data.result.msg);
                            }
                        },
                        progressall: function (e, data) {
                            console.log(e);
                            console.log(data)
                            // 这里处理图片正在上传的进度
                        }
                    }).prop('disabled', !$.support.fileInput)
                        .parent().addClass($.support.fileInput ? undefined : 'disabled');

                });
                $('[data-rel=popover]').popover({container:'body'});
            },
            error:function () {
                alert('查询失败');
            }
        })
    }

    $(function(){

        var is_edit = {:input('id') ? 1 : 2};
        var type = $('[name=type]:checked').val();

        //编辑
        if (is_edit == 1) {
            $(".select_table").show();
            $('.customize').show();
            $('.no_customize').hide();
            $('.customize').attr('disabled',false);
        }

        //2新增3选择标准类产品
        if (is_edit == 2 || type == 3) {
            $('.no_customize').show();
            $('.customize').hide();
            $('.customize').attr('disabled',true);
        }

        //提交
        $('#sub-btn').on('click',function () {

            $.ajax({
                url:"{:url('/admin/validate/product')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('[name=myfrom]').submit();
                    }
                },
                error:function () {
                    alert('验证失败');
                }
            })
        });

        // $('#product_param').on('click','.del-btn',function () {
        //     $(this).closest('p').remove();
        // });

        //hover
        $('[data-rel=popover]').popover({container:'body'});

        //产品类型改变
        $('[name=type]').on('change',function () {
            $('.select_table').hide("");
            $('[name=product_id]').val("");
            //商品
            if ($(this).val() == 3){
                $('.no_customize').show();
                $('.customize').hide();
                $('.customize').attr('disabled',true);

            }

            //整配
            if ($(this).val() == 2){
                var type = $('[name=product_type]').val();
                if (type !== ''){
                    $.ajax({
                        url:"{:url('/admin/MyDecorateProduct/getColor')}",
                        type:"POST",
                        data:{type: type},
                        success:function(result){
                            $('.customize').show();
                            $(".color-data").html("");
                            $(".color-data").append(result);
                            $('[data-rel=popover]').popover({container:'body'});
                        },
                        error:function () {
                            alert('查询失败');
                        }
                    })
                }
                $('.no_customize').hide();
                $('.customize').attr('disabled',false);

            }

        })

        $('.input-group-btn').on('click',function () {
            var keyword = $('[name=product_name]').val();
            var type = $('[name=type]:checked').val();
            var product_id = $('[name=product_id]').val();
            $.ajax({
                type: 'POST',
                url: "{:url('/admin/MyDecorateProduct/getProduct')}",
                data: {keyword: keyword,type:type,product_id:product_id},
                dataType: 'json',
                success: function (data) {
                    //弹窗数据
                    $("#dynamic-table").dataTable().fnDestroy();
                    $("#dynamic-table tbody").html("");
                    $("#dynamic-table tbody").append(data);
                    if (data != ""){
                        $('#dynamic-table').DataTable({
                            bAutoWidth: false,
                            "aoColumns": [
                                { "bSortable": false },
                                null, null,null, null, null,
                                { "bSortable": false }
                            ],
                            "aaSorting": [],

                            select: {
                                style: 'multi'
                            }
                        });

                    }


                }
            });
        })



    })
</script>