<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("
        /admin/customized_cabinet_model/index",'scene_id='.$scene_id)}'">
        返回列表
        <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom"
                  enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['model_id'].'" name="id">':''}
                <input type="hidden" value="{$scene_id}" name="scene_id">
                {volist name="model" id="vo"}
                <?php echo $vo->defaultInput(isset($info) && isset($info[$vo->field])?$info[$vo->field]:'');?>
                {/volist}

                <div class="form-group text-danger">
                    <label class="col-sm-3 control-label no-padding-right">*</label>
                    <div class="col-sm-5 ">
                        如果需要进行覆盖操作，需先进行图片删除，再进行重新上传图片
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">图片链接:</label>
                    <div class="col-sm-5" id="product_param">
                        {if condition="isset($pics)"}
                        {volist name="$pics" id="vo"}
                        <p>
                        <input type="text" placeholder="内容" class="col-xs-9 col-sm-9 grey url" name="pics[]"
                               value="{$vo}" readonly/>
                        <a href="javascript:void(0)" class="del-btn" title="删除"><span class="btn btn-xs btn-danger" data="{$vo}"><i
                                class="ace-icon fa fa-close bigger-120"></i> </span></a><br/>
                        </p>
                        {/volist}
                        {/if}
                    </div>
                </div>
                <div class="space-4"></div>


                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script src="__JS__/qiniu.min.js"></script>
<script>
    $(function () {
        $('#sub-btn').on('click', function () {
            $.ajax({
                url: "{:url('/admin/validate/customizedCabinetModel')}",
                type: "POST",
                data: $('form').serialize(),
                success: function (result) {
                    if (result.code == 0) {
                        alert(result.msg);
                    } else {
                        $('form').submit();
                    }
                },
                error: function () {
                    $('form').submit();
                }
            })
        })
    });
    var prefix = "{$info['uuid']}";
    var uploader = Qiniu.uploader({
        runtimes: 'html5,flash,html4',      // 上传模式，依次退化
        browse_button: 'objName_pickfile',         // 上传选择的点选按钮，必需
        // 在初始化时，uptoken，uptoken_url，uptoken_func三个参数中必须有一个被设置
        // 切如果提供了多个，其优先级为uptoken > uptoken_url > uptoken_func
        // 其中uptoken是直接提供上传凭证，uptoken_url是提供了获取上传凭证的地址，如果需要定制获取uptoken的过程则可以设置uptoken_func
        // uptoken : '[token]', // uptoken是上传凭证，由其他程序生成
        uptoken_url: "{:url('/admin/api/getToken',['key'=> isset($info['objName']) ? $info['uuid'].'/'.$info['objName'] : ''])}",         // Ajax请求uptoken的Url，强烈建议设置（服务端提供）
        // uptoken_func: function(){    // 在需要获取uptoken时，该方法会被调用
        //    // do something
        //    return uptoken;
        // },
        get_new_uptoken: false,             // 设置上传文件的时候是否每次都重新获取新的uptoken
        // downtoken_url: '/downtoken',
        // Ajax请求downToken的Url，私有空间时使用，JS-SDK将向该地址POST文件的key和domain，服务端返回的JSON必须包含url字段，url值为该文件的下载地址
        unique_names: false,              // 默认false，key为文件名。若开启该选项，JS-SDK会为每个文件自动生成key（文件名）
        // save_key: true,                  // 默认false。若在服务端生成uptoken的上传策略中指定了sava_key，则开启，SDK在前端将不对key进行任何处理
        domain: 'http://cdn.inffur.com/',     // bucket域名，下载资源时用到，必需
        container: 'objName_container',             // 上传区域DOM ID，默认是browser_button的父元素
        max_file_size: '200mb',             // 最大文件体积限制
        flash_swf_url: 'path/of/plupload/Moxie.swf',  //引入flash，相对路径
        max_retries: 3,                     // 上传失败最大重试次数
        dragdrop: true,                     // 开启可拖曳上传
        drop_element: 'objName_container',          // 拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
        chunk_size: '4mb',                  // 分块上传时，每块的体积
        auto_start: true,                   // 选择文件后自动上传，若关闭需要自己绑定事件触发上传
        //x_vars : {
        //    查看自定义变量
        //    'time' : function(up,file) {
        //        var time = (new Date()).getTime();
        // do something with 'time'
        //        return time;
        //    },
        //    'size' : function(up,file) {
        //        var size = file.size;
        // do something with 'size'
        //        return size;
        //    }
        //},
        init: {
            'FilesAdded': function (up, files) {
                plupload.each(files, function (file) {
                    // 文件添加进队列后，处理相关的事情
                });
            },
            'BeforeUpload': function (up, file) {
                // 每个文件上传前，处理相关的事情
            },
            'UploadProgress': function (up, file) {
                // 每个文件上传时，处理相关的事情
            },
            'FileUploaded': function (up, file, info) {
                // 每个文件上传成功后，处理相关的事情
                // 其中info是文件上传成功后，服务端返回的json，形式如：
                // {
                //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
                //    "key": "gogopher.jpg"
                //  }
                // 查看简单反馈
                var res = window.JSON.parse(info.response);
                var key = res.key;// 获取上传成功后的文件的Url

                $('#objName_input').val(key);
                alert('上传成功！');
            },
            'Error': function (up, err, errTip) {
                //上传出错时，处理相关的事情
            },
            'UploadComplete': function () {
                //队列文件处理完毕后，处理相关的事情
            },
            'Key': function (up, file) {
                // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                // 该配置必须要在unique_names: false，save_key: false时才生效
                var key = prefix + '/' + file.name;
                // do something with key here
                return key
            }
        }
    });
    var Q2 = new QiniuJsSDK();
    var uploader2 = Q2.uploader({
        runtimes: 'html5,flash,html4',      // 上传模式，依次退化
        browse_button: 'mtlName_pickfile',         // 上传选择的点选按钮，必需
        // 在初始化时，uptoken，uptoken_url，uptoken_func三个参数中必须有一个被设置
        // 切如果提供了多个，其优先级为uptoken > uptoken_url > uptoken_func
        // 其中uptoken是直接提供上传凭证，uptoken_url是提供了获取上传凭证的地址，如果需要定制获取uptoken的过程则可以设置uptoken_func
        // uptoken : '[token]', // uptoken是上传凭证，由其他程序生成
        uptoken_url: "{:url('/admin/api/getToken',['key'=> isset($info['mtlName']) ? $info['uuid'].'/'.$info['mtlName'] : ''])}",         // Ajax请求uptoken的Url，强烈建议设置（服务端提供）
        // uptoken_func: function(){    // 在需要获取uptoken时，该方法会被调用
        //    // do something
        //    return uptoken;
        // },
        get_new_uptoken: false,             // 设置上传文件的时候是否每次都重新获取新的uptoken
        // downtoken_url: '/downtoken',
        // Ajax请求downToken的Url，私有空间时使用，JS-SDK将向该地址POST文件的key和domain，服务端返回的JSON必须包含url字段，url值为该文件的下载地址
        unique_names: false,              // 默认false，key为文件名。若开启该选项，JS-SDK会为每个文件自动生成key（文件名）
        // save_key: true,                  // 默认false。若在服务端生成uptoken的上传策略中指定了sava_key，则开启，SDK在前端将不对key进行任何处理
        domain: 'http://cdn.inffur.com/',     // bucket域名，下载资源时用到，必需
        container: 'objName_container',             // 上传区域DOM ID，默认是browser_button的父元素
        max_file_size: '200mb',             // 最大文件体积限制
        flash_swf_url: 'path/of/plupload/Moxie.swf',  //引入flash，相对路径
        max_retries: 3,                     // 上传失败最大重试次数
        dragdrop: true,                     // 开启可拖曳上传
        drop_element: 'mtlName_container',          // 拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
        chunk_size: '4mb',                  // 分块上传时，每块的体积
        auto_start: true,                   // 选择文件后自动上传，若关闭需要自己绑定事件触发上传
        //x_vars : {
        //    查看自定义变量
        //    'time' : function(up,file) {
        //        var time = (new Date()).getTime();
        // do something with 'time'
        //        return time;
        //    },
        //    'size' : function(up,file) {
        //        var size = file.size;
        // do something with 'size'
        //        return size;
        //    }
        //},
        init: {
            'FilesAdded': function (up, files) {
                plupload.each(files, function (file) {
                    // 文件添加进队列后，处理相关的事情
                });
            },
            'BeforeUpload': function (up, file) {
                // 每个文件上传前，处理相关的事情
            },
            'UploadProgress': function (up, file) {
                // 每个文件上传时，处理相关的事情
            },
            'FileUploaded': function (up, file, info) {
                // 每个文件上传成功后，处理相关的事情
                // 其中info是文件上传成功后，服务端返回的json，形式如：
                // {
                //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
                //    "key": "gogopher.jpg"
                //  }
                // 查看简单反馈
                var res = window.JSON.parse(info.response);
                var key = res.key;// 获取上传成功后的文件的Url
                $('#mtlName_input').val(key);
                alert('上传成功！');
            },
            'Error': function (up, err, errTip) {
                //上传出错时，处理相关的事情
            },
            'UploadComplete': function () {
                //队列文件处理完毕后，处理相关的事情
            },
            'Key': function (up, file) {
                // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                // 该配置必须要在unique_names: false，save_key: false时才生效
//                console.log(up)
                var key = prefix + '/' + file.name;
                // do something with key here
                return key
            }
        }
    });
    var Q3 = new QiniuJsSDK();
    var uploader3 = Q3.uploader({
        runtimes: 'html5,flash,html4',      // 上传模式，依次退化
        browse_button: 'pics_pickfile',         // 上传选择的点选按钮，必需
        // 在初始化时，uptoken，uptoken_url，uptoken_func三个参数中必须有一个被设置
        // 切如果提供了多个，其优先级为uptoken > uptoken_url > uptoken_func
        // 其中uptoken是直接提供上传凭证，uptoken_url是提供了获取上传凭证的地址，如果需要定制获取uptoken的过程则可以设置uptoken_func
        // uptoken : '[token]', // uptoken是上传凭证，由其他程序生成
        uptoken_url: "{:url('/admin/api/getToken')}",         // Ajax请求uptoken的Url，强烈建议设置（服务端提供）
        // uptoken_func: function(){    // 在需要获取uptoken时，该方法会被调用
        //    // do something
        //    return uptoken;
        // },
        get_new_uptoken: false,             // 设置上传文件的时候是否每次都重新获取新的uptoken
        // downtoken_url: '/downtoken',
        // Ajax请求downToken的Url，私有空间时使用，JS-SDK将向该地址POST文件的key和domain，服务端返回的JSON必须包含url字段，url值为该文件的下载地址
        unique_names: false,              // 默认false，key为文件名。若开启该选项，JS-SDK会为每个文件自动生成key（文件名）
        // save_key: true,                  // 默认false。若在服务端生成uptoken的上传策略中指定了sava_key，则开启，SDK在前端将不对key进行任何处理
        domain: 'http://cdn.inffur.com/',     // bucket域名，下载资源时用到，必需
        container: 'pics_container',             // 上传区域DOM ID，默认是browser_button的父元素
        max_file_size: '200mb',             // 最大文件体积限制
        flash_swf_url: 'path/of/plupload/Moxie.swf',  //引入flash，相对路径
        max_retries: 3,                     // 上传失败最大重试次数
        dragdrop: true,                     // 开启可拖曳上传
        drop_element: 'pics_container',          // 拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
        chunk_size: '4mb',                  // 分块上传时，每块的体积
        auto_start: true,                   // 选择文件后自动上传，若关闭需要自己绑定事件触发上传
        //x_vars : {
        //    查看自定义变量
        //    'time' : function(up,file) {
        //        var time = (new Date()).getTime();
        // do something with 'time'
        //        return time;
        //    },
        //    'size' : function(up,file) {
        //        var size = file.size;
        // do something with 'size'
        //        return size;
        //    }
        //},
        init: {
            'FilesAdded': function (up, files) {
                plupload.each(files, function (file) {
                    // 文件添加进队列后，处理相关的事情
                });
            },
            'BeforeUpload': function (up, file) {
                // 每个文件上传前，处理相关的事情
            },
            'UploadProgress': function (up, file) {
                // 每个文件上传时，处理相关的事情
            },
            'FileUploaded': function (up, file, info) {
                // 每个文件上传成功后，处理相关的事情
                // 其中info是文件上传成功后，服务端返回的json，形式如：
                // {
                //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
                //    "key": "gogopher.jpg"
                //  }
                // 查看简单反馈
                var res = window.JSON.parse(info.response);
                var key = res.key;// 获取上传成功后的文件的Url
                add_content(key)
            },
            'Error': function (up, err, errTip) {
                //上传出错时，处理相关的事情
            },
            'UploadComplete': function () {
                //队列文件处理完毕后，处理相关的事情
            },
            'Key': function (up, file) {
                // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                // 该配置必须要在unique_names: false，save_key: false时才生效
//                console.log(up)
                var key = prefix + '/' + file.name;
                // do something with key here
                return key
            }
        }
    });

    function add_content(url) {
        var flag = true;
        $('.url').each(function () {
            if ($(this).val() == url) {
                alert('已覆盖上传')
                flag = false;
                return false;
            }
        })
        if (flag == false) {
            return;
        }
        var second_input = '<input type="text" placeholder="内容" class="col-xs-9 col-sm-9 grey url" name="pics[]" value="' + url + '" readonly/>';
        var btn = '<a href="javascript:void(0)" class="del-btn" title="删除" data="'+url+'"><span class="btn btn-xs btn-danger"><i class="ace-icon fa fa-close bigger-120"></i></span></a><br/>';
        $('#product_param').append('<p>' + second_input + btn + '</p>');
    }

    $('#product_param').on('click', '.del-btn', function () {

        if(confirm('即便不保存也会进行远程资源的删除，确认要删除吗？')){
            var _this = $(this);
            $.ajax({
                url:"{:url('/admin/api/delCloudPic')}",
                type:"GET",
                data:"key="+$(this).attr('data'),
                success:function(result){
                    _this.closest('p').remove();
                    console.log(result)
                },
                error:function () {
                    alert('删除失败')
                }
            })
            // $(this).closest('p').remove();
        }
    })
</script>