<link rel="stylesheet" href="__CSS__/imgbox.css">
<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_supplier/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['supplier_id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商家名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="name" value="{$info.name|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商家简介:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="intro" value='{$info.intro|default=""}'/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商家公告:</label>
                    <div class="col-sm-9">
                        <textarea class="col-xs-10 col-sm-5" name="notice" rows="4">{$info.notice|default=""}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商家图标:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_logo" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.logo_src)"}
                                <img src="{$imgPre}{$info.logo_src}?imageView2/0/w/100/h/100" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <input class="fileupload" type="file" name="file" data-type="thumbnail_logo" data-input="logo_input"/>
                    </div>
                </div>
                <input type="hidden" name="logo_src" id="logo_input" value="{$info.logo_src|default=''}"/>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商家背景图:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_bg" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.bg_src)"}
                                <img src="{$imgPre}{$info.bg_src}?imageView2/0/w/100/h/100" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="file" data-type="thumbnail_bg" data-input="bg_input"/>
                    </div>
                </div>
                <input type="hidden" name="bg_src" id="bg_input" value="{$info.bg_src|default=''}"/>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">资质证书:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_qualification" style="border: 0" >
                            <div class="cover">
                                <img src="__STATIC__/img/add_img.png" />
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="file"
                               data-type="thumbnail_qualification" data-input="qualification" data-muti="muti"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"></label>
                    <div class="col-sm-9" id="qualification_boxes">
                        {if condition="isset($qualification)"}
                        {volist name="$qualification" id="vo"}
                        <div class="img-box">
                            <a href="{$imgPre}{$vo}" target="_blank">
                                <img src="{$imgPre}{$vo}?imageView2/0/w/120/h/120" class="img-thumbnail"/>
                            </a>
                            <a class="del-img-box">删除图片</a>
                            <input type="hidden" name="qualification[]" value="{$vo}">
                        </div>
                        {/volist}
                        {/if}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">售后保障:</label>
                    <div class="col-sm-7" id="after_sale_service">
                        <p>
                            <input type="text" placeholder="标题" class="col-xs-2 col-sm-2 title" value=''/>
                            <input type="text" placeholder="内容" class="col-xs-6 col-sm-6 desc" value=''/>
                            <a href='javascript:void(0)' title="添加" class="add-btn" data-toggle="modal" data-target="#myModal">
                                   <span class="btn btn-xs btn-info" style="font-size: 7px">
                                        <i class="ace-icon fa fa-upload bigger-120"></i>
                                   </span>
                            </a>
                        </p>
                        {if condition="isset($params)"}
                        {volist name="$params"  id="vo"}
                        <p>
                            <input type="text" class="col-xs-2 col-sm-2"  title="{$vo.title}" value='{$vo.title}' disabled/>
                            <input type="text" class="col-xs-6 col-sm-6"  title="{$vo.content}" value='{$vo.content}'disabled/>
                            <a href="{$imgPre}{$vo.logo_src}" target="_blank" title="图片">
                                <span class="btn btn-xs btn-success">
                                    <i class="ace-icon fa fa-file-picture-o bigger-120"></i>
                                </span>
                            </a>
                            <a href="javascript:void(0)" title="系统默认">
                                <span class="btn btn-xs btn-inverse">
                                    <i class="ace-icon fa fa-ban bigger-120"></i>
                                </span>
                            </a>
                        </p>
                        {/volist}
                        {/if}
                        {if condition="isset($after_sale_service)"}
                        {volist name="$after_sale_service" id="vo"}
                        <p>
                            <input type="text" placeholder="标题" class="col-xs-2 col-sm-2 grey" name="title[]" value="{$vo.title}" readonly/>
                            <input type="text" placeholder="内容" class="col-xs-6 col-sm-6 grey" name="desc[]" value="{$vo.content}" readonly/>
                            <input type="hidden" name="logo_src_list[]" value="{$vo.logo_src}" readonly/>
                            <a href="{$imgPre}{$vo.logo_src}" target="_blank" title="图片">
                                <span class="btn btn-xs btn-success">
                                    <i class="ace-icon fa fa-file-picture-o bigger-120"></i>
                                </span>
                            </a>
                            <a href="javascript:void(0)" class="del-btn" title="删除">
                                <span class="btn btn-xs btn-danger">
                                    <i class="ace-icon fa fa-close bigger-120"></i>
                                </span>
                            </a>
                        </p>
                        {/volist}
                        {/if}
                    </div>
                </div>
                <!--<div class="space-4"></div>-->

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">图文详情:</label>
                    <div class="col-sm-9" id="editor-container" >
                        <textarea id="content" name="content" style="height:500px">{$info.content|default=""}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn" data-validate="need">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请填入售后保障信息</h4>
            </div>
            <div class="modal-body">
                <!--<form role="form">-->
                    <div class="form-group">
                        <input type="text" class="form-control" id="modal_title" placeholder="请输入标题">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="modal_content" placeholder="请输入内容"></textarea>
                    </div>
                    <div class="form-group fileinput-button">
                        <!--<label>图标:</label>-->
                        <div class="thumbnail" id="modal_logo" style="border: 0" >
                            <div class="cover">
                                <img src="__STATIC__/img/add_img.png" />
                            </div>
                        </div>
                        <input class="fileupload" type="file" name="file" data-type="modal_logo" data-input="modal_logo_input"/>
                        <input type="hidden" id="modal_logo_input"/>
                    </div>
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="modal_submit">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{include file="public/wangEditor"  textarea="content"/}
{include file="public/ajaxFiles"/}
<script>
    $(function(){
        $('#qualification_boxes').on('click','.del-img-box',function(){
            if(confirm('确定要删除图片?')){
                $(this).closest('.img-box').remove();
            }
        })

        function add_content(title,desc,logo_src) {
            var first_input = '<input type="text" placeholder="标题" class="col-xs-2 col-sm-2 grey" name="title[]" value="'+title+'" readonly/>';
            var second_input = '<input type="text" placeholder="内容" class="col-xs-6 col-sm-6 grey" name="desc[]" value="'+desc+'" readonly/>';
            var third_input = '<input type="hidden" name="logo_src_list[]" value="'+logo_src+'" readonly/>';
            var pic_btn = '<a href="{$imgPre}'+logo_src+'" target="_blank" title="图片"><span class="btn btn-xs btn-success"><i class="ace-icon fa fa-file-picture-o bigger-120"></i></span></a>';
            var del_btn = '<a href="javascript:void(0)" class="del-btn" title="删除"><span class="btn btn-xs btn-danger"><i class="ace-icon fa fa-close bigger-120"></i> </span></a>';
            return '<p>'+first_input+second_input+third_input+pic_btn+del_btn+'</p>'
        }

        $('#after_sale_service').on('click','.del-btn',function () {
            $(this).closest('p').remove();
        })

        $('#modal_submit').on('click',function () {
            var title = $('#modal_title').val();
            var desc = $('#modal_content').val();
            var logo_src = $('#modal_logo_input').val();
            if(title == ''|| desc == ''){
                alert('请填写内容')
            }else if(logo_src == '') {
                alert('请上传图片')
            }else{
                $('#after_sale_service').append(add_content(title,desc,logo_src));
                $('#modal_title').val('');
                $('#modal_content').val('');
                $('#modal_logo_input').val('');
                $('#modal_logo').html('<div class="cover"><img src="__STATIC__/img/add_img.png" /></div>');
                $('#myModal').modal('hide');
            }
        })

        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/shopSupplier')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    });
</script>