<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/admin/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{:input('id')?'edit':'add'}" method="post" name="myfrom" >
                {:input('id')?'<input type="hidden" value="'.$info['id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">用户名:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.username|default=''}" name="username" disabled/>
                    </div>
                </div>    
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">最后登录IP:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="email" value='{:long2ip($info.last_login_ip)}' disabled/>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">最后登录时间:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="email" value='{:date("Y:m:d H:i:s",$info.last_login_time)}' disabled/>

                    </div>
                </div>

                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属组</label>
                    <div class="col-sm-9 disable">
                        {:checkbox($groups,isset($info['userGroups'])?$info['userGroups']:'','name="groups[]"')}
                    </div>
                </div>
                <div class="space-4"></div>

            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->