<div class="page-content">
   
    <div class="page-header">
        <h1>
            个人设置
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                修改信息
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="" method="post" name="myfrom" >
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">用户名</label>
                    <div class="col-sm-9">
                        <input type="text" name="password" placeholder="username" class="col-xs-10 col-sm-5" value="{$info.username|default=''}" disabled/>
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>    
                <div class="space-4"></div>


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 密码 </label>

                    <div class="col-sm-9">
                        <input type="password" name="password" placeholder="Password" class="col-xs-10 col-sm-5" />
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 确认密码 </label>

                    <div class="col-sm-9">
                        <input type="password" name="rpassword" placeholder="Password" class="col-xs-10 col-sm-5" />
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>

<!--                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">邮箱</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="email" value='{$info.email|default=''}'/>

                    </div>
                </div>    
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">手机号</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="mobile"  value='{$info.mobile|default=''}'/>
                    </div>
                </div>    
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">真实姓名</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="realname"  value='{$info.realname|default=''}'/>
                    </div>
                </div>    -->
                <div class="space-4"></div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" onclick="myfrom.submit()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->