<div class="page-content">


    <div class="page-header">
        <h1>
            标签管理
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="" method="post" name="myfrom" >
                {volist name="lists" id="vo" key="kk"}
                <div class="question" style="height: 50px">
                    <h2>
                        {$vo.name}
                        <span style="display: none">
                            <a title="编辑" href='javascript:void(0)'class="label-btn" data-id="{$vo.id}" data-action="{:url('/admin/my_assembly_buildings_label/change2')}" data-name = "{$vo.name}" data-toggle="modal" data-target="#myModal">
                            <button class="btn btn-white btn-default btn-round">
                                <i class="ace-icon fa fa-pencil glyphicon-plus blue"></i>
                            </button>
                            </a>
                            <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/my_assembly_buildings_label/del\",\"id=$vo[id]\")}', '确认要删除『 {$vo.name} 』这条记录吗？');">
                                <span class="btn btn-white btn-default btn-round" >
                                        <i class="ace-icon fa fa-trash-o glyphicon-plus red2"></i>
                                    </span>
                            </a>

                            {if condition="$kk == 1"}
                            <a title="添加" href='javascript:void(0)'class="label-btn"
                               data-id="0" data-name="" data-level="1" data-action="{:url('/admin/my_assembly_buildings_label/add')}" data-toggle="modal" data-target="#myModal">
                                <button class="btn btn-white btn-default btn-round">
                                    <i class="ace-icon fa fa-plus glyphicon-plus green"></i>
                                </button>
                            <a/>
                            {/if}
                        </span>
                    </h2>
                </div>

                <div data-toggle="buttons" class="btn-group">
                    {volist name="vo.answer" id="label_vo" key="k" }
                    <button class="btn btn-white btn-default btn-round">
                        <span class="double-click" data-id = "{$label_vo.id}">{$label_vo.name}</span>
                        <i class="ace-icon fa fa-times red2" onclick="return alert_del('{:url(\"/admin/my_assembly_buildings_label/del\",\"id=$label_vo[id]\")}', '确认要删除『 {$label_vo.name} 』这条记录吗？');"></i>
                    </button>
                    {/volist}
                    <a title="添加" href='javascript:void(0)'class="label-btn"
                       data-id="{$vo.id}" data-name="" data-level="2" data-action="{:url('/admin/my_assembly_buildings_label/add')}" data-toggle="modal" data-target="#myModal">
                        <button class="btn btn-white btn-default btn-round">
                            <i class="ace-icon fa fa-plus glyphicon-plus green"></i>
                        </button>
                    </a>
                </div>
                {/volist}
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请填入信息</h4>
            </div>
            <div class="modal-body">

                <!--<form role="form">-->
                <form class="form-horizontal"  action="" id="menu" role="form" method="post" name="mylablefrom" >
                    <input type="hidden" name="id">
                    <input type="hidden" name="level">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="col-xs-10 col-sm-5 menu_name"  name="name" value=""/>
                        </div>
                    </div>
                </form>
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="mylablefrom.submit()">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    $(function () {

        $('.double-click').on("dblclick", function () {
            let $td = $(this);    //获取被双击的td单元格
            let _t = $td.text().trim();  //被双击的td单元格里的文本内容
            let _w = 100; // $td.width(); //被双击的td单元格的宽度
            let _h = 20; // $td.height(); //被双击的td单元格的高度
            $td.html("");        //清空被双击的td单元格里的内容
            let $input = $("<input type='text' value=''>");//设置一个待添加的input表单
            //下面这句是把input表单添加到被双击的单元格里，
            //并设置好input表单的宽高，并让其获取焦点，并设置在失去焦点事的动作
            $input.appendTo($td).width(_w).height(_h).val(_t).focus().blur(function () {
                //失去焦点时，把input的值赋给td单元格
                let remark = $(this).val();
                let id = $td.attr('data-id');
                // ajax 设置备注
                $.ajax({
                    type: 'POST',
                    url: "{:url('/admin/MyAssemblyBuildingsLabel/change')}",
                    data: {id: id, name: remark},
                    dataType: 'json',
                    success: function (data) {

                        $td.text(remark);
                    }
                });

            });

        });

        $('.double-click').on("dblclick", function () {
            let $td = $(this);    //获取被双击的td单元格
            let _t = $td.text().trim();  //被双击的td单元格里的文本内容
            let _w = 100; // $td.width(); //被双击的td单元格的宽度
            let _h = 20; // $td.height(); //被双击的td单元格的高度
            $td.html("");        //清空被双击的td单元格里的内容
            let $input = $("<input type='text' value=''>");//设置一个待添加的input表单
            //下面这句是把input表单添加到被双击的单元格里，
            //并设置好input表单的宽高，并让其获取焦点，并设置在失去焦点事的动作
            $input.appendTo($td).width(_w).height(_h).val(_t).focus().blur(function () {
                //失去焦点时，把input的值赋给td单元格
                let remark = $(this).val();
                let id = $td.attr('data-id');
                // ajax 设置备注
                $.ajax({
                    type: 'POST',
                    url: "{:url('/admin/MyAssemblyBuildingsLabel/change')}",
                    data: {id: id, name: remark},
                    dataType: 'json',
                    success: function (data) {

                        $td.text(remark);
                    }
                });

            });

        });

        $('.label-btn').on('click', function () {
            var id = $(this).attr('data-id');
            var name = $(this).attr('data-name');
            var level = $(this).attr('data-level');
            var action = $(this).attr('data-action');
            $("#menu").attr('action',action);
            $('input[name=id]').val(id);
            $('input[name=name]').val(name);
            $('input[name=level]').val(level);
        });


        $(".question").mouseover(function(){
            $(this).find('span').show();  //隐藏
        })
        $(".question").mouseout(function(){
            $(this).find('span').hide();  //显示
        })
    })
</script>