<div class="page-content">
    <!--<div class="col-sm-6 pull-right">-->
        <!--<span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/demand_banner/add")}'">-->
            <!--添加-->
            <!--<i class="icon-reply icon-only"></i>-->
        <!--</span>-->
    <!--</div>-->
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">标题</th>
                                <th>采纳稿件展示图</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.title}</td>
                                <td><img src="{$imgPre}{$vo.scheme_pic}?imageView2/0/w/200/h/200"/></td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <!--<a title="查看" href='{:url("/admin/demand_banner/detail","id=$vo[banner_id]")}'>-->
                                           <!--<span class="btn btn-xs btn-purple">-->
                                                <!--<i class="ace-icon fa fa-eye bigger-120"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                        <!--<a title="编辑" href='{:url("/admin/demand_banner/edit","id=$vo[banner_id]")}'>-->
                                           <!--<span class="btn btn-xs btn-info">-->
                                                <!--<i class="ace-icon fa fa-pencil bigger-120"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/demand_banner/del\",\"id=$vo[demand_id]\")}', '确认要删除『 id={$vo.banner_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->


