<div class="page-content">
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">
        <form class="form-inline" role="form">
            <div class="form-group">
                <select id="field" name="field">
                    <option value="username" {if condition="isset($data['field']) && $data['field'] eq 'username'"}selected{/if}>用户名</option>
                    <!--<option value="product_name" {if condition="isset($data['field']) && $data['field'] eq 'product_name'"}selected{/if}>商品名称</option>-->
                    <option value="order_num" {if condition="isset($data['field']) && $data['field'] eq 'order_num'"}selected{/if}>订单编号</option>
                </select>
                :
                <input type="text" class="form-control" id="field-name" name="{$data['field']|default='username'}"
                       value="{if condition="isset($data['field'])"}{$data[$data['field']]}{/if}" placeholder="请输入搜索内容">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">付款方式:</label>
                <select name="pay_type">
                    <option value="ALL">全部</option>
                    {volist name="payType" id="vo"}
                    <option value="{$key}" {if condition="isset($data['pay_type']) AND $data['pay_type'] == $key"}selected{/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">订单状态:</label>
                <select name="status">
                    <option value="ALL">全部</option>
                    {volist name="status" id="vo"}
                    <option value="{$vo}" {if condition="isset($data['status']) AND $data['status'] == $vo"}selected{/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
            <button type="submit" class="pull-right btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">订单编号</th>
                                <th class="col-md-2">订单商品</th>
                                <th class="col-md-1">购买数量</th>
                                <th class="col-md-1">订单金额</th>
                                <th class="col-md-1">用户</th>
                                <th>订单状态</th>
                                <th>支付方式</th>
                                <th class="col-md-2">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.order_num}</td>
                                <td>{$vo.product_name}--{$vo.standard_name}</td>
                                <td>{$vo.count}</td>
                                <td>{$vo.price}</td>
                                <td>{$vo.username}</td>
                                <th>{$vo.status}</th>
                                <th>{$payType[$vo.pay_type]}</th>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/shop_order/detail","id=$vo[order_id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="查看收货地址" href='{:url("/admin/shop_order/address","id=$vo[order_id]")}'>
                                           <span class="btn btn-xs btn-overlap">
                                                <i class="ace-icon fa fa-home bigger-120"></i>
                                            </span>
                                        </a>
                                        {if condition="$vo.status eq '待发货' or $vo.status eq '退款中'"}
                                        <a title="退款" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/shop_order/refund\",\"id=$vo[order_id]\")}', '确定要对『 id={$vo.order_id} 』订单进行退款操作吗？');">
                                        <span class="btn btn-xs btn-inverse" >
                                                <i class="ace-icon fa  fa-cc-visa bigger-120"></i>
                                            </span>
                                        </a>
                                        {/if}
                                        {if condition="$vo.status eq '待发货'"}
                                        <a title="发货" href='javascript:void(0)'class="logistics-btn"
                                           data-id="{$vo.order_id}" data-toggle="modal" data-target="#myModal")>
                                        <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa  fa-truck bigger-120"></i>
                                            </span>
                                        </a>
                                        {/if}
                                        {if condition="$vo.status eq '待收货'"}
                                        <a title="查看物流信息" href='{:url("/admin/shop_order_logistics/index","id=$vo[logistics_id]")}'>
                                        <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa   fa-list-alt bigger-120"></i>
                                            </span>
                                        </a>
                                        {/if}
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请填入物流信息</h4>
            </div>
            <div class="modal-body">
                <!--<form role="form">-->
                <form method="post" id="logistics-form" action="{:url('/admin/shop_order/delivery')}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="logistics_number" placeholder="请输入物流单号">
                    </div>
                    <div class="form-group">
                        <select name="logistics_type">
                            {volist name="logisticsType" id="vo"}
                            <option value="{$key}">{$vo}</option>
                            {/volist}
                        </select>
                    </div>
                    <input type="hidden" name="order_id">
                </form>
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-pink" id="find-logistics">识别物流公司</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="logistics-submit">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    $(function () {
        $('#field').change(function () {
            $('#field-name').attr('name',$(this).val());
        })

        //物流modal
        $('.logistics-btn').on('click',function() {
            var id = $(this).attr('data-id');
            $('input[name=order_id]').val(id);
        })
        $('#find-logistics').on('click',function() {
            var number = $('input[name=logistics_number]').val();
            if(number != ''){
                $.ajax({
                    url:"{:url('/admin/api/searchLogistics')}",
                    data:'logistics_number='+ number,
                    success:function(result){
                        if(result.ShipperCode != ''){
                            $('option[value='+result.ShipperCode+']').prop('selected',true);
                            alert('查到到物流公司属"'+result.ShipperName+'",已为你选定');
                        }else{
                            alert('查询不到对应的物流公司');
                        }
                    },
                    error:function () {
                        alert('查询出错');
                    }
                })
            }else{
                alert('请填写物流单号');
            }
        })
        $('#logistics-submit').on('click',function() {
            $.ajax({
                url:"{:url('/admin/validate/logisticsInfo')}",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    })
</script>
