<div class="page-content">
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="page-header">
        <form class="form-inline" role="form">
            <div class="form-group">
                <select id="field" name="field">
                    <option value="username" {if condition="isset($data['field']) && $data['field'] eq 'username'"}selected{/if}>用户名</option>
                    <option value="product_name" {if condition="isset($data['field']) && $data['field'] eq 'product_name'"}selected{/if}>商品名称</option>
                </select>
                :
                <input type="text" class="form-control" id="field-name" name="{$data['field']|default='username'}"
                       value="{if condition="isset($data['field'])"}{$data[$data['field']]}{/if}" placeholder="请输入搜索内容">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">星级:</label>
                <select name="star">
                    <option value="ALL">全部</option>
                    <option value="1" {if condition="isset($data['star']) AND $data['star'] == 1"}selected{/if}>1</option>
                    <option value="2" {if condition="isset($data['star']) AND $data['star'] == 2"}selected{/if}>2</option>
                    <option value="3" {if condition="isset($data['star']) AND $data['star'] == 3"}selected{/if}>3</option>
                    <option value="4" {if condition="isset($data['star']) AND $data['star'] == 4"}selected{/if}>4</option>
                    <option value="5" {if condition="isset($data['star']) AND $data['star'] == 5"}selected{/if}>5</option>
                </select>
            </div>
            <button type="submit" class="pull-right btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">评论商品</th>
                                <th class="col-md-1">评论用户</th>
                                <th class="col-md-1">评价星级</th>
                                <th class="col-md-1">点赞数</th>
                                <th>内容</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.name}</td>
                                <td>{$vo.username}</td>
                                <td>
                                    {for start="0" end="$vo.star"}
                                    <i class="ace-icon fa fa-star bigger-120"></i>
                                    {/for}
                                </td>
                                <td>{$vo.praise_count}</td>
                                <th>{$vo.content}</th>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/shop_evaluate/detail","id=$vo[evaluate_id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/shop_evaluate/del\",\"id=$vo[evaluate_id]\")}', '确认要删除『 id={$vo.evaluate_id} 』这条评价吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(function () {
        $('#field').change(function () {
            $('#field-name').attr('name',$(this).val());
        })
    })
</script>

