<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="window.history.back()">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                方案
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" >
            <!-- PAGE CONTENT BEGINS -->
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">方案图片:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.scheme_pic}'/>
                    </div>
                </div>
                <div class="space-4"></div>


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">方案类别:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.scheme_type_text}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">宽度:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.scheme_width}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">高度:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.scheme_height}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">深度:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.scheme_deep}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">查看3D:</label>
                    <div class="col-sm-9">
                        <a class="btn btn-info">3D展示功能</a>
                    </div>
                </div>
                <div class="space-4"></div>

                {notempty name="info.serial_array.score_products"}
                <table id="simple-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1" colspan="4" style="text-align:center;">构件清单</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td>名称</td>
                            <td>材质花色</td>
                            <td>代码</td>
                            <td>数量</td>
                       </tr>
                    </thead>
                    {volist name="info.serial_array.score_products" id="vo"}
                        <tr>
                            <td>{$vo.product_name}</td>
                            <td>{$vo.color_name}</td>
                            <td>{$vo.product_no}</td>
                            <td>{$vo.product_count}</td>
                        </tr>
                    {/volist}
                    <thead>
                    <tr>
                        <th class="col-md-1" colspan="4" style="text-align:center;">用料明细</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <td>板材规格</td>
                        <td>总面积（m²）</td>
                        <td>单价（元）</td>
                        <td>小计（元）</td>
                    </tr>
                    </thead>
                    {volist name="info.serial_array.plate_products" id="vo"}
                    <tr>
                        <td>{$vo.product_name}</td>
                        <td>{$vo.product_area}</td>
                        <td>{$vo.product_price}</td>
                        <td>{$vo.product_total_price}</td>
                    </tr>
                    {/volist}
                </table>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">合计:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.serial_array.plate_price}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                {/notempty}

                {notempty name="info.serial_array.zj_products"}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1" colspan="6" style="text-align:center;">功能组件明细</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <td>名称</td>
                        <td>材质花色</td>
                        <td>代码</td>
                        <td>数量</td>
                        <td>单位（元）</td>
                        <td>小计（元）</td>
                    </tr>
                    </thead>
                    {volist name="info.serial_array.zj_products" id="vo"}
                    <tr>
                        <td>
                            {$vo.product_name}
                            {if condition="strpos($vo['product_name'], '抽屉') neq false"}
                                <a href="#" class="blue bigger-140 show-details-btn" title="Show Details">
                                    <i class="ace-icon fa fa-angle-double-down"></i>
                                    <span class="sr-only">Details</span>
                                </a>
                            {/if}
                        </td>
                        <td>{$vo.color_name}</td>
                        <td>{$vo.product_no}</td>
                        <td>{$vo.product_count}</td>
                        <td>{$vo.product_unit}</td>
                        <td>{$vo.product_total_price}</td>
                    </tr>
                    {if condition="strpos($vo['product_name'], '抽屉') neq false"}
                    <tr class="detail-row">
                        <td colspan="8">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td>名称</td>
                                    <td>材质花色</td>
                                    <td>代码</td>
                                    <td>数量</td>
                                </tr>
                                </thead>
                                {volist name="vo.product_content" id="vo_com"}
                                <tr>
                                    <td>
                                        {$vo_com.product_name}
                                    </td>
                                    <td>{$vo_com.color_name}</td>
                                    <td>{$vo_com.product_no}</td>
                                    <td>{$vo_com.product_count}</td>
                                </tr>
                                {/volist}
                            </table>
                        </td>
                    </tr>
                    {/if}
                    {/volist}
                </table>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">合计:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.serial_array.zj_price}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                {/notempty}

                {notempty name="info.serial_array.wujin_products"}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1" colspan="6" style="text-align:center;">五金附件明细</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <td>名称</td>
                        <td>代码</td>
                        <td>规格（mm）</td>
                        <td>数量</td>
                        <td>单位（元）</td>
                        <td>小计（元）</td>
                    </tr>
                    </thead>
                    {volist name="info.serial_array.wujin_products" id="vo"}
                    <tr>
                        <td>{$vo.product_name}</td>
                        <td>{$vo.product_no}</td>
                        <td>{$vo.product_spec}</td>
                        <td>{$vo.product_count}</td>
                        <td>{$vo.product_unit}</td>
                        <td>{$vo.product_total_price}</td>
                    </tr>
                    {/volist}
                </table>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">合计:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.serial_array.wujin_price}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                {/notempty}

                {notempty name="info.serial_array.door_products"}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1" colspan="6" style="text-align:center;">滑动门明细</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <td>名称</td>
                        <td colspan="2">代码</td>
                        <td>长度/规格(mm)</td>
                        <td>数量</td>
                        <td>单位</td>
                    </tr>
                    </thead>
                    {volist name="info.serial_array.door_products" id="vo"}
                    {if condition="$vo.product_no neq 'W04-20-XX-00'"}
                    <tr>
                        <td>{$vo.product_name}</td>
                        <td colspan="2">{$vo.product_no}</td>
                        <td>{$vo.product_spec}</td>
                        <td>{$vo.product_count}</td>
                        <td>{$vo.product_unit}</td>
                    </tr>
                    {/if}
                    {/volist}
                    <thead>
                    <tr>
                        <th class="col-md-1" colspan="6" style="text-align:center;">用料明细</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <td>板材规格</td>
                        <td>单扇面积（m²）</td>
                        <td>数量</td>
                        <td>合计面积（m²）</td>
                        <td>单价（元）</td>
                        <td>小计（元）</td>
                    </tr>
                    </thead>
                    <tr>
                        <td>{$info.serial_array.door.door_spec}</td>
                        <td>{$info.serial_array.door.s_door_area}</td>
                        <td>{$info.serial_array.door.door_has_count}</td>
                        <td>{$info.serial_array.door.door_area}</td>
                        <td>{$info.serial_array.door.o_door_price}</td>
                        <td>{$info.serial_array.door.door_price}</td>
                    </tr>
                    <thead>
                    <tr>
                        <td>名称</td>
                        <td>代码</td>
                        <td>数量</td>
                        <td>单位</td>
                        <td>单价（元）</td>
                        <td>小计（元）</td>
                    </tr>
                    </thead>
                    {volist name="info.serial_array.door_products" id="vo"}
                    {if condition="$vo.product_no eq 'W04-20-XX-00'"}
                    <tr>
                        <td>{$vo.product_name}</td>
                        <td>{$vo.product_no}</td>
                        <td>{$vo.product_count}</td>
                        <td>{$vo.product_unit}</td>
                        <td>{$vo.product_price}</td>
                        <td>{$vo.product_total_price}</td>
                    </tr>
                    {/if}
                    {/volist}
                </table>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">合计:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.serial_array.door_price}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                {/notempty}

                {notempty name="info.serial_array.shoukou_products"}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1" colspan="6" style="text-align:center;">收口条附件明细</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <td>名称</td>
                        <td>规格（mm）</td>
                        <td>数量</td>
                        <td>单位</td>
                        <td>单价</td>
                        <td>小计（元）</td>
                    </tr>
                    </thead>
                    {volist name="info.serial_array.shoukou_products" id="vo"}
                    <tr>
                        <td>{$vo.product_name}</td>
                        <td>{$vo.product_spec}</td>
                        <td>{$vo.product_count}</td>
                        <td>{$vo.product_unit}</td>
                        <td>{$vo.product_price}</td>
                        <td>{$vo.product_total_price}</td>
                    </tr>
                    {/volist}
                </table>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">合计:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.serial_array.shoukou_price}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                {/notempty}


                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1" colspan="8" style="text-align:center;">订单总计</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <td>柜体</td>
                        <td>功能组件</td>
                        <td>滑动门</td>
                        <td>收口条</td>
                        <td>五金附件</td>
                        <td>标准售价合计</td>
                        <td>折扣</td>
                        <td>实际售价合计</td>
                    </tr>
                    </thead>
                    <tr>
                        <td>
                            {notempty name="info.serial_array.plate_price"}
                            {$info.serial_array.plate_price}
                            {/notempty}
                        </td>
                        <td>
                            {notempty name="info.serial_array.zj_price"}
                            {$info.serial_array.zj_price}
                            {/notempty}
                        </td>
                        <td>
                            {notempty name="info.serial_array.door_price"}
                            {$info.serial_array.door_price}
                            {/notempty}
                        </td>
                        <td>
                            {notempty name="info.serial_array.shoukou_price"}
                            {$info.serial_array.shoukou_price}
                            {/notempty}
                        </td>
                        <td>
                            {notempty name="info.serial_array.wujin_price"}
                            {$info.serial_array.wujin_price}
                            {/notempty}
                        </td>
                        <td>
                            {notempty name="info.serial_array.scheme_price"}
                            {$info.serial_array.scheme_price}
                            {/notempty}
                        </td>
                        <td>
                            {notempty name="info.serial_array.discount"}
                            {$info.serial_array.discount}
                            {/notempty}
                        </td>
                        <td>
                            {notempty name="info.serial_array.scheme_dis_price"}
                            {$info.serial_array.scheme_dis_price}
                            {/notempty}
                        </td>
                    </tr>
                </table>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">合计:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.serial_array.scheme_dis_price}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>



                <!-- PAGE CONTENT ENDS -->
            </form>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

<script>

    $('.show-details-btn').on('click', function(e) {
        e.preventDefault();
        $(this).closest('tr').next().toggleClass('open');
        $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
    });

</script>
