<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_product/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" name="myfrom" >
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商品名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.name|default=''}" disabled/>
                    </div>
                </div>    
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商品分类:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$shop_classify|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">销售量:</label>
                    <div class="col-sm-9 disable">
                        <input type="text" class="col-xs-10 col-sm-5" value='{$info.sales|default=""}' disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">好评数:</label>
                    <div class="col-sm-9 disable">
                        <input type="text" class="col-xs-10 col-sm-5" value='{$info.like_count|default=""}' disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">收藏数:</label>
                    <div class="col-sm-9 disable">
                        <input type="text" class="col-xs-10 col-sm-5" value='{$info.collect_count|default=""}' disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">运费:</label>
                    <div class="col-sm-9 disable">
                        <input type="text" class="col-xs-10 col-sm-5" value='{$info.freight_charge|default=""}' disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label no-padding-right">加工费:</label>-->
                    <!--<div class="col-sm-9 disable">-->
                        <!--<input type="text" class="col-xs-10 col-sm-5" value='{$info.processing_charge|default=""}' disabled/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="space-4"></div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label no-padding-right">上门费:</label>-->
                    <!--<div class="col-sm-9 disable">-->
                        <!--<input type="text" class="col-xs-10 col-sm-5" value='{$info.home_charge|default=""}' disabled/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="space-4"></div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label no-padding-right">服务费:</label>-->
                    <!--<div class="col-sm-9 disable">-->
                        <!--<input type="text" class="col-xs-10 col-sm-5" value='{$info.service_charge|default=""}' disabled/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="space-4"></div>-->

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商品参数:</label>
                    <div class="col-sm-5">
                        {if condition="isset($product_param)"}
                        {volist name="$product_param" id="vo"}
                        <p>
                            <input type="text" placeholder="标题" class="col-xs-4 col-sm-5 grey" value="{$vo.key}" readonly/>
                            <input type="text" placeholder="内容" class="col-xs-4 col-sm-5 grey" value="{$vo.value}" readonly/>
                        </p>
                        {/volist}
                        {/if}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否热门:</label>
                    <div class="col-sm-9">
                        {:radio(['1'=>'是','0'=>'否'],$info.is_hot,'disabled',50)}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否新品:</label>
                    <div class="col-sm-9">
                        {:radio(['1'=>'是','0'=>'否'],$info.is_new,'disabled',50)}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">轮播图片:</label>
                    <div class="col-sm-9">
                        {volist name="$img_src_list" id="vo"}
                        <a href="{$imgPre}{$vo}" target="_blank">
                        <img src="{$imgPre}{$vo}?imageView2/0/w/360/h/360" class="img-thumbnail"/>
                        </a>
                        {/volist}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商品详情:</label>
                    <div class="col-sm-9">
                        <textarea id="content" name="content" style="height: 500px">{$info.content}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/wangEditor"  textarea="content"/}