<div class="page-content">
    {if condition="$is_sale eq 1"}
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_product/add")}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    {/if}
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="page-header">
        <form class="form-inline" role="form" id="product-search">
            <div class="form-group">
                <label class="control-label no-padding-right">商品名称:</label>
                <input type="text" class="form-control" name="name" value="{$data['name']|default=''}" placeholder="请输入名称">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">所属商家:</label>
                <select name="supplier_id">
                    <option value="0">--请选择所属商家--</option>
                    {volist name="suppliers" id="supplier"}
                    <option value="{$supplier.supplier_id}"
                    {if condition="isset($data['supplier_id']) AND $data['supplier_id'] eq $supplier.supplier_id"}selected{/if}>{$supplier.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">所属分类:</label>
                <select name="classify_one_id" class="classify"  data-level="1">
                    <option value="0">--请选择一级分类--</option>
                    {volist name="classify_one_ids" id="classify"}
                    <option value="{$classify.classify_id}"
                    {if condition="isset($data['classify_one_id']) AND $data['classify_one_id'] eq $classify.classify_id"}selected{/if}>{$classify.name}</option>
                    {/volist}
                </select>
                <select name="classify_two_id" class="classify"  data-level="2">
                    <option value="0">--请选择二级分类--</option>
                    {if condition="isset($classify_two_ids)"}
                    {volist name="classify_two_ids" id="vo"}
                    <option value="{$vo.classify_id}"
                            {if condition="isset($data['classify_two_id']) AND $data['classify_two_id'] eq $vo.classify_id"}selected{/if}
                    >{$vo.name}</option>
                    {/volist}
                    {/if}
                </select>
                <select name="classify_three_id" class="classify"  data-level="3">
                    <option value="0">--请选择三级分类--</option>
                    {if condition="isset($classify_three_ids)"}
                    {volist name="classify_three_ids" id="vo"}
                    <option value="{$vo.classify_id}"
                            {if condition="isset($data['classify_three_id']) AND $data['classify_three_id'] eq $vo.classify_id"}selected{/if}
                    >{$vo.name}</option>
                    {/volist}
                    {/if}
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">创建时间:</label>
                <input type="text" class="form-control create-time" name="begin_time" value="{$data['begin_time']|default=''}" placeholder="开始时间">到
                <input type="text" class="form-control create-time" name="end_time" value="{$data['end_time']|default=''}" placeholder="结束时间">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">价格范围:</label>
                <input type="number" class="form-control" name="left_price" value="{$data['left_price']|default=''}" placeholder="左区间" min="0">到
                <input type="number" class="form-control" name="right_price" value="{$data['right_price']|default=''}" placeholder="右区间" min="0">
            </div>
            <button type="button" class="pull-right btn" id="product-search-btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>商品id</th>
                                <th>商品名称</th>
                                <th>所属商家</th>
                                <th>销售量</th>
                                <th>好评数</th>
                                <th>浏览数</th>
                                <th>收藏数</th>
                                <th class="col-md-2">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.product_id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.supplier.name}</td>
                                <td>{$vo.sales}</td>
                                <td>{$vo.like_count}</td>
                                <td>{$vo.look_count}</td>
                                <td>{$vo.collect_count}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/shop_product/detail","id=$vo[product_id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="编辑" href='{:url("/admin/shop_product/edit","id=$vo[product_id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/shop_product/del\",\"id=$vo[product_id]\")}', '确认要删除『 id={$vo.product_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="查看规格" href='{:url("/admin/shop_product_standard/index","product_id=$vo[product_id]")}'>
                                           <span class="btn btn-xs btn-inverse">
                                                <i class="ace-icon fa fa-list bigger-120"></i>
                                            </span>
                                        </a>
                                        {if condition="$vo.is_sale eq 1"}
                                        <a title="下架商品" href='{:url("/admin/shop_product/changeSale","id=$vo[product_id]&is_sale=0")}'>
                                           <span class="btn btn-xs">
                                                <i class="ace-icon fa fa-cart-arrow-down bigger-120"></i>
                                            </span>
                                        </a>
                                        {else /}
                                        <a title="上架商品" href='{:url("/admin/shop_product/changeSale","id=$vo[product_id]&is_sale=1")}'>
                                           <span class="btn btn-xs btn-pink">
                                                <i class="ace-icon fa fa-cart-plus bigger-120"></i>
                                            </span>
                                        </a>
                                        {/if}
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/datetime"  classname="create-time"/}
<script>
    $(function () {
        var map = new Array();
        map[1] = '一';
        map[2] = '二';
        map[3] = '三';
        $('.classify').change(function () {
            var level = $(this).attr('data-level');
            var parentId = $(this).val();
            var url = '{:url("/admin/api/getClassifyByParentId?parent_id=")}';
            var obj = $("[data-level='"+ (1+parseInt(level)) +"']");
            if(level!=3){
                $("[data-level=3]").html("<option value='0'>--请选择三级分类--</option>");
            }
            $.get(url+parentId,function (data,status) {
                var option = "<option value='0'>--请选择"+map[++level]+"级分类--</option>";
                $.each(data,function(n,value){
                    option += "<option value='"+value.classify_id+"'>"+value.name+"</option>"
                })
                obj.html(option);
            })
        })

        $('#product-search-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/shop_product/validateData')}",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('#product-search').submit();
                    }
                },
                error:function () {
                    $('#product-search').submit();
                }
            })
        })
    })
</script>

