<link rel="stylesheet" href="__CSS__/imgbox.css">
<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_product/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['product_id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商品名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="name" value="{$info.name|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">分类:</label>
                    <div class="col-sm-9">
                        <select name="classify_one_id" class="col-xs-10 col-sm-2 classify" data-level="1">
                            <option value="0">--选择分类--</option>
                            {volist name="classify_one_ids" id="vo"}
                            <option value="{$vo.classify_id}"
                                    {if condition="(isset($info.classify_one_id)) AND ($info.classify_one_id eq $vo.classify_id)"}selected{/if}
                            >{$vo.name}</option>
                            {/volist}
                        </select>
                        <select name="classify_two_id" class="col-xs-10 col-sm-2 classify" data-level="2">
                            <!--<option>a</option>-->
                            {if condition="isset($classify_two_ids)"}
                            {volist name="classify_two_ids" id="vo"}
                            <option value="{$vo.classify_id}"
                                    {if condition="$info.classify_two_id eq $vo.classify_id"}selected{/if}
                            >{$vo.name}</option>
                            {/volist}
                            {/if}
                        </select>
                        <select name="classify_three_id" class="col-xs-10 col-sm-2 classify" data-level="3">
                            <!--<option>a</option>-->
                            {if condition="isset($classify_three_ids)"}
                            {volist name="classify_three_ids" id="vo"}
                            <option value="{$vo.classify_id}"
                                    {if condition="$info.classify_three_id eq $vo.classify_id"}selected{/if}
                            >{$vo.name}</option>
                            {/volist}
                            {/if}
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属商家:</label>
                    <div class="col-sm-9">
                        <select name="supplier_id" class="col-xs-10 col-sm-5">
                            {volist name="suppliers" id="vo"}
                            <option value="{$vo.supplier_id}"
                                    {if condition="(isset($info.supplier_id)) AND ($info.supplier_id eq $vo.supplier_id)"}selected{/if}
                            >{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">运费:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="freight_charge" value='{$info.freight_charge|default=""}'/>
                    </div>
                </div>
                <div class="space-4"></div>

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label no-padding-right">加工费:</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="text" class="col-xs-10 col-sm-5" name="processing_charge" value='{$info.processing_charge|default=""}'/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="space-4"></div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label no-padding-right">上门费:</label>-->
                    <!--<div class="col-sm-9 disable">-->
                        <!--<input type="text" class="col-xs-10 col-sm-5" name="home_charge" value='{$info.home_charge|default=""}'/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="space-4"></div>-->

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label no-padding-right">服务费:</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="text" class="col-xs-10 col-sm-5" name="service_charge" value='{$info.service_charge|default=""}'/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="space-4"></div>-->

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">发货地址:</label>
                    <div class="col-sm-7">
                        <select name="province" class="col-xs-10 col-sm-3 prov">
                            <option value="0">--选择省份--</option>
                            {volist name="provs" id="vo"}
                            <option value="{$vo.id}"
                                    {if condition="(isset($info.province)) AND ($info.province eq $vo.id)"}selected{/if}
                            >{$vo.name}</option>
                            {/volist}
                        </select>
                        <select name="city" class="col-xs-10 col-sm-3 city">
                            <option value="0">--选择城市--</option>
                            {if condition="isset($citys)"}
                            {volist name="citys" id="vo"}
                            <option value="{$vo.id}"
                                    {if condition="$info.city eq $vo.id"}selected{/if}
                            >{$vo.name}</option>
                            {/volist}
                            {/if}
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商品参数:</label>
                    <div class="col-sm-5" id="product_param">
                        <p>
                            <input type="text" placeholder="key" class="col-xs-4 col-sm-4 key" value=''/>
                            <input type="text" placeholder="value" class="col-xs-4 col-sm-4 value" value=''/>
                            <a href='javascript:void(0)' title="添加" class="add-btn">
                                   <span class="btn btn-xs btn-info" style="font-size: 7px">
                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                   </span>
                            </a>
                        </p>
                        {if condition="isset($product_param)"}
                        {volist name="$product_param" id="vo"}
                        <p>
                            <input type="text" placeholder="key" class="col-xs-4 col-sm-4 grey" name="key[]" value="{$vo.key}" readonly/>
                            <input type="text" placeholder="value" class="col-xs-4 col-sm-4 grey" name="value[]" value="{$vo.value}" readonly/>
                            <a href="javascript:void(0)" class="del-btn" title="删除">
                                <span class="btn btn-xs btn-danger">
                                    <i class="ace-icon fa fa-close bigger-120"></i>
                                </span>
                            </a>
                        </p>
                        {/volist}
                        {/if}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否热门:</label>
                    <div class="col-sm-9">
                        {:radio(['1'=>'是','0'=>'否'],isset($info) ? $info.is_hot : 0 ,'name="is_hot"',50)}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否新品:</label>
                    <div class="col-sm-9">
                        {:radio(['1'=>'是','0'=>'否'],isset($info) ? $info.is_new : 0 ,'name="is_new"',50)}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否上架:</label>
                    <div class="col-sm-9">
                        {:radio(['1'=>'是','0'=>'否'],isset($info) ? $info.is_sale : 0 ,'name="is_sale"',50)}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">轮播图片:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_img_src_list" style="border: 0" >
                            <div class="cover">
                                <img src="__STATIC__/img/add_img.png" />
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="file" multiple
                               data-type="thumbnail_img_src_list" data-input="img_src_list" data-muti="muti"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"></label>
                    <div class="col-sm-9" id="img_src_list_boxes">
                        {if condition="isset($img_src_list)"}
                        {volist name="$img_src_list" id="vo"}
                        <div class="img-box">
                            <a href="{$imgPre}{$vo}" target="_blank">
                                <img src="{$imgPre}{$vo}?imageView2/0/w/360/h/360" class="img-thumbnail"/>
                            </a>
                            <a class="del-img-box">删除图片</a>
                            <input type="hidden" name="img_src_list[]" value="{$vo}">
                        </div>
                        {/volist}
                        {/if}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商品详情:</label>
                    <div class="col-sm-9" id="editor-container">
                        <textarea id="content" name="content" style="height:500px;">{$info.content|default=""}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-12">
                        <button class="btn btn-info" type="button" id="sub-btn"  data-validate="need">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/wangEditor"  textarea="content"/}
{include file="public/ajaxFiles"/}
<!-- 联动分类查询 -->
<script>
    $(function(){
        //分类三级联动
        $('.classify').change(function () {
            var level = $(this).attr('data-level');
            var parentId = $(this).val();
            var url = '{:url("/admin/api/getClassifyByParentId?parent_id=")}';
            var obj = $("[data-level='"+ (1+parseInt(level)) +"']");
            if(level!=3){
                $("[data-level=3]").html('');
            }
            $.get(url+parentId,function (data,status) {
                var option = "<option>--选择分类--</option>";
                $.each(data,function(n,value){
                    option += "<option value='"+value.classify_id+"'>"+value.name+"</option>"
                })
                obj.html(option);
            })
        })
        //图片删除
        $('#img_src_list_boxes').on('click','.del-img-box',function(){
            if(confirm('确定要删除图片?')){
                $(this).closest('.img-box').remove();
            }
        })
        //添加配置
        function add_content(key,value) {
            var first_input = '<input type="text" placeholder="标题" class="col-xs-4 col-sm-4 grey" name="key[]" value="'+key+'" readonly/>';
            var second_input = '<input type="text" placeholder="内容" class="col-xs-4 col-sm-4 grey" name="value[]" value="'+value+'" readonly/>';
            var btn = '<a href="javascript:void(0)" class="del-btn" title="删除"><span class="btn btn-xs btn-danger"><i class="ace-icon fa fa-close bigger-120"></i> </span></a>';
            return '<p>'+first_input+second_input+btn+'</p>'
        }

        $('.add-btn').on('click',function () {
            var key = $('.key').val();
            var value = $('.value').val();
            if(key == ''|| value == ''){
                alert('请填写内容')
            }else{
                $('#product_param').append(add_content(key,value));
                $('.key').val('');
                $('.value').val('');
            }
        })

        $('#product_param').on('click','.del-btn',function () {
            $(this).closest('p').remove();
        })

        //省市联动
        $('.prov').change(function () {
            //获取省id
            var id = $(this).val();
            var url = '{:url("/admin/api/getArea?parent_id=")}'+id;
            $.get(url,function (data,status) {
                var option = "<option value='0'>--选择城市--</option>";
                $.each(data,function(n,value){
                    option += "<option value='"+value.id+"'>"+value.name+"</option>"
                })
                $('.city').html(option);
            })
        })

        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/shopProduct')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    });
</script>
