<link rel="stylesheet" href="__CSS__/jquery.fileupload.css">
<script src="__JS__/jquery.ui.widget.js"></script>
<script src="__JS__/jquery.iframe-transport.js"></script>
<script src="__JS__/jquery.fileupload.js"></script>
<script>
    var uploadUrl = "{:url('/admin/api/saveEditorPicToCloud')}";
    // 图片上传部分
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        $('#fileupload').fileupload({
            url: uploadUrl,
            dataType: 'json',
            done: function (e, data) {
                // 这里是图片上传完成后的代码
                if(data.result.code == 0){
                    $("#thumbnail").html('<div class="up-img"><img style="max-width: 500px;" src="'+data.result.data.small+'" /></div>');
                    $("#[input_id]").val(data.result.data.origin);
                }else{
                    alert(data.result.code.msg);
                }
            },
            progressall: function (e, data) {
                // 这里处理图片正在上传的进度
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>