<link rel="stylesheet" href="__CSS__/jquery.fileupload.css">
<script src="__JS__/jquery.ui.widget.js"></script>
<script src="__JS__/jquery.iframe-transport.js"></script>
<script src="__JS__/jquery.fileupload.js"></script>
<script>
    var uploadUrl = "{:url('/admin/api/saveEditorPicToCloud')}";
    // 图片上传部分
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        $('.fileupload').fileupload({
            url: uploadUrl,
            dataType: 'json',
            done: function (e, data) {
                // 这里是图片上传完成后的代码
                if(data.result.code == 0){
                    var show = $(this).attr('data-type');
                    var input = $(this).attr('data-input');
                    var delete_src = $(this).attr('data-delete');
                    var muti = $(this).attr('data-muti');
                    if(muti == 'muti'){
                        //多图片上传
                        var obj = $('#'+input+'_boxes');
                        var viewTag = "<a href='"+ data.result.data.src +"' target='_blank'><img src='"+ data.result.data.small +"' class='img-thumbnail'/></a>";
                        var deleteTag = "<a class='del-img-box'>删除图片</a>";
                        var hiddenTag = "<input type='hidden' name='"+input+"[]' value='"+ data.result.data.origin +"'>";
                        var divTag = "<div class='img-box'>"+ viewTag + deleteTag + hiddenTag + "</div>";
                        obj.append(divTag);
                    }else{
                        $("#"+show).html('<div class="up-img"><img style="max-width: 500px;" src="'+ data.result.data.small +'" /></div>');
                        $("#"+input).val(data.result.data.origin);
                        if (delete_src != ''){
                            $("."+delete_src).append('<i class="help-button delete-button" style="background-color:#D15B47;cursor: pointer" onclick="delete_button(this);" data-type="'+show+'" data-input="'+input+'">X</i>');
                        }
                    }
                }else{
                    alert(data.result.msg);
                }
            },
            progressall: function (e, data) {
                console.log(e);
                console.log(data)
                // 这里处理图片正在上传的进度
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>