<link rel="stylesheet" href="__STATIC__/ace1.4/assets/css/bootstrap-datetimepicker.min.css">
<script src="__STATIC__/ace1.4/assets/js/moment.min.js"></script>
<script src="__STATIC__/ace1.4/assets/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(".[classname]").datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
</script>