<link rel="stylesheet" type="text/css" href="__STATIC__/simditor-2.3.6/styles/simditor.css"/>
<script src="__STATIC__/simditor-2.3.6/scripts/module.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/simditor-2.3.6/scripts/hotkeys.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/simditor-2.3.6/scripts/uploader.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/simditor-2.3.6/scripts/simditor.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    editor = new Simditor({
        textarea: $('#[textarea]'),
        placeholder: '这里输入文字...',
        toolbar: toolbar,
        pasteImage: true,
        defaultImage: '/simditor-2.3.6/images/image.png',
        upload: {
            url: "{:url('/admin/api/saveSimditorEditorPicToCloud')}",
            params: null,
            fileKey: "file",
            connectionCount: 9,
            leaveConfirm: "正在上传,确定要取消上传文件吗?"
        }
    });
</script>