<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_cabinet_scene/add",'cabinet_id='.$cabinet_id)}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>场景名称</th>
                                <th>房间x轴</th>
                                <th>房间y轴</th>
                                <th>房间z轴</th>
                                <th class="col-md-4">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.name}</td>
                                <td>{$vo.size_x}</td>
                                <td>{$vo.size_y}</td>
                                <td>{$vo.size_z}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a href='{:url("/admin/customized_cabinet_scene/edit","id=$vo[scene_id]")}' title="编辑">
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                           </span>
                                        </a>
                                        <a href='{:url("/admin/customized_cabinet_environment/index","scene_id=$vo[scene_id]")}' title="查看柜体3D环境图片">
                                            <span class="btn btn-xs btn-pink">
                                                <i class="ace-icon fa fa-picture-o bigger-120"></i>
                                            </span>
                                        </a>
                                        <a href='{:url("/admin/customized_cabinet_texture/index","scene_id=$vo[scene_id]")}' title="查看柜体材质图片">
                                            <span class="btn btn-xs btn-warning">
                                            <i class="ace-icon fa fa-database bigger-120"></i>
                                            </span>
                                        </a>
                                        <a href='{:url("/admin/customized_cabinet_model/index","scene_id=$vo[scene_id]")}' title="查看柜体模型">
                                            <span class="btn btn-xs btn-info2">
                                                <i class="ace-icon fa fa-modx bigger-120"></i>
                                            </span>
                                        </a>

                                        <a href='http://three.inffur.com/?scene_id={$vo.scene_id}&type=show&page=editEnv&cPage=lightGroup{$Think.THREE_PARAM}' title="编辑灯光">
                                            <span class="btn btn-xs btn-corner">
                                                <i class="ace-icon fa fa-lightbulb-o bigger-120"></i>
                                            </span>
                                        </a>
                                        <a href='http://three.inffur.com/?scene_id={$vo.scene_id}&type=show&page=editEnv&cPage=camera{$Think.THREE_PARAM}' title="编辑相机">
                                            <span class="btn btn-xs btn-inverse">
                                                <i class="ace-icon fa fa-camera bigger-120"></i>
                                            </span>
                                        </a>
                                        <a href='http://three.inffur.com/?scene_id={$vo.scene_id}&type=show&page=editEnv&cPage=orbitCtrl{$Think.THREE_PARAM}' title="编辑控制器">
                                            <span class="btn btn-xs btn-success">
                                                <i class="ace-icon fa fa-tty bigger-120"></i>
                                            </span>
                                        </a>
                                        <a href='http://three.inffur.com/?scene_id={$vo.scene_id}&type=show&page=editEnv&cPage=render{$Think.THREE_PARAM}' title="编辑渲染器">
                                            <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-road bigger-120"></i>
                                            </span>
                                        </a>
                                        <a href='javascript:void(0)'  title="删除" onclick="return alert_del('{:url(\"/admin/customized_cabinet_scene/del\",\"id=$vo[scene_id]\")}', '确认要删除『 id={$vo.scene_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/customized_cabinet_scene/edit","id=$vo[scene_id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/customized_cabinet_scene/edit\",\"id=$vo[scene_id]\")}', '确认要删除『 id={$vo.scene_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



