<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.history.back()">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" name="myfrom" >
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属商品:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.product.name|default=''}" disabled/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">规格名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.name|default=''}" disabled />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">价格:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.price|default=''}" disabled />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">库存:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.stocks|default=''}" disabled />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">默认规格:</label>
                    <div class="col-sm-9">
                        <label class="control-label no-padding-right">
                            <input name="type" type="radio" value="0" class="ace" {if condition="(isset($info.status) AND $info.status eq 0) OR !isset($info)"} checked="true"{/if} />
                            <span class="lbl">否</span>
                            <label>
                                <input name="type" type="radio" class="ace" value="1" {if condition="isset($info.status) AND $info.status eq 1"} checked="true" {/if}/>
                                <span class="lbl">是</span>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">规格图片:</label>

                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_poster_src" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.img) AND $info.img neq null"}
                                <img src="{$imgPre}{$info.img}?imageView2/0/w/350/h/200" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="file" data-type="thumbnail_poster_src" data-input="house_type_src"/>
                        <input type="hidden" name="image" id="house_type_src" value="{$info.img|default=''}"/>

                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFiles"/}
