<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_product_standard/add",'product_id='.$product_id)}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_product/index")}'">
        返回列表
        <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>规格</th>
                                <th>价格</th>
                                <th>库存</th>
                                <th>默认</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.product_name}</td>
                                <td>{$vo.standard_name}</td>
                                <td>{$vo.price}</td>
                                <td>{$vo.stocks}</td>
                                <td>
                                    <input id="id-button-borders" data-standard-id = "{$vo.standard_id}" data-product-id = "{$vo.product_id}" type="checkbox" class="ace ace-switch ace-switch-5 change"
                                           {if condition = "$vo.status == 1"} checked="checked" {/if} />
                                    <span class="lbl middle"></span>
                                </td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/shop_product_standard/detail","id=$vo[standard_id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="编辑" href='{:url("/admin/shop_product_standard/edit","id=$vo[standard_id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/shop_product_standard/del\",\"id=$vo[standard_id]\")}', '确认要删除『 id={$vo.standard_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>
                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/shop_product_standard/edit","id=$vo[standard_id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/shop_product_standard/edit\",\"id=$vo[standard_id]\")}', '确认要删除『 id={$vo.standard_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->


        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(function(){
        $('.change').on('change',function () {
            var product_id = $(this).attr('data-product-id');
            var standard_id = $(this).attr('data-standard-id');
            var val = ($(this).is(':checked') == true) ? '1' : '0';
            $.ajax({
                url:"{:url('/admin/shop_product_standard/change')}",
                data:'product_id='+ product_id +'&status=' + val + '&standard_id=' + standard_id,
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }
                    location.reload();

                },
                error:function () {
                    alert('更改有误');
                }
            })

        });

    })
</script>



