<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_product_standard/index",'product_id='.$product_id)}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom">
                {:input('id')?'<input type="hidden" value="'.$info['standard_id'].'" name="id">':''}
                <input type="hidden" value="{$product_id}" name="product_id">

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">规格名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="name" value='{$info.name|default=""}'/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">价格:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="price" value='{$info.price|default=""}'/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">库存:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="stocks" value='{$info.stocks|default=""}'/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">默认规格:</label>
                    <div class="col-sm-9">
                        <label class="control-label no-padding-right">
                            <input name="status" type="radio" value="0" class="ace" {if condition="(isset($info.status) AND $info.status eq 0) OR !isset($info)"} checked="true"{/if} />
                            <span class="lbl">否</span>
                            <label>
                                <input name="status" type="radio" class="ace" value="1" {if condition="isset($info.status) AND $info.status eq 1"} checked="true" {/if}/>
                                <span class="lbl">是</span>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">规格图片:</label>

                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_poster_src" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.img) AND $info.img neq null"}
                                <img src="{$imgPre}{$info.img}?imageView2/0/w/350/h/200" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="file" data-type="thumbnail_poster_src" data-input="house_type_src"/>
                        <input type="hidden" name="img" id="house_type_src" value="{$info.img|default=''}"/>

                    </div>
                </div>


                <div class="space-4"></div>
                {if condition="input('id')"}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">修改原因:</label>
                    <div class="col-sm-9">
                        <textarea name="reason" class="col-xs-10 col-sm-5" rows="5" placeholder="若进行了价格修改则必须填写修改原因"></textarea>
                        <input type="hidden" name="original_price" value='{$info.price|default=0}'/>
                    </div>
                </div>
                <div class="space-4"></div>
                {/if}
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<!-- 联动分类查询 -->
{include file="public/ajaxFiles"/}
<script>
    $(function(){
//        $('.classify').change(function () {
//            var level = $(this).attr('data-level');
//            var parentId = $(this).val();
//            if(level!=3){
//                var url = '{:url("/admin/api/getClassifyByParentId?parent_id=")}';
//                var obj = $("[data-level='"+ (1+parseInt(level)) +"']");
//                $("[data-level=3]").html('');
//                $.get(url+parentId,function (data,status) {
//                    var option = "<option>--选择分类--</option>";
//                    $.each(data,function(n,value){
//                        option += "<option value='"+value.classify_id+"'>"+value.name+"</option>"
//                    })
//                    obj.html(option);
//                })
//            }else{
//                var url = '{:url("/admin/api/getProductByClassifyId?classify_id=")}'+parentId;
//                var obj = $("#product-list");
//                $.get(url,function (data,status) {
//                    var option = "<option value='0'>--选择商品--</option>";
//                    $.each(data,function(n,value){
//                        option += "<option value='"+value.product_id+"'>"+value.name+"</option>"
//                    })
//                    obj.html(option);
//                })
//            }
//
//        })

        $('#sub-btn').on('click',function () {
            $('form').submit();
        })
    });
</script>
