<div class="page-content">
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">
        <form class="form-inline" role="form" id="demand-search">
            <div class="form-group">
                <label class="control-label no-padding-right">需求状态:</label>
                <select name="status">
                    <option value="ALL" {if condition="isset($data['status']) AND $data['status'] === 'ALL'"}selected{/if}>全部</option>
                    {volist name='statusMap' id='vo'}
                    <option value="{$key}" {if condition="isset($data['status']) AND $data['status'] === (string)$key"}selected{/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
            <button type="button" class="pull-right btn" id="demand-search-btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>需求id</th>
                                <th>发布者</th>
                                <th>标题</th>
                                <th>定制家具类型</th>
                                <th>材质/花色</th>
                                <th>状态</th>
                                <th>赏金</th>
                                <th>发布时间</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.demand_id}</td>
                                <td>{$vo.username}</td>
                                <td>{$vo.title}</td>
                                <td>{$vo.classify}</td>
                                <td>{$vo.material_name}</td>
                                <td>{$statusMap[$vo.status]}</td>
                                <td>{$vo.reward}</td>
                                <td>{:date('Y-m-d H:i',$vo.create_time)}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/demand/detail","id=$vo[demand_id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="编辑" href='{:url("/admin/demand/edit","id=$vo[demand_id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        {if condition="$vo.status == 1"}
                                        <a title="删除" href='javascript:void(0)'
                                           onclick="return alert_del('{:url(\"/admin/demand/del\",\"id=$vo[demand_id]\")}', '确认要删除『 id={$vo.demand_id} 』这个需求吗？(需求删除后自动进行退款操作)');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                        {/if}
                                        {if condition="$vo.status == 3 and $vo.banner_id == null"}
                                        <a title="设置为banner" href='{:url("/admin/demand_banner/add","demand_id=$vo[demand_id]")}'>
                                        <span class="btn btn-xs btn-pink" >
                                                <i class="ace-icon fa fa-thumbs-up bigger-120"></i>
                                            </span>
                                        </a>
                                        {/if}
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(function () {
        $('#demand-search-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/demand/validateData')}",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('#demand-search').submit();
                    }
                },
                error:function () {
                    $('#demand-search').submit();
                }
            })
        })
    })
</script>

