<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_home_house_type/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['house_id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="name" value="{$info.name|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">居室:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="bedroom" value="{$info.bedroom|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">建筑面积:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="proportion" value="{$info.proportion|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">电梯数:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="elevator_count" value="{$info.elevator_count|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">方位:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="orientation" value="{$info.orientation|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">装修亮点:</label>
                    <div class="col-sm-5" id="product_param">
                        <p>
                            <select id="decorate" name="decorate_id[]" class="col-xs-4 col-sm-4 grey">
                                <option value="0"></option>
                                {volist name="$all_decorate" id="vo"}
                                <option value="{$vo.decorate_id}">{$vo.name}</option>
                                {/volist}
                            </select>
                            <a href='javascript:void(0)' title="添加" class="add-btn">
                                   <span class="btn btn-xs btn-info" style="font-size: 7px">
                                        <i class="ace-icon fa fa-check bigger-120"></i>
                                   </span>
                            </a>
                        </p>
                        {if condition="isset($decorate_list)"}
                        {volist name="$decorate_list" id="vo"}
                        <p>
                            <input type="text" placeholder="名称" class="col-xs-4 col-sm-4 grey" value="{$vo.name}">
                            <input type="hidden" class="col-xs-4 col-sm-4 grey" name="decorate_id[]" value="{$vo.decorate_id}">
                            <a href="javascript:void(0)" class="del-btn" title="删除">
                                <span class="btn btn-xs btn-danger">
                                    <i class="ace-icon fa fa-close bigger-120"></i>
                                </span>
                            </a>
                        </p>
                        {/volist}
                        {/if}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">户型图:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail" style="border: 0">
                            <div class="cover">
                                {if condition="isset($info.img_src) && $info.img_src neq ''"}
                                <img src="{$imgPre}{$info.img_src}?imageView2/0/w/360/h/360" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="file">
                        <div id="img_src_url"></div>
                        <!-- The container for the uploaded files -->
                        <div id="files" class="files"></div>
                    </div>
                </div>
                <input type="hidden" name="img_src" id="image_input" value="{$info.img_src|default=''}"/>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFile"  input_id="image_input"/}
<script>
    $(function(){
        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/myHomeHouseType')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        });
        //添加配置
        function add_content(id,name) {
            var first_input = '<input type="text" placeholder="名称" class="col-xs-4 col-sm-4 grey" value="'+name+'" readonly/>';
            var second_input = '<input type="hidden" class="col-xs-4 col-sm-4 grey" name="decorate_id[]" value="'+id+'" />';
            var btn = '<a href="javascript:void(0)" class="del-btn" title="删除"><span class="btn btn-xs btn-danger"><i class="ace-icon fa fa-close bigger-120"></i> </span></a>';
            return '<p>'+first_input+second_input+btn+'</p>'
        }

        $('.add-btn').on('click',function () {
            var objSs = document.getElementById("decorate");
            var id = objSs.options[objSs.selectedIndex].value;
            var name = objSs.options[objSs.selectedIndex].text;
            if(name == ''){
                alert('请选择装修亮点')
            }else{
                $('#product_param').append(add_content(id,name));
                $('#decorate').val('');
            }
        });

        $('#product_param').on('click','.del-btn',function () {
            $(this).closest('p').remove();
        });
    })
</script>