<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_color/add")}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>颜色名称</th>
                                <th>颜色编号</th>
                                <th>门框颜色</th>
                                <th>把手颜色</th>
                                <th>铝合金颜色</th>
                                <th>材质颜色</th>
                                <th>移门边框色</th>
                                <th>移门金属条</th>
                                <th>是否移门</th>
                                <th>是否显示</th>
                                <th>颜色原图</th>
                                <!--<th>颜色图片(横浅)</th>-->
                                <!--<th>颜色图片(横深)</th>-->
                                <!--<th>颜色图片(竖浅)</th>-->
                                <!--<th>颜色图片(竖深)</th>-->
                                <!--<th>移门图片</th>-->
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.color_name}</td>
                                <td>{$vo.color_no}</td>
                                <td style="color: {$vo.border_color}">{$vo.border_color}</td>
                                <td style="color: {$vo.handle_color}">{$vo.handle_color}</td>
                                <td style="color: {$vo.alloy_color}">{$vo.alloy_color}</td>
                                <td style="color: {$vo.material_color}">{$vo.material_color}</td>
                                <td style="color: {$vo.door_border_color}">{$vo.door_border_color}</td>
                                <td style="color: {$vo.door_alloy_color}">{$vo.door_alloy_color}</td>
                                <td>{if condition="$vo.is_door == 1"}是{else/}否{/if}</td>
                                <td>{if condition="$vo.is_show == 1"}是{else/}否{/if}</td>
                                <td><img src="{$imgPre}{$vo.origin_img_src}?imageView2/0/w/120/h/120"/></td>
                                <!--<td><img src="{$imgPre}{$vo.img_src_row_light}?imageView2/0/w/120/h/120"/></td>-->
                                <!--<td><img src="{$imgPre}{$vo.img_src_row_dark}?imageView2/0/w/120/h/120"/></td>-->
                                <!--<td><img src="{$imgPre}{$vo.door_img_src}?imageView2/0/w/120/h/120"/></td>-->
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a href='{:url("/admin/customized_color/detail","id=$vo[color_id]")}' title="查看">
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a href='{:url("/admin/customized_color/edit","id=$vo[color_id]")}' title="编辑">
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a href="http://three.inffur.com/?color_id={$vo['color_id']}&page=editBoardMtl&type=show{$Think.THREE_PARAM}" title="编辑颜色材质">
                                            <span class="btn btn-xs btn-info2">
                                                <i class="ace-icon fa fa-modx bigger-120"></i>
                                            </span>
                                        </a>
                                        {if condition="$vo.is_default == 0"}
                                        <a href='javascript:void(0)'  title="删除" onclick="return alert_del('{:url(\"/admin/customized_color/del\",\"id=$vo[color_id]\")}', '确认要删除『 id={$vo.color_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                        {/if}
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/customized_color/edit","id=$vo[color_id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                {if condition="$vo.is_default == 0"}
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/customized_color/edit\",\"id=$vo[color_id]\")}', '确认要删除『 id={$vo.color_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                {/if}
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



