<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_color/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['color_id'].'" name="id"><input type="hidden" value="'.$info['color_id'].'" name="color_id">':''}
                <input type="hidden" value="0" name="is_deleted">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">颜色名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="color_name" value="{$info.color_name|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">颜色编号:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="color_no" value="{$info.color_no|default=''}" {if condition="isset($info) && $info.is_default == 1"}readonly{/if}/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">门框颜色:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="border_color" value="{$info.border_color|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">把手颜色:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="handle_color" value="{$info.handle_color|default=''}" />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">铝合金颜色:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="alloy_color" value="{$info.alloy_color|default=''}" />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">材质颜色:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="material_color" value="{$info.material_color|default=''}" />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">移门边框色:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="door_border_color" value="{$info.door_border_color|default=''}" />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">移门金属条:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="door_alloy_color" value="{$info.door_alloy_color|default=''}" />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">颜色等级:</label>
                    <div class="col-sm-9">
                        {:radio([1=>1,2=>2,3=>3],isset($info)?$info.color_level : 1,'name=color_level',50)}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否单色:</label>
                    <div class="col-sm-9">
                        {:radio([0=>'否',1=>'是'],isset($info)?$info.is_monochrome : 0,'name=is_monochrome',50)}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">是否移门:</label>
                    <div class="col-sm-9">
                        {:radio([0=>'否',1=>'是'],isset($info)?$info.is_door : 1,'name=is_door',50)}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">颜色原图:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="origin_img_src" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.origin_img_src) && $info.origin_img_src != null"}
                                <img src="{$imgPre}{$info.origin_img_src}?imageView2/0/w/360/h/360" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <input class="fileupload" type="file" name="file" data-type="origin_img_src" data-input="origin_img_src_input"/>
                    </div>
                </div>
                <input type="hidden" name="origin_img_src" id="origin_img_src_input" value="{$info.origin_img_src|default=''}"/>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">颜色缩略图(横浅):</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="img_src_row_light" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.img_src_row_light) && $info.img_src_row_light != null"}
                                <img src="{$imgPre}{$info.img_src_row_light}?imageView2/0/w/360/h/360" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <input class="fileupload" type="file" name="file" data-type="img_src_row_light" data-input="img_src_row_light_input"/>
                    </div>
                </div>
                <input type="hidden" name="img_src_row_light" id="img_src_row_light_input" value="{$info.img_src_row_light|default=''}"/>
                <div class="space-4"></div>


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">颜色缩略图(横深):</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="img_src_row_dark" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.img_src_row_dark) && $info.img_src_row_dark != null"}
                                <img src="{$imgPre}{$info.img_src_row_dark}?imageView2/0/w/360/h/360" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <input class="fileupload" type="file" name="file" data-type="img_src_row_dark" data-input="img_src_row_dark_input"/>
                    </div>
                </div>
                <input type="hidden" name="img_src_row_dark" id="img_src_row_dark_input" value="{$info.img_src_row_dark|default=''}"/>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">移门图片:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_door_img_src" style="border: 0" >
                            <div class="cover">
                                <img src="__STATIC__/img/add_img.png" />
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="file"
                               data-type="thumbnail_door_img_src" data-input="door_img_src" data-muti="muti"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"></label>
                    <div class="col-sm-9" id="door_img_src_boxes">
                        {if condition="isset($door_img_src_list)"}
                        {volist name="$door_img_src_list" id="vo"}
                        <div class="img-box">
                            <a href="{$imgPre}{$vo}" target="_blank">
                                <img src="{$imgPre}{$vo}?imageView2/0/w/180/h/180" class="img-thumbnail"/>
                            </a>
                            <a class="del-img-box">删除图片</a>
                            <input type="hidden" name="door_img_src[]" value="{$vo}">
                        </div>
                        {/volist}
                        {/if}
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>

            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFiles"/}
<script>
    $(function(){
        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/customizedColor')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
        //图片删除
        $('#door_img_src_boxes').on('click','.del-img-box',function(){
            if(confirm('确定要删除图片?')){
                $(this).closest('.img-box').remove();
            }
        })
    });
</script>