<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/banner/add")}'">
            添加轮播图
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">
        <form class="form-inline" role="form" id="news-search">
            <div class="form-group">
                <label class="control-label no-padding-right">所属终端:</label>
                <select name="device_type">
                    <option value="ALL">全部</option>
                    {volist name="device_type" id="vo"}
                    <option value="{$key}" {if condition="isset($data['device_type']) AND $data['device_type'] eq $key"}selected{/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">所属模块:</label>
                <select name="module_type">
                    <option value="ALL">全部</option>
                    {volist name="module_type" id="vo"}
                    <option value="{$key}" {if condition="isset($data['module_type']) AND $data['module_type'] eq $key"}selected{/if}>{$vo}</option>
                    {/volist}
                </select>
            </div>
            <button type="submit" class="pull-right btn" id="news-search-btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">

                        <thead>
                            <tr>
                                <th>终端</th>
                                <th>模块</th>
                                <th>类型</th>
                                <th>链接</th>
                                <th>图片</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$device_type[$vo.device_type]|default=$vo.device_type}</td>
                                <td>{$module_type[$vo.module_type]|default=$vo.module_type}</td>
                                <td>{$module_type[$vo.redirectType]|default='链接'}</td>
                                <td>{$vo.redirect}</td>
                                <td class="text-center">
                                    {if condition="$vo.img_src neq ''"}
                                    <img class='img-thumbnail' src='{:config("qiniu.BucketDomain").$vo.img_src}?imageView2/0/w/240/h/240'/>
                                    {/if}
                                </td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="编辑" href='{:url("/admin/banner/edit","id=$vo[banner_id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/banner/del\",\"id=$vo[banner_id]\")}', '确认要删除『 id={$vo.banner_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/banner/edit","id=$vo[banner_id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/banner/del\",\"id=$vo[banner_id]\")}', '确认要删除『 id={$vo.banner_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



