<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/banner/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['banner_id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">轮播图:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail" style="border: 0">
                            <div class="cover">
                                {if condition="isset($info.img_src)"}
                                <img src="{$imgPre}{$info.img_src}?imageView2/0/w/100/h/100" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="file">
                        <div id="img_url"></div>
                        <!-- The container for the uploaded files -->
                        <div id="files" class="files"></div>
                    </div>
                </div>
                <input type="hidden" name="img_src" id="image_input" value="{$info.img_src|default=''}"/>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属终端:</label>
                    <div class="col-sm-9">
                        <select name="device_type" class="col-xs-10 col-sm-5">
                            {volist name="device_type" id="v"}
                            <option value="{$key}" {if condition="isset($info.device_type) && $info.device_type eq $key"}selected{/if}>{$v}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属模块:</label>
                    <div class="col-sm-9">
                        <select name="module_type" class="col-xs-10 col-sm-5">
                            {volist name="module_type" id="v"}
                            <option value="{$key}"  {if condition="isset($info.module_type) && $info.module_type eq $key"}selected{/if}>{$v}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">跳转类型:</label>
                    <div class="col-sm-9">
                        <select name="redirect_type" class="col-xs-10 col-sm-5">
                            <option value="url" {if condition="isset($info.redirect_type) && $info.redirect_type eq 'url'"}selected{/if}>超链接</option>
                            {volist name="module_type" id="v"}
                            <option value="{$key}" {if condition="isset($info.redirect_type) && $info.redirect_type eq $key"}selected{/if}>{$v}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"></label>
                    <div class="col-sm-9">
                    <p class="col-xs-10 col-sm-5 alert-danger">
                        *跳转类型为超链接时，轮播图会跳转到所属链接，链接格式必须符合http协议<br/>
                        *跳转类型不为超链接时，轮播图会跳转到所填链接的id下，如跳转类型指定为“活动”，链接填写为“1”，轮播图会跳转到id为1的活动页面
                    </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">链接:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="related" value="{$info.redirect|default=''}"/>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" onclick="myfrom.submit()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFile"  input_id="image_input"/}