<div class="page-content">
    <div class="col-sm-6 pull-right">
        <div class="col-sm-2 pull-right">
            <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_assembly_house_type/index","buildings_id=$data[buildings_id]")}'">
            返回户型列表
            <i class="icon-reply icon-only"></i>
            </button>
        </div>

    </div>
    <div class="page-header">
        <h1>
            户型管理 / 户型分布
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="detail-col">序号</th>
                            <th>名称</th>
                            <th class="col-md-1">状态</th>
                            <th class="col-md-1">操作</th>
                            <!--<th class="hidden-480">data</th>-->
                        </tr>
                        </thead>

                        <tbody>

                        <form action="" method="post" name="myform">

                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{:str_repeat("│        ",$vo['level'])} {eq name="$vo['level']" value="0"}<b>{$vo.name}</b>{else/}├─{$vo.name}{/eq}</td>
                                <td>
                                    {if condition = "$vo.status == 2"} 其他户型已选
                                    {elseif  condition = "$vo.status == -1"/} 不可选
                                    {else /} 可选
                                    {/if}
                                </td>
                                <td>
                                    {if condition =  "$vo.status == 1 OR $vo.status == 0 "}
                                    <input id="id-button-borders" data-id = "{$vo.id}" config-id = "{$vo.config_id}"
                                           {if condition = "$vo.status == 1"} checked="checked"
                                           {/if}
                                    type="checkbox" class="ace ace-switch ace-switch-5 change"/>
                                    <span class="lbl middle"></span>
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(function(){
        $('.change').on('change',function () {
            var id = $(this).attr('data-id');
            var config_id = $(this).attr('config-id');
            var val = ($(this).is(':checked') == true) ? '1' : '0';
            $.ajax({
                url:"{:url('/admin/MyAssemblyHouseConfig/change')}",
                data:'id='+ id + '&config_id=' + config_id +'&is_checked=' + val +'&house_id='+ "{$house_id}" + "&buildings_id=" + "{$buildings_id}",
                error:function () {
                    alert('更改有误');
                }
            })

        });

    })
</script>




