<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = 'index'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" >
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">名称</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.name|default=''}" name="name" disabled/>
                    </div>
                </div>    
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">描述</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="description" value='{$info.description|default=''}' disabled/>

                    </div>
                </div>    
              
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">排序</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="list_order"  value='{$info.list_order|default=0}' disabled/>
                    </div>
                </div>    

                <div class="space-4"></div>

            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->