<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = 'index'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                权限设置
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" action="editRule" method="post" name="myfrom" >
                <input type="hidden" value="{:input('gid')}" name="id">
                <div class="control-group">
                    {foreach name="menu" item="v"}
                    <div class="alert alert-info top">
                        <label class="block click-label" data-level="1">
                            <input {in name="$v['id']" value="$rules"}checked{/in}  value="{$v.id}" name="rules[]"  type="checkbox" class="ace input-lg" >
                            <span class="lbl bigger-120">{$v.name}</span>
                        </label>
                        {notempty name="$v['_child']"}
                        {foreach name="$v['_child']" item="vv"}
                        <div>
                            <label class="click-label" data-level="2">
                                <input {in name="$vv['id']" value="$rules"}checked{/in} value="{$vv.id}" name="rules[]" type="checkbox" class="ace">
                                <span class="lbl"> {$vv.name}</span>
                            </label>

                            {notempty name="$vv['_child']"}
                            <div>
                                {foreach name="$vv['_child']" item="vvv"}
                                <label class="click-label" data-level="3">
                                    <input {in name="$vvv['id']" value="$rules"}checked{/in} value="{$vvv.id}" name="rules[]" type="checkbox" class="ace">
                                    <span class="lbl"> {$vvv.name}</span>
                                </label>
                                {/foreach}
                            </div>
                            {/notempty}

                        </div>
                        {/foreach}
                        {/notempty}
                    </div>
                    {/foreach}
            </form>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" onclick="myfrom.submit()">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        提交
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
            <!-- PAGE CONTENT BEGINS -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>

    $(function () {
        $('.click-label').on('change',function () {
            var level = $(this).attr('data-level');
            //三级时,不用进行checked状态改变
            if(level != 3){
                var status = $(this).children('input').prop('checked');
                $(this).parent('div').find('input').prop('checked',status);
            }
            //非一级改变时,自动点亮一级
            if(level != 1){
                var status = $(this).children('input').prop('checked');
                if(status == true){
                    $(this).parents('.top').find('label[data-level="1"] input').prop('checked',status);
                }
            }
        })
    })

</script>