<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/news/add")}'">
            发布资讯
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">
        <form class="form-inline" role="form" id="news-search">
            <div class="form-group">
                <label class="control-label no-padding-right">资讯标题:</label>
                <input type="text" class="form-control" name="title" value="{$data['title']|default=''}" placeholder="请输入标题">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">内容:</label>
                <input type="text" class="form-control" name="content" value="{$data['content']|default=''}" placeholder="请输入内容">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">发布时间:</label>
                <input type="text" class="form-control create-time" name="begin_time" value="{$data['begin_time']|default=''}" placeholder="开始时间">到
                <input type="text" class="form-control create-time" name="end_time" value="{$data['end_time']|default=''}" placeholder="结束时间">
            </div>
            <button type="button" class="pull-right btn" id="news-search-btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>代表图</th>
                                <th>资讯标题</th>
                                <th>资讯副标题</th>
                                <th>阅读量</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td><img src="{$imgPre}{$vo.image}?imageView2/0/w/100/h/100"/></td>
                                <td>{$vo.title}</td>
                                <td>{$vo.synopsis}</td>
                                <td>{$vo.look_count}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/news/detail","id=$vo[id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="编辑" href='{:url("/admin/news/edit","id=$vo[id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/news/del\",\"id=$vo[id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/datetime"  classname="create-time"/}
<script>
    $(function () {
        $('#news-search-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/news/validateData')}",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('#news-search').submit();
                    }
                },
                error:function () {
                    $('#news-search').submit();
                }
            })
        })
    })
</script>

