<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_cabinet_scene_light_group/add",'scene_id='.$scene_id)}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>类型</th>
                                <th class="col-md-1">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form>
                            {volist name="lists" id="vo"}
                            <tr {if condition="$vo.is_default eq 1"}class="success"{/if}>
                                <th>{$vo.name}</th>
                                <th>{$vo.type}</th>
                                <th>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a href='javascript:void(0)' class="default-btn" data-group="{$vo['scene_light_group_id']}" title="设置为默认颜色组">
                                               <span class="btn btn-xs btn-corner">
                                                    <i class="ace-icon fa fa-server bigger-120"></i>
                                               </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/customized_cabinet_scene_light_group/del\",\"id=$vo[scene_light_group_id]\")}', '确认要删除『 id={$vo.scene_light_group_id} 』这条记录吗？');">
                                        <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                            {/volist}
                            <input type="hidden" name="scene_id" value="{$scene_id}">
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(function () {
        $('.default-btn').on('click',function () {
            var scene_id = {$scene_id};
            var group_id = $(this).attr('data-group');
            var url = '{:url("/admin/customized_cabinet_scene_light_group/setDefault")}'+'?scene_light_group_id='+group_id+'&scene_id='+scene_id;
            $.get(url, function(result){
                history.go(0)
            });
        });
    })
</script>



