<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_supplier/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" name="myfrom" >
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商家名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="name" value="{$info.name|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商家简介:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="intro" value='{$info.intro|default=""}'/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商家图标:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{:config("qiniu.BucketDomain").$info.logo_src}?imageView2/0/w/120/h/120' />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商家背景图:</label>
                    <div class="col-sm-9 disable">
                        <img  class='img-thumbnail' src='{:config("qiniu.BucketDomain").$info.bg_src}?imageView2/0/w/120/h/120' />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">资质:</label>
                    <div class="col-sm-9">
                        {volist name="qualification" id="vo"}
                        <img  class='img-thumbnail' src='{:config("qiniu.BucketDomain").$vo}?imageView2/0/w/160/h/160' style="height: 160px;width: 160px;"/>
                        {/volist}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">售后保障:</label>
                    <div class="col-sm-5">
                        {volist name="$after_sale_service" id="vo"}
                        <p>
                            <input type="text" placeholder="标题" class="col-xs-4 col-sm-5 grey" name="title[]" value="{$vo.title}" readonly/>
                            <input type="text" placeholder="内容" class="col-xs-4 col-sm-5 grey" name="desc[]" value="{$vo.content}" readonly/>
                        </p>
                        {/volist}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">图文详情:</label>
                    <div class="col-sm-9">
                        <textarea id="content" name="content" style="height:500px">{$info.content|default=""}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/wangEditor" textarea="content"/}