<div class="page-content">

    <div class="col-sm-6 pull-right">
        {if condition="$detail.logistics_type eq 'official'"}
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_order_logistics/add","id=$logistics_id")}'">
        添加物流信息
        <i class="icon-reply icon-only"></i>
        {/if}
        </span>
        <span class="btn btn-sm btn-success pull-right" id="update-btn" data-toggle="modal" data-target="#myModal">
        更新物流信息
        <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">物流消息</th>
                                <th class="col-md-1">创建时间</th>
                                {if condition="$detail eq 'official'"}
                                <th class="col-md-1">管理员操作</th>
                                {/if}
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.content}</td>
                                <td>{:date('Y:m:d H:i',$vo.create_time)}</td>
                                {if condition="$detail eq 'official'"}
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/customized_order_logistics/del\",\"id=$vo[id]\")}', '确定要删除『 id={$vo.id} 』的物流信息吗吗？');">
                                        <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa  fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                                {/if}
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请填入物流信息</h4>
            </div>
            <div class="modal-body">
                <!--<form role="form">-->
                <form method="post" id="logistics-form" action="{:url('/admin/customized_order_logistics/updateLogistics')}">
                    <div class="form-group">
                        <select name="status">
                            {volist name="status" id="vo"}
                            <option value="{$vo}" {if condition="$vo eq $detail.status"}selected{/if}>{$vo}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="contact_name" placeholder="请输入联系人" value="{$detail.contact_name|default=''}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="contact_number" placeholder="请输入联系电话" value="{$detail.contact_number|default=''}">
                    </div>
                    <input type="hidden" name="logistics_id" value="{$logistics_id}">
                </form>
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="logistics-submit">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    $(function () {
        //物流modal
        $('#logistics-submit').on('click',function() {
            $('#logistics-form').submit();
        })
    })
</script>

