<div class="page-content">
    <div class="col-sm-6 pull-right">
        <div class="col-sm-2 pull-right">
            <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_home_buildings/index")}'">
            返回楼盘列表
            <i class="icon-reply icon-only"></i>
            </button>
        </div>

        <div class="col-sm-1 pull-right">
            <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_home_buildings_unit/add","buildings_id=$buildings_id&floor_id=$floor_id")}'">
            添加
            <i class="icon-reply icon-only"></i>
            </span>
        </div>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()} 
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <!--<th class="detail-col" width="20">排序</th>-->
                                <th class="detail-col">序号</th>
                                <th>名称</th>
                                <th>户型名称</th>
                                <th>户型图</th>
                                <th>创建时间</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form action="" method="post" name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.unit_id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.house_type_name|default=""}</td>
                                <td class="text-center">
                                    {if condition="$vo.img_src neq ''"}
                                    <img class='img-thumbnail' src='{:config("qiniu.BucketDomain").$vo.img_src}?imageView2/0/w/80/h/80'/>
                                    {/if}
                                </td>
                                <th>{:date('Y:m:d H:i:s',$vo.create_time)}</th>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="编辑" href='{:url("/admin/my_home_buildings_unit/edit","id=$vo[unit_id]&floor_id=$floor_id&buildings_id=$buildings_id")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/my_home_buildings_unit/del\",\"id=$vo[unit_id]&floor_id=$floor_id&buildings_id=$buildings_id\")}', '确认要删除『 id={$vo.floor_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>
                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/my_home_buildings_unit/edit","id=$vo[unit_id]&buildings_id=$buildings_id&floor_id=$floor_id")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/my_home_buildings_unit/del\",\"id=$vo[unit_id]&buildings_id=$buildings_id&floor_id=$floor_id\")}', '确认要删除『 id={$vo.unit_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}  
                        </form>
                        </tbody>
                    </table>
                    <!--<span class="btn btn-info" id="bootbox-confirm" onclick="myform.action = 'setListorder';myform.submit();">排序</span>-->
                </div><!-- /.span -->
            </div><!-- /.row -->




            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



