<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_home_buildings_unit/index","id=$floor_id&buildings_id=$buildings_id")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['unit_id'].'" name="id">':''}
                {:input('floor_id')?'<input type="hidden" value="'.$floor_id.'" name="floor_id">':''}
                {:input('buildings_id')?'<input type="hidden" value="'.$buildings_id.'" name="buildings_id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="name" value="{$info.name|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">户型:</label>
                    <div class="col-sm-9">
                        <select name="house_id" id="house_id" class="col-xs-10 col-sm-5">
                            <option value="0"></option>
                            {foreach name="house_type" item="vo"}
                            <option value="{$vo.house_id}">{$vo.name}</option>
                            {/foreach}
                        </select>
                        <!--<input type="text" class="col-xs-10 col-sm-5"  name="province" value="{$info.province|default=''}"/>-->
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(function(){
        $('#sub-btn').on('click',function () {
            $('form').submit();
        })
    })
</script>