<div class="page-content">
    <div class="col-sm-6 pull-right">
        <div class="col-sm-2 pull-right">
            <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_home_house_type/index")}'">
            返回户型列表
            <i class="icon-reply icon-only"></i>
            </button>
        </div>

        <div class="col-sm-1 pull-right">
            <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = 'http://three.inffur.com/?type=myHome&page=backEdit&house_id={$house_id}{$Think.THREE_PARAM}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
        </div>

    </div>
    <div class="page-header">
        <h1>
            户型管理
        </h1>
    </div><!-- /.page-header -->

    <div class="page-header">
        <form class="form-inline" role="form">
            <div class="form-group">
                装修名称
                ：
                <input type="text" class="form-control" id="field-name" name="name"
                       value="{if condition="isset($data['name'])"}{$data['name']}{/if}" placeholder="请输入装修名称">
            </div>
            <button type="submit" class="pull-right btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <!--<th class="detail-col" width="20">排序</th>-->
                                <th class="detail-col">序号</th>
                                <th>模型名称</th>
                                <th>图片</th>
                                <th>shapespar链接</th>
                                <th>创建时间</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form action="" method="post" name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.program_id}</td>
                                <td>{$vo.name}</td>
                                <td class="text-center">
                                    {if condition="$vo.img_src neq ''"}
                                    <img class='img-thumbnail' src='{:config("qiniu.BucketDomain").$vo.img_src}?imageView2/0/w/80/h/80'/>
                                    {/if}
                                </td>
                                <td>{$vo.shapespar_url}</td>
                                <th>{:date('Y:m:d H:i:s',$vo.create_time)}</th>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="编辑" href='http://three.inffur.com/?type=myHome&page=editProject&program_id={$vo.program_id}{$Think.THREE_PARAM}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="编辑地址" href='javascript:void(0)'class="url-btn"
                                           data-id="{$vo.program_id}"  data-toggle="modal" data-target="#url")>
                                          <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-upload bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/my_home_decorate_program/del\",\"id=$vo[program_id]\")}', '确认要删除『 id={$vo.program_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>
                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/my_home_house_type/edit","id=$vo[program_id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/my_home_decorate_program/del\",\"id=$vo[program_id]\")}', '确认要删除『 id={$vo.program_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    <!--<span class="btn btn-info" id="bootbox-confirm" onclick="myform.action = 'setListorder';myform.submit();">排序</span>-->
                </div><!-- /.span -->
            </div><!-- /.row -->




            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

<div class="modal fade" id="url" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="refund-label">请填入shapespar链接</h4>
            </div>
            <div class="modal-body">
                <!--<form role="form">-->
                <form method="post" id="url-form" action="{:url('/admin/my_home_decorate_program/update')}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="shapespar_url" placeholder="请输入shapespar链接">
                    </div>
                    <input type="hidden" name="program_id">
                </form>
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="url-submit">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    $('.url-btn').on('click',function() {
        var id = $(this).attr('data-id');
        $('input[name=program_id]').val(id);
    });


    $('#url-submit').on('click',function() {
        $('#url-form').submit();
    })

</script>



