<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_assembly_buildings/add")}'">
        添加
        <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="page-header">
        <form class="form-inline" role="form">
            <div class="form-group">
                楼盘名称
                ：
                <input type="text" class="form-control" id="field-name" name="name"
                       value="{if condition="isset($data['name'])"}{$data['name']}{/if}" placeholder="请输入楼盘名称">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">省份：</label>
                <select  name="province" id="province" class="classify" onchange="displayChange()">
                    <option value="">--请选择省份--</option>
                    {foreach name="province" item="vo"}
                    <option value="{$vo.name}" {if condition="$data['province'] == $vo.name"}selected{/if}>{$vo.name}</option>
                    {/foreach}
                </select>

                <label class="control-label no-padding-right">城市：</label>
                <select name="city" id="city" class="classify">
                    <option value="">--请选择城市--</option>
                    {if condition=" !empty($city)"}
                    {foreach name="city" item="vo"}
                    <option value="{$vo.name}" {if condition="$data['city'] == $vo.name"}selected{/if}>{$vo.name}</option>
                    {/foreach}
                    {/if}
                </select>
            </div>
            <button type="submit" class="form-group btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <!--<th class="detail-col" width="20">排序</th>-->
                            <th class="detail-col">序号</th>
                            <th>楼盘名称</th>
                            <th>省份</th>
                            <th>城市</th>
                            <th>开盘时间</th>
                            <th>交房时间</th>
                            <th class="col-md-2">管理员操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <form action="" method="post" name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.buildings_id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.province}</td>
                                <th>{$vo.city}</th>
                                <th>{:date('Y-m-d H:i:s',$vo.begin_time)}</th>
                                <th>{:date('Y-m-d H:i:s',$vo.others_time)}</th>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="编辑" href='{:url("/admin/my_assembly_buildings/edit","id=$vo[buildings_id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="楼栋信息" href='{:url("/admin/my_assembly_buildings_config/index","buildings_id=$vo[buildings_id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="户型管理" href='{:url("/admin/my_assembly_house_type/index","buildings_id=$vo[buildings_id]")}'>
                                           <span class="btn btn-xs btn-inverse">
                                                <i class="ace-icon fa fa-list bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/my_assembly_buildings/del\",\"id=$vo[buildings_id]\")}', '确认要删除『 id={$vo.buildings_id} 』这条记录吗？');">
                                        <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>
                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/my_assembly_buildings/edit","id=$vo[buildings_id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/my_assembly_buildings/del\",\"id=$vo[buildings_id]\")}', '确认要删除『 id={$vo.buildings_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                    <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    function displayChange(){
        var objS = document.getElementById("province");
        var objChild = document.getElementById("city");
        var name = objS.options[objS.selectedIndex].value;
        if(name == ""){
            objChild.options.length = 0;
            var firstItem = new Option("--请选择省份--", "");
            objChild.options.add(firstItem);
            return;
        }
        $.post("{$public_path}"+'/api/user_area/getCity', {province: name}, function (data) {
            if (data.code == '200') {
                var list = data.data.list;
                objChild.options.length = 0;
                var firstItem = new Option("--请选择城市--", "");
                objChild.options.add(firstItem);
                for(var k=0;k<list.length;k++){
                    var varItem = new Option(list[k].name, list[k].name);
                    objChild.options.add(varItem);
                }
            }
        });
    }
</script>


