<div class="page-content">
    <div class="col-sm-6 pull-right">
        <div class="col-sm-2 pull-right">
            <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_assembly_buildings/index")}'">
            返回楼盘列表
            <i class="icon-reply icon-only"></i>
            </button>
        </div>

        <div class="col-sm-1 pull-right">
            <span class="btn btn-sm btn-primary pull-right tree-btn-add" data-toggle="modal" data-target="#myModal" data-buildings_id="{$data.buildings_id}">
            添加
            <i class="icon-reply icon-only"></i>
            </span>
        </div>
    </div>
    <div class="page-header">
        <h1>
            楼盘管理 / 楼栋信息配置
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="detail-col">序号</th>
                            <th>名称</th>
                            <!--<th class="hidden-480">data</th>-->
                            <th class="col-md-1">管理员操作</th>
                        </tr>
                        </thead>

                        <tbody>

                        <form action="" method="post" name="myform">

                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{:str_repeat("│        ",$vo['level'])} {eq name="$vo['level']" value="0"}<b>{$vo.name}</b>{else/}├─{$vo.name}{/eq}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="编辑" href='javascript:void(0)'class="tree-btn"
                                           data-id="{$vo.id}" data-parent_id="{$vo.parent_id}" data-name="{$vo.name}" data-toggle="modal" data-target="#myModal" data-buildings_id="{$vo.buildings_id}">
                                        <span class="btn btn-xs btn-info" >
                                                <i class="ace-icon fa  fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/my_assembly_buildings_config/del\",\"id=$vo[id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');">
                                        <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>
                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/my_assembly_buildings_config/edit","id=$vo[id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/memy_assembly_buildings_confignu/del\",\"id=$vo[id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                    <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请填入信息</h4>
            </div>
            <div class="modal-body">

                <!--<form role="form">-->
                <form class="form-horizontal"  id="menu" role="form" method="post" name="myfrom" >
                    <input type="hidden" name="id">
                    <input type="hidden" name="buildings_id">

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 上级菜单 </label>
                        <div class="col-sm-9">
                            <select name="parent_id" class="menu_select">
                                <option value="0">--作为一级菜单--</option>
                                {volist name="$selectMenu" id="vo"}
                                <option value="{$key}">{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="col-xs-10 col-sm-5 menu_name"  name="name" value="{$info.name|default=''}"/>
                        </div>
                    </div>
                </form>
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="myfrom.submit()">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>

    $(function () {
        $('.tree-btn').on('click',function() {
            var id = $(this).attr('data-id');
            var parent_id = $(this).attr('data-parent_id');
            var buildings_id = $(this).attr('data-buildings_id');
            var name = $(this).attr('data-name');
            $("#menu").attr('action',"{:url('/admin/my_assembly_buildings_config/edit')}");

            $(".menu_select").val(parent_id);
            $(".menu_name").val(name);
            $('input[name=id]').val(id);
            $('input[name=buildings_id]').val(buildings_id);
        });

        $('.tree-btn-add').on('click',function() {
            var buildings_id = $(this).attr('data-buildings_id');
            $("#menu").attr('action',"{:url('/admin/my_assembly_buildings_config/add')}");

            $('input[name=buildings_id]').val(buildings_id);
        });
    })

</script>



