<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_assembly_house_type/index","buildings_id=$buildings_id]")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            楼盘管理 / 户型管理
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                <input type="hidden" value="{$buildings_id}" name="buildings_id">
                {:input('id')?'<input type="hidden" value="'.$info['house_id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="name" value="{$info.name|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">居室:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="bedroom" value="{$info.bedroom|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">建筑面积m²:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="proportion" value="{$info.proportion|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">户型图:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail" style="border: 0">
                            <div class="cover">
                                {if condition="isset($info.img_src) && $info.img_src neq ''"}
                                <img src="{$imgPre}{$info.img_src}?imageView2/0/w/350/h/200 " />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="file">
                        <div id="img_src_url"></div>
                        <!-- The container for the uploaded files -->
                        <div id="files" class="files"></div>
                    </div>
                </div>
                <input type="hidden" name="img_src" id="image_input" value="{$info.img_src|default=''}"/>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFile"  input_id="image_input"/}
<script>
    $(function(){
        $('#sub-btn').on('click',function () {

            $('form').submit();

        });

        $('#product_param').on('click','.del-btn',function () {
            $(this).closest('p').remove();
        });
    })
</script>