<div class="page-content">
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()} 
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-2">省份</th>
                                <th>非配送区域</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form action="" method="post" name="myform">
                            {volist name="prov" id="vo"}
                            <tr>
                                <td>{$vo}</td>
                                <th>{$citys[$key]|default="/"}</th>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="编辑" href='{:url("/admin/config_area/edit","id=$key")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="快速设置省份非配送" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/config_area/quickSet\",\"id=$key\")}', '确认要将『 {$vo} 』快速设置成非配送区域吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-certificate bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="快速恢复省份" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/config_area/quickReset\",\"id=$key\")}', '确认要将『 {$vo} 』快速设置成配送区域吗？');">
                                        <span class="btn btn-xs btn-success" >
                                                <i class="ace-icon fa fa-reply bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}  
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



