<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/config_area/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                非配送区域设置
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" >
                <input type="hidden" name="id" value="{:input('id')}"/>
                <div class="control-group">
                    {foreach name="citys" item="v"}
                    <div class="alert alert-info">
                        <label class="block">
                            <input {if condition="$v.is_distribution eq '0'"}checked{/if}  value="{$v.id}" name="city[]"  type="checkbox" class="ace input-lg" >
                            <span class="lbl bigger-120">{$v.name}</span>
                        </label>
                    </div>
                    {/foreach}
            </form>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" onclick="myfrom.submit()">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        提交
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
            <!-- PAGE CONTENT BEGINS -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->