<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:document.getElementById('myform').submit()">
            提交
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>选择</th>
                                <th>名称</th>
                                <th>类型</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form id="myform" action='{$action}' method="post">
                            {volist name="lists" id="vo"}
                            <tr>
                                <th><input type="checkbox" name="light_id[]" value="{$vo.light_id}" {if condition="in_array($vo.light_id,$seleted)"}checked{/if}></th>
                                <th>{$vo.name}</th>
                                <td>{$vo.type}</td>
                            </tr>
                            {/volist}
                            <input type="hidden" name="light_group_id" value="{:$light_group_id}">
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



