<link rel="stylesheet" href="__CSS__/imgbox.css">
<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_supplier_bad_record/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['br_id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属商家:</label>
                    <div class="col-sm-9">
                        <select name="supplier_id" class="col-xs-10 col-sm-2">
                            <option value="0">--选择商家--</option>
                            {volist name="$suppliers" id="vo"}
                            <option value="{$vo.supplier_id}"
                                    {if condition="(isset($info['supplier_id'])) AND $vo.supplier_id eq $info['supplier_id']"}selected{/if}>
                            {$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">标题:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="title" value='{$info.title|default=""}'/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">简介:</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="col-xs-10 col-sm-5" name="intro" rows="6">{$info.intro|default=""}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">解决方案:</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="col-xs-10 col-sm-5" name="solution" rows="6">{$info.solution|default=""}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">具体原因:</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="col-xs-10 col-sm-5" name="reason" rows="6">{$info.reason|default=""}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">内容:</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="col-xs-10 col-sm-5" name="content" rows="6">{$info.content|default=""}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(function(){
        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/shopSupplierBadRecord')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    })
</script>