<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/help_center_classify/add")}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-6">分类名称</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.name}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <!--<a title="查看" href='{:url("/admin/help_center_classify/detail","id=$vo[id]")}'>-->
                                           <!--<span class="btn btn-xs btn-purple">-->
                                                <!--<i class="ace-icon fa fa-eye bigger-120"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                        <a title="编辑" href='{:url("/admin/help_center_classify/edit","id=$vo[id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/help_center_classify/del\",\"id=$vo[id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="查看文章" href='{:url("/admin/help_center/index","classify_id=$vo[id]")}'>
                                        <span class="btn btn-xs btn-success" >
                                                <i class="ace-icon fa  fa-list bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->


