<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_wall_color/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" name="myfrom" >
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">颜色名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="name" value="{$info.name|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">颜色缩略图:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.thumb_img_src}'/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">APP左墙体中图:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.app_left_middle_wall_img_src}'/>
                    </div>
                </div>
                <div class="space-4"></div>


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">APP左墙体下图:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.app_left_bottom_wall_img_src}'/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">APP右墙体中图:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.app_right_middle_wall_img_src}'/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">APP右墙体下图:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.app_right_bottom_wall_img_src}'/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">APP背部墙体图:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.app_back_wall_img_src}'/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">web左墙体图:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.web_left_wall_img_src}'/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">web右墙体图:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.web_right_wall_img_src}'/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">web背部墙体图:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.web_back_wall_img_src}'/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">中间遮盖图:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.middle_cover_img_src}'/>
                    </div>
                </div>

            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
