<div class="page-content">
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">
        <form class="form-inline" role="form" id="activity-search">
            <div class="form-group">
                <label class="control-label no-padding-right">状态:</label>
                <select name="is_read">
                    <option value="99" {if condition="isset($data['is_read']) AND $data['is_read'] eq 99"}selected{/if}>全部</option>
                    <option value="0" {if condition="isset($data['is_read']) AND $data['is_read'] eq 0"}selected{/if}>未读</option>
                    <option value="1" {if condition="isset($data['is_read']) AND $data['is_read'] eq 1"}selected{/if}>已读</option>
                </select>
            </div>
            <button type="submit" class="pull-right btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>反馈用户</th>
                                <th class="col-md-3">反馈时间</th>
                                <th class="col-md-1">是否已读</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.username}</td>
                                <td>{:date('Y-m-d H:i:s',$vo.create_time)}</td>
                                <td class="{if condition='$vo.is_read eq 1'}text-success{else :}text-danger{/if}">{$vo.read_status}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/feedback/detail","id=$vo[id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/feedback/del\",\"id=$vo[id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="设置未读" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/feedback/setStatus\",\"id=$vo[id]\")}', '确认要将『 id={$vo.id} 』这个反馈设置成未读状态吗？');">
                                        <span class="btn btn-xs btn-inverse" >
                                                <i class="ace-icon fa fa-gear bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->


