<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/menu/add")}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()} 
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="detail-col" width="20">排序</th>
                                <th class="detail-col">序号</th>
                                <th>名称</th>
                                <th>url</th>
                                <!--<th class="hidden-480">data</th>-->
                                <th>状态</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>

                        <tbody>

                        <form action="" method="post" name="myform">

                            {volist name="lists" id="vo"}
                            <tr>
                                <td><input type="text" name="list_order[{$vo.id}]" value="{$vo.list_order}" width="10"></td>
                                <td>{$vo.id}</td>
                                <td>{:str_repeat("│        ",$vo['level'])} {eq name="$vo['level']" value="0"}<span class="fa {$vo.icon}"></span> <b>{$vo.name}</b>{else/}├─{$vo.name}{/eq}</td>
                                <td>{$vo['controller']}/{$vo['action']}</td>
                                <td>{eq name="$vo['display']" value="1"}显示{else/}{/eq}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
<!--                                        <a href='{:url("info","parent_id=$vo[id]")}' 
                                           <span class="btn btn-xs btn-success">
                                                <i class="ace-icon fa fa-plus-square-o bigger-120"></i>
                                            </span>
                                        </a>-->
                                        <a title="编辑" href='{:url("/admin/menu/edit","id=$vo[id]")}' >
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/menu/del\",\"id=$vo[id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>
                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/menu/edit","id=$vo[id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/menu/del\",\"id=$vo[id]\")}', '确认要删除『 id={$vo.id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}  
                        </form>
                        </tbody>
                    </table>
                    <span class="btn btn-info" id="bootbox-confirm" onclick="myform.action = 'setListorder';myform.submit();">排序</span>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



