<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/config/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" name="myfrom" >
                {volist name="$info.value" id="vo"}

                {switch name="$inputType[$key]" }
                {case value="img"}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">封面图:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_img" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($vo)"}
                                <img src="{$imgPre}{$vo}?imageView2/0/w/100/h/100" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>

                {/case}

                {case value="video"}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">教程视频:</label>
                    <div class="fileinput-button col-sm-2" id="container">
                        <div class="thumbnail" id="thumbnail_video" style="border: 0" >
                            <div class="cover" id="pickfiles">
                                {if condition="isset($vo)"}
                                <video src="{$imgPre}{$vo}" ></video>
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-4"></div>

                {/case}
                {default /}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">{$inputName[$key]}:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$vo|default=''}" disabled>
                    </div>
                </div>
                <div class="space-4"></div>
                {/switch}


                {/volist}
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/wangEditor"  textarea="content"/}