<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/config/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['id'].'" name="id">':''}
                {:input('id')?'<input type="hidden" value="'.$info['key'].'" name="key">':''}
                {volist name="$info.value" id="vo"}
                {switch name="$inputType[$key]" }
                    {case value="img"}
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">封面图:</label>
                        <div class="fileinput-button col-sm-2">
                            <div class="thumbnail" id="thumbnail_img" style="border: 0" >
                                <div class="cover">
                                    {if condition="isset($vo)"}
                                    <img src="{$imgPre}{$vo}?imageView2/0/w/100/h/100" />
                                    {else /}
                                    <img src="__STATIC__/img/add_img.png" />
                                    {/if}
                                </div>
                            </div>
                            <!-- The file input field used as target for the file upload widget -->
                            <input class="fileupload" type="file" name="file" data-type="thumbnail_img" data-input="img_input"/>
                        </div>
                    </div>
                    <input type="hidden" name="{$key}" id="img_input" value="{$vo|default=''}"/>
                    <div class="space-4"></div>
                    {/case}

                    {case value="video"}
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">教程视频:</label>
                        <div class="fileinput-button col-sm-2" id="container">
                            <div class="thumbnail" id="thumbnail_video" style="border: 0" >
                                <div class="cover" id="pickfiles">
                                    {if condition="isset($vo)"}
                                    <video src="{$imgPre}{$vo}" ></video>
                                    {else /}
                                    <img src="__STATIC__/img/add_img.png" />
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="{$key}" id="video_input" value="{$vo|default=''}"/>
                    <div class="space-4"></div>
                    {/case}

                    {default /}
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">{$inputName[$key]}:</label>
                        <div class="col-sm-9">
                            <input type="text" class="col-xs-10 col-sm-5" name="{$key}" value="{$vo|default=''}">
                        </div>
                    </div>
                    <div class="space-4"></div>
                {/switch}

                {/volist}
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFiles"/}
{include file="public/qiniuUpload"/}
{include file="public/mask"/}
<script>
    $(function(){
        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/config')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    })
</script>