<div class="page-content">
    <!--<div class="col-sm-6 pull-right">-->
        <!--<span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_popular/add")}'">-->
            <!--添加-->
            <!--<i class="icon-reply icon-only"></i>-->
        <!--</span>-->
    <!--</div>-->
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-4">商品名称</th>
                                <th class="col-md-3">热门图片</th>
                                <th>备注</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.product.name}</td>
                                <td class="align-center">{if condition="$vo.img_src neq ''"}
                                    <img src='{:config("qiniu.BucketDomain")}{$vo.img_src}?imageView2/0/w/240/h/240' />{/if}</td>
                                <td>{$vo.remarks}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/shop_popular/detail","id=$vo[popular_id]")}'>
                                           <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="编辑" href='{:url("/admin/shop_popular/edit","id=$vo[popular_id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <!--<a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/shop_popular/del\",\"id=$vo[popular_id]\")}', '确认要删除『 id={$vo.popular_id} 』这条记录吗？');">-->
                                           <!--<span class="btn btn-xs btn-danger" >-->
                                                <!--<i class="ace-icon fa fa-trash-o bigger-120"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>
                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/shop_popular/edit","id=$vo[popular_id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <!--<li>-->
                                                    <!--<a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/shop_popular/edit\",\"id=$vo[popular_id]\")}', '确认要删除『 id={$vo.popular_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">-->
                                                        <!--<span class="red">-->
                                                            <!--<i class="ace-icon fa fa-trash-o bigger-120"></i>-->
                                                        <!--</span>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->


        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->



