<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/shop_popular/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['popular_id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">分类:</label>
                    <div class="col-sm-9">
                        <select class="col-xs-10 col-sm-2 classify" data-level="1">
                            <option value="0">--选择分类--</option>
                            {volist name="classify_one_ids" id="vo"}
                            <option value="{$vo.classify_id}"
                                    {if condition="(isset($info.product.classify_one_id)) AND ($info.product.classify_one_id eq $vo.classify_id)"}selected{/if}
                            >{$vo.name}</option>
                            {/volist}
                        </select>
                        <select class="col-xs-10 col-sm-2 classify" data-level="2">
                            {if condition="isset($classify_two_ids)"}
                            {volist name="classify_two_ids" id="vo"}
                            <option value="{$vo.classify_id}"
                                    {if condition="$info.product.classify_two_id eq $vo.classify_id"}selected{/if}
                            >{$vo.name}</option>
                            {/volist}
                            {/if}
                        </select>
                        <select class="col-xs-10 col-sm-2 classify" data-level="3">
                            {if condition="isset($classify_three_ids)"}
                            {volist name="classify_three_ids" id="vo"}
                            <option value="{$vo.classify_id}"
                                    {if condition="$info.product.classify_three_id eq $vo.classify_id"}selected{/if}
                            >{$vo.name}</option>
                            {/volist}
                            {/if}
                        </select>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">热门商品:</label>
                    <div class="col-sm-9">
                        <select id="product-list" name="product_id" class="col-xs-10 col-sm-5">
                            {if condition="isset($products)"}
                            {volist name="products" id="vo"}
                            <option value="{$vo.product_id}"
                                    {if condition="$info.product_id eq $vo.product_id"}selected{/if}
                            >{$vo.name}</option>
                            {/volist}
                            {/if}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">备注:</label>
                    <div class="col-sm-9">
                        <p class="col-xs-10 col-sm-5 alert-warning">{$info.remarks|default=""}</p>
                        <!--<textarea type="text" class="col-xs-10 col-sm-5" name="remarks" rows="4" disabled>{$info.remarks|default=""}</textarea>-->
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">图片:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail" style="border: 0">
                            <div class="cover">
                                {if condition="isset($info.img_src)"}
                                <img src="{$imgPre}{$info.img_src}?imageView2/0/w/100/h/100" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="file">
                        <div id="img_url"></div>
                        <!-- The container for the uploaded files -->
                        <div id="files" class="files"></div>
                    </div>
                </div>
                <input type="hidden" name="img_src" id="image_input" value="{$info.img_src|default=''}"/>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<!-- 联动分类查询 -->
{include file="public/ajaxFile"  input_id="image_input"/}
<script>
    $(function(){
        $('.classify').change(function () {
            var level = $(this).attr('data-level');
            var parentId = $(this).val();
            if(level!=3){
                var url = '{:url("/admin/api/getClassifyByParentId?parent_id=")}';
                var obj = $("[data-level='"+ (1+parseInt(level)) +"']");
                $("[data-level=3]").html('');
                $.get(url+parentId,function (data,status) {
                    var option = "<option>--选择分类--</option>";
                    $.each(data,function(n,value){
                        option += "<option value='"+value.classify_id+"'>"+value.name+"</option>"
                    })
                    obj.html(option);
                })
            }else{
                var url = '{:url("/admin/api/getProductByClassifyId?classify_id=")}'+parentId;
                var obj = $("#product-list");
                $.get(url,function (data,status) {
                    var option = "<option value='0'>--选择商品--</option>";
                    $.each(data,function(n,value){
                        option += "<option value='"+value.product_id+"'>"+value.name+"</option>"
                    })
                    obj.html(option);
                })
            }

        })

        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/shopPopular')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    });
</script>
