<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.history.back()">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" >
            <!-- PAGE CONTENT BEGINS -->
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">材料评星:</label>
                    <div class="col-sm-9">
                        {for start="0" end="$info.materials_star"}
                        <i class="ace-icon fa fa-star bigger-120"></i>
                        {/for}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">评论用户:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.username}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">评论商品:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.name}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">商品规格:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.standard_name}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">订单号码:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.order_num}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="count($img_src_list)>0"}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">评论图片:</label>
                    <div class="col-sm-9">
                        {volist name="img_src_list" id="vo"}
                        <img src="{$vo}?imageView2/0/w/120/h/120" />
                        {/volist}
                    </div>
                </div>
                <div class="space-4"></div>
                {/if}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">评价内容:</label>
                    <div class="col-sm-9">
                        <textarea id="content" name="content" class="col-xs-10 col-sm-5" rows="5" disabled>{$info.content}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
            <!-- PAGE CONTENT ENDS -->
            </form>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
