<div class="page-content">
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">评论用户</th>
                                <th class="col-md-1">材料评星</th>
                                <th class="col-md-1">服务评星</th>
                                <th class="col-md-1">加工评星</th>
                                <th class="col-md-1">安装评星</th>
                                <th class="col-md-1">配送评星</th>
                                <th>内容</th>
                                <th class="col-md-1">评价时间</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.username}</td>
                                <td>
                                    {for start="0" end="$vo.materials_star"}
                                    <i class="ace-icon fa fa-star bigger-120"></i>
                                    {/for}
                                </td>
                                <td>
                                    {for start="0" end="$vo.service_star"}
                                    <i class="ace-icon fa fa-star bigger-120"></i>
                                    {/for}
                                </td>
                                <th>
                                    {for start="0" end="$vo.process_star"}
                                    <i class="ace-icon fa fa-star bigger-120"></i>
                                    {/for}
                                </th>
                                <th>
                                    {for start="0" end="$vo.install_star"}
                                    <i class="ace-icon fa fa-star bigger-120"></i>
                                    {/for}
                                </th>
                                <th>
                                    {for start="0" end="$vo.delivery_star"}
                                    <i class="ace-icon fa fa-star bigger-120"></i>
                                    {/for}
                                </th>
                                <th>
                                    {$vo.content}
                                </th>
                                <th>
                                    {:date('Y-m-d H:i:s',$vo.create_time)}
                                </th>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看方案" href='{:url("/admin/customized_order/scheme","id=$vo[order_id]")}'>
                                           <span class="btn btn-xs btn-pink">
                                                <i class="ace-icon fa fa-industry bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/customized_evaluate/del\",\"id=$vo[evaluate_id]\")}', '确认要删除『 id={$vo.evaluate_id} 』这条评价吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

