<div class="page-content">

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()} 
        </h1>
    </div><!-- /.page-header -->

    <div class="page-header">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="control-label no-padding-right">管理员:</label>
                <input type="text" class="form-control" name="username"
                       value="{$data['username']|default=''}" placeholder="请输入搜索内容">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">提交方式:</label>
                <select name="method">
                    <option value="ALL">全部</option>
                    <option value="GET" {if condition="isset($data['method']) AND $data['method'] eq 'GET'"}selected{/if}>GET</option>
                    <option value="POST" {if condition="isset($data['method']) AND $data['method'] eq 'POST'"}selected{/if}>POST</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">操作时间:</label>
                <input type="text" class="form-control create-time" name="begin_time" value="{$data['begin_time']|default=''}" placeholder="开始时间">到
                <input type="text" class="form-control create-time" name="end_time" value="{$data['end_time']|default=''}" placeholder="结束时间">
            </div>
            <button type="button" class="pull-right btn"  id="log-search-btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">序号</th>
                                <th class="col-md-1">管理员</th>
                                <th class="col-md-1">提交方式</th>
                                <th class="col-md-4">具体操作</th>
                                <th  class="col-md-1">最后登录IP</th>
                                <th  class="col-md-1">
                                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                    最后登录时间
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="lists" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td><a href="#">{$vo.username}</a></td>
                                <th>{$vo.method}</th>
                                <td>{$vo.desc}</td>
                                <td class="hidden-480"><a href="http://ip138.com/ips138.asp?ip={:long2ip($vo.ip)}" target="_blank">{:long2ip($vo.ip)}</a></td>
                                <td>{:date('Y:m:d H:i:s',$vo.create_time)}</td>
                                
                            </tr>
                            {/volist}    
                        </tbody>
                    </table>
                   {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
             
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/datetime"  classname="create-time"/}
<script>
    $(function () {
        $('#log-search-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/log/validateData')}",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    })
</script>




