<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_component_module/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">柜体:</label>
                    <div class="col-sm-9">
                        {:radio(['RQS' => '入墙式移门壁柜','QW' => '墙外独立移门壁柜','BZ' => '平开门标准衣柜'],'RQS','class="form_scheme_type" name="scheme_type"')}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">宽度:</label>
                    <div class="col-sm-9" id="width_box">
                        {:radio(['784' => '784','1200' => '1200'],'784','class="form_width" name="width"')}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">高度:</label>
                    <div class="col-sm-9" id="height_box">
                        <input type="number" class="col-xs-2 col-sm-1" name="height" value="2403"/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group" id="height_range">
                    <label class="col-sm-3 control-label no-padding-right">高度范围:</label>
                    <div class="col-sm-9">
                        <input type="number" class="col-xs-2 col-sm-1" name="min_height" value="2019"/>
                        <span class="col-xs-1 text-center">～</span>
                        <input type="number" class="col-xs-2 col-sm-1" name="max_height" value="2403"/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">适配类型:</label>
                    <div class="col-sm-9">
                        {:radio([1 => '不增加层板，拉伸适配',2 => '增加层板，不拉伸适配',3 => '可以添加层板则添加层板，不添加层板则往上拉伸适配'],1,'name="adjust_type"')}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>

            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFiles"/}
<script>
    $(function(){
        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/customizedComponentModule')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
        $('.form_scheme_type').on('change',function () {
            var val = $(this).val();
            switch(val){
                case 'RQS':
                case 'QW':
                    $('#width_box').html('{:radio(['784' => '784','1200' => '1200'],'784','class="form_width" name="width"')}');
                    $('#height_box').html('<input type="number" class="col-xs-2 col-sm-1" name="height" value="2403"/>');
                    $('#height_range').show();
                    break;
                case 'BZ':
                    $('#width_box').html('{:radio(['944' => '944','880' => '880','424' => '424'],'944','class="form_width" name="width"')}');
                    $('#height_box').html('{:radio(['2403' => '成人（2403）','2019' => '青少年（2019）'],'2403','class="form_height" name="height"')}');
                    $('#height_range').hide();
                    break;
            }
        })
        $(document).on('change','.form_height',function () {
            var val = $(this).val();
            switch(val){
                case '2403':
                    $('#width_box').html('{:radio(['944' => '944','880' => '880','424' => '424'],'944','class="form_width" name="width"')}');
                    break;
                case '2019':
                    $('#width_box').html('{:radio(['752' => '752','368' => '368'],'752','class="form_width" name="width"')}');
                    break;
            }
        })
    });
</script>