<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_component_module/add")}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">
        <form class="form-inline" role="form" id="search">
            <div class="form-group">
                <label class="control-label no-padding-right">柜类:</label>
                {:select(['ALL'=>'全部','RQS' => '入墙式移门壁柜','QW' => '墙外独立移门壁柜','BZ' => '平开门标准衣柜'],isset($data['scheme_type'])?$data['scheme_type']:'ALL','name="scheme_type"')}
            </div>
            <button type="button" class="pull-right btn" id="search-btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>缩略图</th>
                                <th>柜类</th>
                                <th>适配类型</th>
                                <th>最小宽度</th>
                                <th>最大宽度</th>
                                <th>宽度</th>
                                <th>最小高度</th>
                                <th>最大高度</th>
                                <th>高度</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr>
                                <td><img src="{$imgPre}{$vo.img_src}?imageView2/0/w/120/h/120"/></td>
                                <td>{$scheme_map[$vo.scheme_type]}</td>
                                <td>{$vo.adjust_type}</td>
                                <td>{$vo.min_width}</td>
                                <td>{$vo.max_width}</td>
                                <td>{$vo.width}</td>
                                <td>{$vo.min_height}</td>
                                <td>{$vo.max_height}</td>
                                <td>{$vo.height}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <!--<a href='{:url("/admin/customized_component_module/detail","id=$vo[component_id]")}' title="查看">-->
                                           <!--<span class="btn btn-xs btn-purple">-->
                                                <!--<i class="ace-icon fa fa-eye bigger-120"></i>-->
                                            <!--</span>-->
                                        <!--</a>-->
                                        <a href='{:url("/admin/customized_component_module/edit","id=$vo[component_id]")}' title="编辑">
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a href='javascript:void(0)'  title="删除" onclick="return alert_del('{:url(\"/admin/customized_component_module/del\",\"id=$vo[component_id]\")}', '确认要删除『 id={$vo.component_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("/admin/customized_component_module/edit","id=$vo[component_id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"/admin/customized_component_module/edit\",\"id=$vo[component_id]\")}', '确认要删除『 id={$vo.component_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(function () {
        $('#search-btn').on('click',function () {
//            $.ajax({
//                url:"{:url('/admin/activity/validateData')}",
//                data:$('form').serialize(),
//                success:function(result){
//                    if(result.code == 0){
//                        alert(result.msg);
//                    }else{
                        $('#search').submit();
//                    }
//                },
//                error:function () {
//                    $('#activity-search').submit();
//                }
//            })
        })
    })
</script>



