<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_component_module/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['component_id'].'" name="id">':''}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">缩略图:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumb" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.img_src)"}
                                <img src="{$imgPre}{$info.img_src}?imageView2/0/w/360/h/360" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <input class="fileupload" type="file" name="file" data-type="thumb" data-input="thumb_input"/>
                    </div>
                </div>
                <input type="hidden" name="img_src" id="thumb_input" value="{$info.img_src|default=''}"/>
                <div class="space-4"></div>


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">最小宽度:</label>
                    <div class="col-sm-9">
                        <input type="number" class="col-xs-10 col-sm-5" name="min_width" value="{$info.min_width|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">最大宽度:</label>
                    <div class="col-sm-9">
                        <input type="number" class="col-xs-10 col-sm-5" name="max_width" value="{$info.max_width|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">高度:</label>
                    <div class="col-sm-9">
                        <input type="number" class="col-xs-10 col-sm-5" name="height" value="{$info.height|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>

            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFiles"/}
<script>
    $(function(){
        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/customizedComponent')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    });
</script>