<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/user/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                查看详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"></label>
                    <div class="col-sm-3">
                        {if condition="input('id') && $info.avatar neq null"}
                        <img style="height: 120px;width: 120px" src="{$avatar}" class="img-thumbnail">
                        {/if}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">用户名:</label>
                    <div class="col-sm-9">
                        <input type="text" name="username" placeholder="Password" value="{$info.username|default=''}" class="col-xs-10 col-sm-5" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 手机号码:</label>
                    <div class="col-sm-9">
                        <input type="text" name="mobile" placeholder="mobile" value="{$info.mobile|default=''}" class="col-xs-10 col-sm-5" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 金额:</label>
                    <div class="col-sm-9">
                        <input type="text" name="money" placeholder="money" value="{$info.money|default=''}" class="col-xs-10 col-sm-5" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 邮箱:</label>
                    <div class="col-sm-9">
                        <input type="text" name="email" placeholder="email" value="{$info.email|default=''}" class="col-xs-10 col-sm-5" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 等级:</label>
                    <div class="col-sm-9">
                        {$info.level|default=''}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 经验值:</label>
                    <div class="col-sm-9">
                        {$info.experience|default=''}
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 性别:</label>
                    <div class="col-sm-9">
                        {$info.gender|default=''}
                    </div>
                </div>
                <div class="space-4"></div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->