<div class="page-content">
    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/user/add")}'">
            添加
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="page-header">
        <form class="form-inline" role="form">
            <div class="form-group">
                <select id="field" name="field">
                    <option value="username" {if condition="isset($data['field']) && $data['field'] eq 'username'"}selected{/if}>用户名</option>
                    <option value="mobile" {if condition="isset($data['field']) && $data['field'] eq 'mobile'"}selected{/if}>手机号码</option>
                </select>
                :
                <input type="text" class="form-control" id="field-name" name="{$data['field']|default='username'}"
                       value="{if condition="isset($data['field'])"}{$data[$data['field']]}{/if}" placeholder="请输入搜索内容">
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">性别:</label>
                <select name="gender">
                    <option value="ALL">全部</option>
                    <option value="男" {if condition="isset($data['gender']) AND $data['gender'] == '男'"}selected{/if}>男</option>
                    <option value="女" {if condition="isset($data['gender']) AND $data['gender'] == '女'"}selected{/if}>女</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right">注册时间:</label>
                <input type="text" class="form-control create-time" name="begin_time" value="{$data['begin_time']|default=''}" placeholder="开始时间">到
                <input type="text" class="form-control create-time" name="end_time" value="{$data['end_time']|default=''}" placeholder="结束时间">
            </div>
            <button type="button" class="pull-right btn"  id="user-search-btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="detail-col">ID</th>
                                <th>用户名</th>
                                <th>手机号码</th>
                                <th>用户等级</th>
                                <th>状态</th>
                                <th>
                                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                    最后登录时间
                                </th>
                                <th>
                                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                    注册时间
                                </th>
                                <th class="col-md-2">管理员操作</th>
                            </tr>
                        </thead>

                        <tbody>
                            {volist name="lists" id="vo"}
                            <tr {if condition="$vo.blackList neq null"}class="warning"{/if}>
                                <td>{$vo.user_id}</td>
                                <td>{$vo.username}</td>
                                <td>{$vo.mobile}</td>
                                <td>{$vo.level}</td>
                                <td>
                                    {if condition="$vo.blackList neq null"}
                                    封号中
                                    {else /}
                                    {$statusMap[$vo.status]}
                                    {/if}
                                </td>
                                <td>{$vo.last_login_time != null ? date('Y-m-d H:i:s',$vo.last_login_time):''}</td>
                                <td>{$vo.reg_time != null ? date('Y-m-d H:i:s',$vo.reg_time):''}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="查看" href='{:url("/admin/user/detail","id=$vo[user_id]")}'>
                                        <span class="btn btn-xs btn-purple">
                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                            </span>
                                        </a>
                                        {if condition="$vo.status neq 0"}
                                        <a title="编辑" href='{:url("/admin/user/edit","id=$vo[user_id]")}'>
                                           <span class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </span>
                                        </a>
                                        <a title="删除" href='javascript:void(0)' onclick="return alert_del('{:url(\"del\",\"id=$vo[user_id]\")}', '确认要删除『 id={$vo.user_id} 』这条记录吗？');">
                                           <span class="btn btn-xs btn-danger">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                        {if condition="$vo.blackList eq null"}
                                        <a title="封号管理" href='{:url("/admin/user/ban","id=$vo[user_id]")}'>
                                            <span class="btn btn-xs btn-inverse">
                                                <i class="ace-icon fa fa-ban bigger-120"></i>
                                            </span>
                                        </a>
                                        {/if}
                                        {/if}
                                    </div>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <span class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </span>
                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='{:url("info","id=$vo[user_id]")}' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href='javascript:void(0)' onclick="return alert_del('{:url(\"del\",\"id=$vo[user_id]\")}', '确认要删除『 id={$vo.user_id} 』这条记录吗？');" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}    
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/datetime"  classname="create-time"/}
<script>
    $(function () {
        $('#field').change(function () {
            $('#field-name').attr('name',$(this).val());
        })

        $('#user-search-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/user/validateData')}",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    })
</script>



