<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/user/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{:input('id')?'edit':'add'}" method="post" name="myfrom" enctype="multipart/form-data" >
                {:input('id')?'<input type="hidden" value="'.$info['user_id'].'" name="id">':''}
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label no-padding-right"></label>-->
                    <!--<div class="col-sm-3">-->
                        <!--{if condition="input('id') && $info.avatar neq null"}-->
                        <!--<img style="height: 120px;width: 120px" src="{$avatar}" class="img-thumbnail">-->
                        <!--{/if}-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="space-4"></div>-->

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">头像:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail" style="border: 0">
                            <div class="cover">
                                {if condition="isset($avatar) && $avatar neq null"}
                                <img src="{$avatar}" style="height: 120px;width: 120px" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" style="height: 120px;width: 120px"/>
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="file">
                        <div id="img_url"></div>
                        <!-- The container for the uploaded files -->
                        <div id="files" class="files"></div>
                    </div>
                </div>
                <input type="hidden" name="avatar" id="image_input" value="{$info.avatar|default=''}"/>
                <div class="space-4"></div>


                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label no-padding-right">头像:</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="file" class="col-xs-10 col-sm-5" name="avatar"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="space-4"></div>-->

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">昵称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.username|default=''}" name="username"/>
                    </div>
                </div>
                <div class="space-4"></div>


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 密码:</label>
                    <div class="col-sm-9">
                        <input type="text" name="password" placeholder="Password" class="col-xs-10 col-sm-5" />
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 手机号码:</label>
                    <div class="col-sm-9">
                        <input type="text" name="add_mobile" placeholder="mobile" value="{$info.mobile|default=''}" class="col-xs-10 col-sm-5" />
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label no-padding-right"> 金额:</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="text" name="money" placeholder="money" value="{$info.money|default=''}" class="col-xs-10 col-sm-5" />-->
                        <!--<span class="help-inline col-xs-12 col-sm-7">-->
                            <!--<span class="middle"></span>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="space-4"></div>-->

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 邮箱:</label>
                    <div class="col-sm-9">
                        <input type="text" name="email" placeholder="email" value="{$info.email|default=''}" class="col-xs-10 col-sm-5" />
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 经验值:</label>
                    <div class="col-sm-9">
                        <input type="text" name="experience" placeholder="experience" value="{$info.experience|default=''}" class="col-xs-10 col-sm-5" />
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle"></span>
                        </span>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 性别:</label>
                    <div class="col-sm-9">
                        <label class="checkbox-inline">
                            <input type="radio" name="gender" value="男" {if condition="isset($info) && $info.gender eq '男'"}checked{/if}>男
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="gender" value="女" {if condition="isset($info) && $info.gender eq '女'"}checked{/if}>女
                        </label>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFile"  input_id="image_input"/}
<script>
    $(function(){
        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/user')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    })
</script>