<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_other_charge/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" name="myfrom" >
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">柜体类型:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  value="{$scheme_type_map[$info.scheme_type]|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">运费:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  value="{$info.freight_charge|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">安装费用:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  value="{$info.processing_charge|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">上楼费用:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  value="{$info.home_charge|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">其他费用:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  value="{$info.service_charge|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
