<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_other_charge/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">柜体类型:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  value="{$scheme_type_map[$info.scheme_type]|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">运费:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="freight_charge" value="{$info.freight_charge|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">安装费用:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="processing_charge" value="{$info.processing_charge|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">上楼费用:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="home_charge" value="{$info.home_charge|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">其他费用:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" name="service_charge" value="{$info.service_charge|default=''}"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>

            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(function(){
        $('#sub-btn').on('click',function () {
            $.ajax({
                url:"{:url('/admin/validate/customizedOtherCharge')}",
                type:"POST",
                data:$('form').serialize(),
                success:function(result){
                    if(result.code == 0){
                        alert(result.msg);
                    }else{
                        $('form').submit();
                    }
                },
                error:function () {
                    $('form').submit();
                }
            })
        })
    });
</script>