<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/my_home_buildings/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                {:input('id')?'<input type="hidden" value="'.$info['buildings_id'].'" name="id">':''}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">名称:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="name" value="{$info.name|default=''}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">省:</label>
                    <div class="col-sm-9">
                        <select name="province" id="province" class="col-xs-10 col-sm-5" onchange="displayChange()">
                            <option value=""></option>
                            {foreach name="province" item="vo"}
                            <option value="{$vo.name}">{$vo.name}</option>
                            {/foreach}
                        </select>
                        <!--<input type="text" class="col-xs-10 col-sm-5"  name="province" value="{$info.province|default=''}"/>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">市:</label>
                    <div class="col-sm-9">
                        <select name="city" id="city" class="col-xs-10 col-sm-5">
                            <option value=""></option>
                            {if condition=" !empty($city)"}
                            <option value=""></option>
                            {foreach name="city" item="vo"}
                            <option value="{$vo.name}">{$vo.name}</option>
                            {/foreach}
                            {/if}
                        </select>
                        <!--<input type="text" class="col-xs-10 col-sm-5"  name="city" value="{$info.city|default=''}"/>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">地址:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="address" value="{$info.address|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">户型:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="house_type" value="{$info.house_type|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">开盘时间:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="begin_time" value="{$info.begin_time|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">交房时间:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="others_time" value="{$info.others_time|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">装修标准:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="decorate_criterion" value="{$info.decorate_criterion|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">开发商:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="developer" value="{$info.developer|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">物业公司:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="property_company" value="{$info.property_company|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">容积率:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="plot_ratio" value="{$info.plot_ratio|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">占地面积:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="floor_space" value="{$info.floor_space|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">绿化率:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="greenest" value="{$info.greenest|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">物业费:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="property_fee" value="{$info.property_fee|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">车位比:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="carport_scale" value="{$info.carport_scale|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">物业类型:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="property_type" value="{$info.property_type|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">产权年限:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="property_rights" value="{$info.property_rights|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">规划户数:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5"  name="planning_count" value="{$info.planning_count|default=''}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">户型图:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_house_type_src" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.house_type_src) AND $info.house_type_src neq null"}
                                <img src="{$imgPre}{$info.house_type_src}?imageView2/0/w/100/h/100" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="file" data-type="thumbnail_house_type_src" data-input="img_input"/>
                    </div>
                </div>
                <input type="hidden" name="house_type_src" id="img_input" value="{$info.house_type_src|default=''}"/>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">封面图:</label>
                    <div class="fileinput-button col-sm-2">
                        <div class="thumbnail" id="thumbnail_poster_src" style="border: 0" >
                            <div class="cover">
                                {if condition="isset($info.poster_src) AND $info.poster_src neq null"}
                                <img src="{$imgPre}{$info.poster_src}?imageView2/0/w/100/h/100" />
                                {else /}
                                <img src="__STATIC__/img/add_img.png" />
                                {/if}
                            </div>
                        </div>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="file" data-type="thumbnail_poster_src" data-input="poster_src"/>
                    </div>
                </div>
                <input type="hidden" name="poster_src" id="poster_src" value="{$info.poster_src|default=''}"/>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">楼盘介绍:</label>
                    <div class="col-sm-9">
                        <div class="col-sm-12" id="editor-container">
                            <textarea id="intro" name="intro" style="height:500px;">{$info.intro|default=''}</textarea>
                        </div>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
{include file="public/ajaxFiles"/}
<script>

    function displayChange(){
        var objS = document.getElementById("province");
        var objChild = document.getElementById("city");
        var name = objS.options[objS.selectedIndex].value;
        if(name == ""){
            objChild.options.length = 0;
            var firstItem = new Option("全部", "");
            objChild.options.add(firstItem);
            return;
        }
        $.post("{$public_path}"+'/api/user_area/getCity', {province: name}, function (data) {
            if (data.code == '200') {
                var list = data.data.list;
                objChild.options.length = 0;
                var firstItem = new Option("全部", "");
                objChild.options.add(firstItem);
                for(var k=0;k<list.length;k++){
                    var varItem = new Option(list[k].name, list[k].name);
                    objChild.options.add(varItem);
                }
            }
        });
    }
    $().ready(function () {
        $("#province").val("{$info.province|default=''}");
        $("#city").val("{$info.city|default=''}");
    });
    $(function(){
        $('#sub-btn').on('click',function () {
            $('form').submit();
        })
    })
</script>
{include file="public/wangEditor"  textarea="intro"/}