<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/user_designer/index")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                详情
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" name="myfrom" >
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">身份证姓名:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.name|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">身份证号:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.identity_num|default=''}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">个人描述:</label>
                    <div class="col-sm-9">
                        <textarea class="col-xs-10 col-sm-5" rows="4" disabled>{$info.desc}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">正面照:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.identity_front_src}' />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">背面照:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.identity_back_src}' />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">资质证书:</label>
                    <div class="col-sm-9">
                        <img  class='img-thumbnail' src='{$imgPre}{$info.certificate_src}' />
                    </div>
                </div>
                <div class="space-4"></div>
                {if condition="$info.status neq 0"}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">审批日期:</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{:date('Y-m-d H:i:s',$info.update_time)}" disabled/>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">审批备注:</label>
                    <div class="col-sm-9">
                        <textarea class="col-xs-10 col-sm-5" rows="4" disabled>{$info.remark}</textarea>
                    </div>
                </div>
                <div class="space-4"></div>
                {/if}
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
