<div class="page-content">
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">
        <form class="form-inline" role="form" id="activity-search">
            <div class="form-group">
                <label class="control-label no-padding-right">审核状态:</label>
                <select name="status">
                    <option value="ALL">全部</option>
                    {volist name="statusMap" id="vo"}
                    <option value="{$key}" {if condition="isset($data['status']) AND $data['status'] === (string)$key"}selected{/if}>
                    {$vo}
                    </option>
                    {/volist}
                </select>
            </div>
            <button type="submit" class="pull-right btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">申请用户</th>
                                <th class="col-md-1">身份证名称</th>
                                <th class="col-md-1">身份证号</th>
                                <th class="col-md-1 text-center">正面照</th>
                                <th class="col-md-1 text-center">背面照</th>
                                <th class="col-md-2">审核状态</th>
                                <th class="col-md-3">审核备注</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {volist name="lists" id="vo"}
                        <tr>
                            <td>{$vo.username}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.identity_num}</td>
                            <td class="text-center">
                                <a href="{$imgPre}{$vo.identity_front_src}" target="_blank" title="点击查看"><i class="ace-icon fa fa-picture-o bigger-120"></i></a>
                            </td>
                            <td class="text-center">
                                <a href="{$imgPre}{$vo.identity_back_src}" target="_blank" title="点击查看"><i class="ace-icon fa fa-picture-o bigger-120"></i></a>
                            </td>
                            <td>{$statusMap[$vo.status]}</td>
                            <td>{$vo.remark}</td>
                            <td>
                                <div class="hidden-sm hidden-xs btn-group">
                                    <a title="查看" href='{:url("/admin/user_designer/detail","id=$vo[id]")}'>
                                       <span class="btn btn-xs btn-purple">
                                            <i class="ace-icon fa fa-eye bigger-120"></i>
                                        </span>
                                    </a>
                                    {if condition="$vo.status eq 0"}
                                    <a title="不予通过" href='#' data-toggle="modal" data-target="#myModal" data-action="reject" data-id="{$vo.id}" class="type-btn">
                                    <span class="btn btn-xs btn-inverse" >
                                            <i class="ace-icon fa  fa-ban bigger-120"></i>
                                        </span>
                                    </a>
                                    <a title="通过审核" href='#' data-toggle="modal" data-target="#myModal" data-action="pass" data-id="{$vo.id}" class="type-btn">
                                    <span class="btn btn-xs btn-success" >
                                            <i class="ace-icon fa fa-hand-peace-o fa- bigger-120"></i>
                                        </span>
                                    </a>
                                    {/if}
                                </div>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请填入备注信息</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="type-action">
                    <textarea name="remark" style="width: 100%" rows="4"></textarea>
                    <input name="id" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="type-submit">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    $(function() {
        $('.type-btn').on('click',function() {
            var action = $(this).attr('data-action');
            var id = $(this).attr('data-id');
            $('#type-action').attr('action',"{:url('/admin/user_designer/')}"+action);
            $('input[name=id]').val(id);
        })
        $('#type-submit').on('click',function() {
            $('#type-action').submit();
        })
    });
</script>




