<div class="page-content">
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">
        <form class="form-inline" role="form" id="activity-search">
            <div class="form-group">
                <label class="control-label no-padding-right">审核状态:</label>
                <select name="type">
                    <option value="ALL">全部</option>
                    {volist name="typeMap" id="vo"}
                    <option value="{$key}" {if condition="isset($data['type']) AND $data['type'] === (string)$key"}selected{/if}>{$vo}</option>
                    {/volist}
                </select>
                <label class="control-label no-padding-right">是否推荐:</label>
                <select name="is_recommended">
                    <option value="99" {if condition="isset($data['is_recommended']) AND $data['is_recommended'] eq 99"}selected{/if}>全部</option>
                    <option value="0" {if condition="isset($data['is_recommended']) AND $data['is_recommended'] eq 0"}selected{/if}>否</option>
                    <option value="1" {if condition="isset($data['is_recommended']) AND $data['is_recommended'] eq 1"}selected{/if}>是</option>
                </select>
            </div>
            <button type="submit" class="pull-right btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">案例id</th>
                                <th class="col-md-2">标题</th>
                                <th class="col-md-2">申请人</th>
                                <th class="col-md-1">申请状态</th>
                                <th>审核/拒绝备注</th>
                                <th class="col-md-1">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        {volist name="lists" id="vo"}
                        <tr>
                            <td>{$vo.works_id}</td>
                            <td>
                                {if condition="$vo.type eq 1 AND $vo.is_recommended eq 1"}
                                [建]
                                {/if}
                                {$vo.title}
                            </td>
                            <td>{$vo.username}</td>
                            <td>{$typeMap[$vo.type]}</td>
                            <td>{$vo.audit_remarks}</td>
                            <td>
                                <div class="hidden-sm hidden-xs btn-group">
                                    <a title="查看" href='{:url("/admin/works/detail","id=$vo[works_id]")}'>
                                       <span class="btn btn-xs btn-purple">
                                            <i class="ace-icon fa fa-eye bigger-120"></i>
                                        </span>
                                    </a>
                                    {if condition="$vo.type eq 0"}
                                    <a title="不予通过" href='#' data-toggle="modal" data-target="#myModal" data-action="reject" data-id="{$vo.works_id}" class="type-btn">
                                    <span class="btn btn-xs btn-inverse" >
                                            <i class="ace-icon fa  fa-ban bigger-120"></i>
                                        </span>
                                    </a>
                                    <a title="通过审核" href='#' data-toggle="modal" data-target="#myModal" data-action="pass" data-id="{$vo.works_id}" class="type-btn">
                                    <span class="btn btn-xs btn-success" >
                                            <i class="ace-icon fa fa-hand-peace-o fa- bigger-120"></i>
                                        </span>
                                    </a>
                                    {elseif condition="$vo.type eq 1" /}
                                    <a title="查看回复" href='{:url("/admin/works/showReplys","works_id=$vo[works_id]")}'>
                                           <span class="btn btn-xs btn-inverse">
                                                <i class="ace-icon fa fa-list bigger-120"></i>
                                            </span>
                                    </a>
                                    <a title="设置推荐" href='javascript:void(0)' class="set-recommended" data-id="{$vo.works_id}">
                                           <span class="btn btn-xs btn-warning">
                                                <i class="ace-icon fa fa-chevron-up bigger-120"></i>
                                            </span>
                                    </a>
                                    {/if}
                                </div>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {$lists->render()}
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请填入备注信息</h4>
            </div>
            <div class="modal-body">
                <form method="post" id="type-action">
                    <textarea name="audit_remarks" style="width: 100%" rows="4"></textarea>
                    <input name="id" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="type-submit">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    $(function() {
        $('.type-btn').on('click',function() {
            var action = $(this).attr('data-action');
            var id = $(this).attr('data-id');
            $('#type-action').attr('action',"{:url('/admin/works/')}"+action);
            $('input[name=id]').val(id);
        })
        $('#type-submit').on('click',function() {
            $('#type-action').submit();
        })

        $('.set-recommended').on('click',function () {
            $.ajax({
                url:"{:url('/admin/works/')}"+ 'setRecommended',
                data:'id='+$(this).attr('data-id'),
                type:'POST',
                success:function(result){
                    alert(result.msg);
                }
            })
        })
    });
</script>




