<div class="page-content">
    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getName()}
        </h1>
    </div><!-- /.page-header -->

    <div class="page-header">
        <form class="form-inline" role="form">
            <input type="hidden" class="form-control" name="works_id" value="{$works_id|default='0'}">
            <div class="form-group">
                <label class="control-label no-padding-right">回复内容:</label>
                <input type="text" class="form-control" name="content" value="{$data.content|default=''}" placeholder="请输入回复内容">
            </div>
            <button type="submit" class="pull-right btn">
                <span>
                    <i class="ace-icon fa fa-search"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <table id="simple-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-4">回复用户</th>
                                <th class="col-md-6">回复内容</th>
                                <th class="col-md-4">管理员操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <form name="myform">
                            {volist name="lists" id="vo"}
                            <tr {if condition="$vo.parent_comment_id eq 0"}class="info"{/if}>
                                <td>{if condition="$vo.parent_comment_id neq 0"}----{/if}
                                    {$vo.user.username}
                                    {if condition="$vo.by_user_id neq 0 AND $vo.by_comment_id neq $vo.parent_comment_id"}
                                     回复 @{$vo.toUser.username}
                                    {/if}
                                </td>
                                <td>{$vo.content}</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <a title="删除" href='javascript:void(0)'
                                           onclick="return alert_del('{:url(\"/admin/works/delReply\",\"id=$vo[comment_id]\")}', '确认要删除『 id={$vo.comment_id} 』这条记录吗(若删除一级回复，该回复下所有回复也会被删除)？');">
                                           <span class="btn btn-xs btn-danger" >
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                        </form>
                        </tbody>
                    </table>
                </div><!-- /.span -->
            </div><!-- /.row -->
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

