<div class="page-content">

    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '{:url("/admin/customized_cabinet_door_color/index","id=$cabinet_color_id")}'">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>

    <div class="page-header">
        <h1>
            {:model('AdminMenu')->getParentNname()}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                编辑
            </small>
        </h1>
    </div><!-- /.page-header -->
    <style>
        .pic_box li{ width:204px; height:154px;list-style-type:none; float:left; margin:16px; border:2px solid; border-color: #FFFFFF; position:relative}
        .cover_pic{top:0px; position:absolute; left:167px; width:30px; height:30px; display:none;}
    </style>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="{$action}" method="post" name="myfrom" enctype="multipart/form-data">
                <input type="hidden" value="{$cabinet_color_id}" name="id">
                <div class="pic_box">
                    <ul>
                        {volist name='colors' id='vo'}
                        <li {if condition="in_array($vo.color_id,$lists)"}style="border-color:#33FF00"{/if}>
                        <img class="show_pic" style="width:200px;height:150px"  src="{$imgPre}{$vo.img_src}"/>
                        <img class="cover_pic select_img" src="" alt="" {if condition="in_array($vo.color_id,$lists)"}style="display:block"{/if}>
                        <input type="checkbox" name="color_id[]" value="{$vo.color_id}" style="display: none;"
                               {if condition="in_array($vo.color_id,$lists)"}checked{/if}
                        />
                        </li>
                        {/volist}
                    </ul>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit" id="sub-btn">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>
    $(".show_pic").click(function(){
        if($(this).parent().find(".cover_pic").css("display") == "none"){
            $(this).parent().css("border-color","#33FF00").find(".cover_pic").show();
            $(this).siblings('input').prop('checked',true);
        }else{
            $(this).parent().css("border-color","#fff").find(".cover_pic").hide();
            $(this).siblings('input').prop('checked',false);
        }
    })
</script>